force-app/main/default/flows/Adobe_Target_Delete_Audience.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DeleteAudience</name>
        <label>DeleteAudience</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>AdobeTargetIHGProdService.DeleteAudience</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Audience_Deleted</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AUDIENCE_ID</name>
            <value>
                <elementReference>ATAudienceIdText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdobeTargetIHGProdService.DeleteAudience</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetAudienceAPICall</name>
        <label>GetAudienceAPICall</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <actionName>AdobeTargetIHGProdService.GetAudience</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_existing_Segment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>GetSegmentName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdobeTargetIHGProdService.GetAudience</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the AT Audience Id for the current iteration</description>
        <name>AssignATAudienceId</name>
        <label>AssignATAudienceId</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AudienceIdNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAudience.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATAudienceDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAudience.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATAudienceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAudience.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATAudienceModified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAudience.modifiedAt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAudience</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Audience_Deleted</name>
        <label>Audience Deleted?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ErrorDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Request Error</defaultConnectorLabel>
        <rules>
            <name>AudienceSuccessfullyDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteAudience.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AudienceSuccessfullyDeleteScreen</targetReference>
            </connector>
            <label>AudienceSuccessfullyDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckifDataCloudSegmentExists</name>
        <label>CheckifDataCloudSegmentExists</label>
        <locationX>1007</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DCInvalidSegmentIdScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoesnotExist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_1.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>GetSegmentName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAudienceAPICall</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_existing_Segment</name>
        <label>Delete existing Segment?</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Error</defaultConnectorLabel>
        <rules>
            <name>AudienceExistsAlready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAudienceAPICall.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAudienceAPICall.2XX.total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAudience</targetReference>
            </connector>
            <label>AudienceExistsAlready</label>
        </rules>
        <rules>
            <name>AudienceDoesNotExistAlready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAudienceAPICall.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAudienceAPICall.2XX.total</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AudienceDoesNotExist</targetReference>
            </connector>
            <label>AudienceDoesNotExistAlready</label>
        </rules>
        <rules>
            <name>MultipleAudiences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAudienceAPICall.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAudienceAPICall.2XX.total</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultipleAudiencesScreen</targetReference>
            </connector>
            <label>MultipleAudiences</label>
        </rules>
    </decisions>
    <description>A flow that, given a 15-digit Data Cloud segment ID, checks for the corresponding audience in Adobe Target. If found, it deletes the audience. This action does not affect the Data Cloud segment.</description>
    <environments>Default</environments>
    <formulas>
        <name>ATAudienceIdText</name>
        <dataType>String</dataType>
        <expression>Text({!AudienceIdNumber})</expression>
    </formulas>
    <interviewLabel>Adobe Target Delete Audience {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adobe Target Delete Audience</label>
    <loops>
        <description>Iterate through audiences array from get request (1 record) to assign the proper ID</description>
        <name>LoopAudience</name>
        <label>LoopAudience</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>GetAudienceAPICall.2XX.audiences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignATAudienceId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AudienceExists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckifDataCloudSegmentExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GetSegmentName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MarketSegment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AudienceDoesNotExist</name>
        <label>AudienceDoesNotExist</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>AudienceDoesNotExistDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;The audience have not been found in Adobe Target.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please, provide a valid Data Cloud &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;15-digit segment id&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Restart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AudienceExists</name>
        <label>AudienceExists</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeleteAudience</targetReference>
        </connector>
        <fields>
            <name>AudienceExistDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Audience &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ATAudienceName}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;have been found.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Adobe Target Audience&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description: &lt;/strong&gt;{!ATAudienceDescription}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Modified Date: &lt;/strong&gt;{!ATAudienceModified}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;This action will delete the &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Adobe Target audience only&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Data Cloud segment will remain unchanged.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Are you sure you want to proceed with delete action? &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AudienceSuccessfullyDeleteScreen</name>
        <label>AudienceSuccessfullyDeleteScreen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AudienceSuccessfullyDeletedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Audience for the segment id &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetSegmentName} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;have been successfully deleted!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DCInvalidSegmentIdScreen</name>
        <label>DCInvalidSegmentIdScreen</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetSegmentNameScreen</targetReference>
        </connector>
        <fields>
            <name>DCInvalidSegmentIdDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The segment {!GetSegmentName} you have inputted have not been found. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please enter a valid &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;15-digit Data Cloud segment ID&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt; and ensure that this ID is included in the segment name.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;There has been an error making the API call. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please send the following details to a developer through&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;mailto: martech-trailblazers@ihg.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(0, 43, 255);&quot;&gt;martech-trailblazers@ihg.com&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!GetAudienceAPICall}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Restart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorDelete</name>
        <label>ErrorDelete</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry</backButtonLabel>
        <fields>
            <name>ErrorDisplayDelete</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;There has been an error making the API call. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Please send the following details to a developer through &lt;/span&gt;&lt;a href=&quot;mailto: martech-trailblazers@ihg.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 43, 255); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;martech-trailblazers@ihg.com&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;{!DeleteAudience}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Restart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetSegmentNameScreen</name>
        <label>GetSegmentNameScreen</label>
        <locationX>1007</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
        <fields>
            <name>GetSegmentName</name>
            <dataType>String</dataType>
            <fieldText>Please, enter the Data Cloud 15-digit segment Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;The ID must be exactly 15 alphanumeric characters.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
    LEN({!GetSegmentName}) = 15,
    REGEX({!GetSegmentName}, &quot;^[a-zA-Z0-9]{15}$&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MultipleAudiencesScreen</name>
        <label>MultipleAudiencesScreen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MultipleAudiencesDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Multiple audiences have been found for the Data Cloud 15-digit id: {!GetSegmentName}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please, validate data in Adobe Target before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSegmentNameScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ATAudienceDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ATAudienceModified</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ATAudienceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AudienceIdNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateActionBody</name>
        <apexClass>ExternalService__AdobeTargetIHGProdService_ReplaceAudience_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
