force-app/main/default/flows/AdobeTargetCreateSegmentIHGProduction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Audience_Call</name>
        <label>Create Audience Call</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>AdobeTargetIHGProdCreateAudience.AdobeTargetIHGProdCreateAudience</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Was_Audience_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ActionBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdobeTargetIHGProdCreateAudience.AdobeTargetIHGProdCreateAudience</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_List_of_Audience</name>
        <label>Get List of Audience</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <actionName>AdobeTargetIHGProdExternalService.AdobeTargetGetAudienceAPICall</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Does_Audience_Exist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>GetSegmentName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdobeTargetIHGProdExternalService.AdobeTargetGetAudienceAPICall</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Segment_ID_Collection</name>
        <label>Add To Segment ID Collection</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SegmentIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSegmentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAudiencesBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAudiencesBody</name>
        <label>CreateAudiencesBody</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ActionBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.targetRule.crs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DC.CDP_SEGMENT_ID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionBody.targetRule.containsIgnoreCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SegmentIDCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Audience_Call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Audience_Exist</name>
        <label>Does Audience Exist?</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Create_Audience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_List_of_Audience.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_List_of_Audience.2XX.total</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAudience</targetReference>
            </connector>
            <label>Create Audience</label>
        </rules>
        <rules>
            <name>Do_Not_Create_Audience</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_List_of_Audience.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_List_of_Audience.2XX.total</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNotCreateAudience</targetReference>
            </connector>
            <label>Do Not Create Audience</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Data_Cloud</name>
        <label>Check If Data Cloud Segment Exists</label>
        <locationX>809</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Segment_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_List_of_Audience</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Audience_Created</name>
        <label>Was Audience Created?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>AudienceCreationNotSuccessful</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Audience_Created</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Audience_Call.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Audience_Call.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AudienceCreationSuccesful</targetReference>
            </connector>
            <label>Audience Created</label>
        </rules>
    </decisions>
    <description>A Screen flow used to create Segments in Adobe Target from Data Cloud

US356815 - Solution fix - Updated check Check If Data Cloud Segment Exist criteria</description>
    <environments>Default</environments>
    <interviewLabel>AdobeTargetIHGProd {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Segment in Adobe Target from Data Cloud Segment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Data_Cloud</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GetSegmentName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MarketSegment</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AudienceCreationNotSuccessful</name>
        <label>AudienceCreationNotSuccessful</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AudienceCreationNotSuccessfulDisplayText</name>
            <fieldText>&lt;p&gt;Audience Creation Not Successful. Please pass the following to a developer:&lt;/p&gt;&lt;p&gt;{!Create_Audience_Call}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AudienceCreationSuccesful</name>
        <label>AudienceCreationSuccesful</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p&gt;Audience Creation was successful!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateAudience</name>
        <label>CreateAudience</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_To_Segment_ID_Collection</targetReference>
        </connector>
        <fields>
            <name>DisplayCreateAudience</name>
            <fieldText>&lt;p&gt;No Existing Audiences found in Adobe Target. Please continue to create the Audience in Adobe Target.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DoNotCreateAudience</name>
        <label>DoNotCreateAudience</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayDoNotCreate</name>
            <fieldText>&lt;p&gt;Audience was not created in Adobe Target due to {!Get_List_of_Audience.2XX.total} number of audiences containing the following segment name in Adobe target: {!Get_Records.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;There has been an error. Please pass the following details to a developer for troubleshooting&lt;/p&gt;&lt;p&gt;{!Get_List_of_Audience}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetDataCloudSegmentID</name>
        <label>GetDataCloudSegmentID</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <fields>
            <name>GetSegmentName</name>
            <dataType>String</dataType>
            <fieldText>Please Enter the 15 Digit Code of the Segment ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Segment_Not_Found</name>
        <label>Segment Not Found</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTextSegmentNotFound</name>
            <fieldText>&lt;p&gt;The Data Cloud Segment ID you have entered does not exist. Ensure you are entering the 15 digit SF ID (If you have the 18 digit ID, omit the last 3 digits). If you are still encountering an error, please contact your Salesforce Administrator and ensure you have the 	&lt;/p&gt;&lt;p&gt;AdobeTargetSegmentCreationIHGProd permission set.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDataCloudSegmentID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionBody</name>
        <apexClass>ExternalService__AdobeTargetIHGProdCreateAudience_AdobeTargetIHGProdCreateAudience_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SegmentIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
