force-app/main/default/flows/AMB_Process_Member_Tier_Benefits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorLog</name>
        <label>ErrorLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ErrorLog_On_Update_MemberBenefit</name>
        <label>ErrorLog On Update MemberBenefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ProcessMemberBenefitAction</name>
        <label>Process Member Benefit Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>processMemberBenefitAction</actionName>
        <actionType>processMemberBenefitAction</actionType>
        <connector>
            <targetReference>Member_Benefit_with_Voucher_details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorLog</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>MemberBenefitId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>processMemberBenefitAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Process Member Tier Benefits</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Benefit_of_RAM_or_KIC</name>
        <label>Is Benefit of RAM or KIC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Expiration_Date_on_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>RAM_KIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_RAM_OR_KIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LoyaltyMemberTier_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiration_Date_on_Voucher_for_RAM_KIC</targetReference>
            </connector>
            <label>RAM/KIC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_LoyaltyMemberTier_not_Null</name>
        <label>Is LoyaltyMemberTier not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LoyaltyMemberTier_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_RAM_OR_KIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MemberBenefit_Start_End_date</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Member_benefit_of_Complimentary_Free_Night</name>
        <label>Is Member benefit of Complimentary/ Free Night</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Complimentary_Free_Night</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complimentary Weekend Night</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Benefit_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Night at an IHG property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcessMemberBenefitAction</targetReference>
            </connector>
            <label>Complimentary/ Free Night</label>
        </rules>
        <rules>
            <name>Member_Benefit_of_Royal_Kimpton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_RAM_OR_KIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LoyaltyMemberTier_not_Null</targetReference>
            </connector>
            <label>Member Benefit of Royal/Kimpton</label>
        </rules>
    </decisions>
    <description>Updated as part of US457103 || RAM| Vouchers Expiration date</description>
    <environments>Default</environments>
    <formulas>
        <name>EndTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR(ADDMONTHS({!$Flow.CurrentDate},13)),
MONTH(ADDMONTHS({!$Flow.CurrentDate},13)), 
1)</expression>
    </formulas>
    <formulas>
        <name>Is_RAM_OR_KIC</name>
        <dataType>Boolean</dataType>
        <expression>OR(
        LOWER({!Get_LoyaltyTierGroup.Name}) = LOWER({!$Label.LOY_Kimpton_Inner_Circle_Label_Text}),
        LOWER({!Get_LoyaltyTierGroup.Name}) = LOWER({!$Label.LOY_Royal_Ambassador_Label_Text})
)</expression>
    </formulas>
    <formulas>
        <name>LoyaltyTierGroupId_Check</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    OR(
        LEN({!$Record.PrimaryRefObjectRecord}) = 15,
        LEN({!$Record.PrimaryRefObjectRecord}) = 18
    ),
    REGEX({!$Record.PrimaryRefObjectRecord}, &quot;^[A-Za-z0-9]+$&quot;),
    REGEX({!$Record.PrimaryRefObjectRecord}, &quot;(?i)^0k&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>MemberBenefit_Enddate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!Get_LoyaltyMemberTier_Record.EffectiveDate}),
    NULL,
    DATE(
        YEAR({!Get_LoyaltyMemberTier_Record.EffectiveDate}),
        12,
        31
    )
)</expression>
    </formulas>
    <formulas>
        <name>StartTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>Process Member Tier Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Member Tier Benefits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LoyaltyMemberTier_Record</name>
        <label>Get LoyaltyMemberTier Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Member_benefit_of_Complimentary_Free_Night</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyTierGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PrimaryRefObjectRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LoyaltyTierGroup</name>
        <label>Get LoyaltyTierGroup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LoyaltyMemberTier_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PrimaryRefObjectRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTierGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Member_Benefit_with_Voucher_details</name>
        <label>Member Benefit with Voucher details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Benefit_of_RAM_or_KIC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Expiration_Date_on_Voucher</name>
        <label>Expiration Date on Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LoyaltyMemberTier_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Member_Benefit_with_Voucher_details.PrimaryRefObjectRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Voucher</object>
    </recordUpdates>
    <recordUpdates>
        <name>Expiration_Date_on_Voucher_for_RAM_KIC</name>
        <label>Expiration Date on Voucher for RAM/KIC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_LoyaltyMemberTier_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Member_Benefit_with_Voucher_details.PrimaryRefObjectRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Get_LoyaltyMemberTier_Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>MemberBenefit_Enddate</elementReference>
            </value>
        </inputAssignments>
        <object>Voucher</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MemberBenefit_Start_End_date</name>
        <label>Update MemberBenefit Start/End date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>ErrorLog_On_Update_MemberBenefit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>MemberBenefit_Enddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Get_LoyaltyMemberTier_Record.EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LoyaltyTierGroup</targetReference>
        </connector>
        <filterFormula>OR(
    {!$Record.Benefit.Name} = &quot;Complimentary Weekend Night&quot;,
    {!$Record.Benefit.Name} = &quot;Free Night at an IHG property&quot;,
    NOT(ISBLANK({!$Record.PrimaryRefObjectRecord}))
)</filterFormula>
        <object>MemberBenefit</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
