force-app/main/default/flows/Clone_Guest_Preference_Code_with_Eligibility_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_record_field_values</name>
        <label>Assign new record field values</label>
        <locationX>815</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newRecord.hapi__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.PreferenceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Preference_Group.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.PreferenceSection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Preference_Section.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.ImageURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GPC_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_GuestPreferenceCode_record</name>
        <label>Clone GuestPreferenceCode record</label>
        <locationX>815</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>newRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.hapi__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.ServiceCode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.PreferenceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PreferenceGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecord.PreferenceSection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.PreferenceSection__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Guest_Preference_Code_with_Eligibility_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_HasDuplicate_vars</name>
        <label>Reset HasDuplicate vars</label>
        <locationX>213</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>HasDuplicateSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HasDuplicateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Code_was_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasDuplicateCode</name>
        <label>Set HasDuplicateCode</label>
        <locationX>703</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>HasDuplicateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Codes_by_Sequence_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasDuplicateSequence</name>
        <label>Set HasDuplicateSequence</label>
        <locationX>50</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>HasDuplicateSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_not_unique_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasDuplicateSequence_0</name>
        <label>Set HasDuplicateSequence</label>
        <locationX>348</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>HasDuplicateSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_not_unique_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_Code_field_value</name>
        <label>Set new Code field value</label>
        <locationX>579</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>newRecord.hapi__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Code2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GPC_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_GPC_reference_to_PCE</name>
        <label>Set new GPC reference to PCE</label>
        <locationX>1053</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PCE_records.Preference_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PCE_records.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPCERecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PCE_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PCE_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Duplicate_Sequence</name>
        <label>Has Duplicate Sequence</label>
        <locationX>203</locationX>
        <locationY>804</locationY>
        <defaultConnector>
            <targetReference>Field_not_unique_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Sequence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Codes_by_Sequence_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasDuplicateSequence</targetReference>
            </connector>
            <label>Duplicate Sequence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate_Sequence_error</name>
        <label>Is Duplicate Sequence error</label>
        <locationX>505</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Error_GPC_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Sequence_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION: Duplicate sequence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasDuplicateSequence_0</targetReference>
            </connector>
            <label>Duplicate Sequence error</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Code_was_set</name>
        <label>New Code was set</label>
        <locationX>378</locationX>
        <locationY>496</locationY>
        <defaultConnector>
            <targetReference>Create_GPC_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_new_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>field_Code2</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_new_Code_field_value</targetReference>
            </connector>
            <label>Has new code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_created</name>
        <label>Record created?</label>
        <locationX>808</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Get_Preference_Code_Eligibility_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created</defaultConnectorLabel>
        <rules>
            <name>Record_Id_is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasDuplicateCode</targetReference>
            </connector>
            <label>Record Id is Empty</label>
        </rules>
    </decisions>
    <description>US365468 - custom clone process to copy Guest Preference Code with related Preference Eligibility Rules.</description>
    <environments>Default</environments>
    <interviewLabel>Clone Guest Preference Code with Eligibility Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Guest Preference Code with Eligibility Rules</label>
    <loops>
        <name>Iterate_PCE_records</name>
        <label>Iterate PCE records</label>
        <locationX>944</locationX>
        <locationY>867</locationY>
        <collectionReference>Get_Preference_Code_Eligibility_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_GPC_reference_to_PCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PCE_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GPC_record</name>
        <label>Create GPC record</label>
        <locationX>815</locationX>
        <locationY>506</locationY>
        <assignRecordIdToReference>newRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Record_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Duplicate_Sequence_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hapi__Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.hapi__Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DisplayFormat__c</field>
            <value>
                <elementReference>newRecord.DisplayFormat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GRSAttributeCode__c</field>
            <value>
                <elementReference>newRecord.GRSAttributeCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generate_Trace__c</field>
            <value>
                <elementReference>newRecord.Generate_Trace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Help_Text__c</field>
            <value>
                <elementReference>newRecord.Help_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImageURL__c</field>
            <value>
                <elementReference>newRecord.ImageURL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenceGroup__c</field>
            <value>
                <elementReference>newRecord.PreferenceGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenceSection__c</field>
            <value>
                <elementReference>newRecord.PreferenceSection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenceType__c</field>
            <value>
                <elementReference>newRecord.PreferenceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_GRS__c</field>
            <value>
                <elementReference>newRecord.Send_to_GRS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence_Number__c</field>
            <value>
                <elementReference>newRecord.Sequence_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceCode__c</field>
            <value>
                <elementReference>newRecord.ServiceCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>newRecord.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Style__c</field>
            <value>
                <elementReference>newRecord.Style__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__Code__c</field>
            <value>
                <elementReference>newRecord.hapi__Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__Description__c</field>
            <value>
                <elementReference>newRecord.hapi__Description__c</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__GuestPreferenceCode__c</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Insert_PCE_records</name>
        <label>Insert PCE records</label>
        <locationX>810</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>newPCERecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Codes_by_Sequence_Number</name>
        <label>Get Codes by Sequence Number</label>
        <locationX>597</locationX>
        <locationY>801</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Duplicate_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.Sequence_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceSection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newRecord.PreferenceSection__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>newRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hapi__GuestPreferenceCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Code_Eligibility_records</name>
        <label>Get Preference Code Eligibility records</label>
        <locationX>943</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PCE_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preference_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Code_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Clone_Guest_Preference_Code_with_Eligibility_Rules</name>
        <label>Clone Guest Preference Code with Eligibility Rules</label>
        <locationX>814</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_record_field_values</targetReference>
        </connector>
        <fields>
            <name>Clone_Guest_Preference_Code_with_Eligibility_Rules_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Guest_Preference_Code_with_Eligibility_Rules_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Guest Preference Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The value entered must be 80 characters or fewer. Please adjust and try again.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!field_Name})&lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>field_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The value entered must be 100 characters or fewer. Please adjust and try again.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!field_Code})&lt;= 100</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Status__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Style__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.DisplayFormat__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ImageURL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.ImageURL__c</elementReference>
                    </defaultValue>
                    <fieldText>Image URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Add a link to an image that will be shown to guests for this preference.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.PreferenceType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.hapi__Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Guest_Preference_Code_with_Eligibility_Rules_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Sequence_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>field_Preference_Section</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PreferenceSection__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Preference Section</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>hapi__GuestPreferenceCode__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>newRecord.PreferenceSection__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>field_Preference_Group</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PreferenceGroup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Preference Group</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>hapi__GuestPreferenceCode__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>newRecord.PreferenceGroup__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.ServiceCode__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Send_to_GRS__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Generate_Trace__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.GRSAttributeCode__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Help_Text__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_GPC_creation</name>
        <label>Error - GPC creation</label>
        <locationX>513</locationX>
        <locationY>897</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_GPC_creation_message</name>
            <fieldText>&lt;p&gt;Guest Preference Code record creation failed:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Preference_Code_Eligibility_creation</name>
        <label>Error Preference Code Eligibility creation</label>
        <locationX>669</locationX>
        <locationY>978</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Preference_Code_Eligibility_creation_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Guest Preference Code &apos;&lt;/span&gt;&lt;a href=&quot;/{!newRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!newRecord.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&apos; created successfully!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Preference Code Eligibility record creation failed:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_not_unique_screen</name>
        <label>Field not unique screen</label>
        <locationX>209</locationX>
        <locationY>636</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_HasDuplicate_vars</targetReference>
        </connector>
        <fields>
            <name>Field_not_unique_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_not_unique_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Code_not_unique_error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Code must be unique across all Guest Preference Codes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a different value.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>field_Code2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newRecord.hapi__Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The value entered must be 100 characters or fewer. Please adjust and try again.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!field_Code2}) &lt;= 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HasDuplicateCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Field_not_unique_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Field_not_unique_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sequence_not_unique_error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;The Sequence Number must be unique within the same Preference Section.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a different value.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newRecord.Sequence_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>HasDuplicateSequence</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>810</locationX>
        <locationY>1127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Guest Preference Code &apos;&lt;a href=&quot;/{!newRecord.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!newRecord.Name}&lt;/a&gt;&apos; created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>689</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Copy_GuestPreferenceCode_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HasDuplicateCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasDuplicateSequence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newPCERecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Code_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>newRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hapi__GuestPreferenceCode__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hapi__GuestPreferenceCode__c</objectType>
    </variables>
</Flow>
