force-app/main/default/flows/Clone_Preference_Eligibility_Rule_with_Rule_Conditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_record_field_values_0</name>
        <label>Assign new record field values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordNew.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_Name_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rule_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Eligibility_Rule</name>
        <label>Clone Eligibility Rule</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>recordNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordNew.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Preference_Eligibility_Rule_with_Rule_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference2</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PHAE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PHAE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PHAE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PHAE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PHAE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PBE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PBE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PBE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PBE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PBE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PCE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PCE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PCE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PCE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PLPE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>5426</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PLPE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PLPE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PLPE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PLPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PLPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PLTE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PLTE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PLTE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PLTE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PLTE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PLTE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PPCE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PPCE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PPCE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PPCE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PPCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PPCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PPE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PPE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PPE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PPE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PRCE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PRCE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PRCE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PRCE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PRCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PRCE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PRE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PRE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PRE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PRE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PRE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PRE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_new_rule_reference_PSRE</name>
        <label>Set new rule reference</label>
        <locationX>264</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Iterate_PSRE.Eligibility_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordNew.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_PSRE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>records_PSRE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PSRE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PSRE</targetReference>
        </connector>
    </assignments>
    <description>US365469 - custom clone process to copy Preference Eligibility Rule with related Rule Conditions.</description>
    <environments>Default</environments>
    <interviewLabel>Clone Preference Eligibility Rule with Rule Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Preference Eligibility Rule with Rule Conditions</label>
    <loops>
        <name>Iterate_PBE</name>
        <label>Iterate PBE records</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_Preference_Brand_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PBE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PBE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PCE</name>
        <label>Iterate PCE records</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_Preference_Channel_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PHAE</name>
        <label>Iterate PHAE</label>
        <locationX>176</locationX>
        <locationY>5834</locationY>
        <collectionReference>Get_Preference_Hotel_Attribute_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PHAE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PLPE</name>
        <label>Iterate PLPE records</label>
        <locationX>176</locationX>
        <locationY>5318</locationY>
        <collectionReference>Get_Preference_Loyalty_Program_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PLPE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PLPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PLTE</name>
        <label>Iterate PLTE records</label>
        <locationX>176</locationX>
        <locationY>4802</locationY>
        <collectionReference>Get_Preference_Loyalty_Tier_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PLTE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PLTE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PPCE</name>
        <label>Iterate PPCE records</label>
        <locationX>176</locationX>
        <locationY>4286</locationY>
        <collectionReference>Get_Preference_Property_Country_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PPCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PPCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PPE</name>
        <label>Iterate PPE records</label>
        <locationX>176</locationX>
        <locationY>3770</locationY>
        <collectionReference>Get_Preference_Property_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PPE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PRCE</name>
        <label>Iterate PRCE records</label>
        <locationX>176</locationX>
        <locationY>3254</locationY>
        <collectionReference>Get_Preference_Residence_Country_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PRCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PRCE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PRE</name>
        <label>Iterate PRE records</label>
        <locationX>176</locationX>
        <locationY>2738</locationY>
        <collectionReference>Get_Preference_Region_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PRE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PRE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PSRE</name>
        <label>Iterate PSRE records</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <collectionReference>Get_Preference_SubRegion_Eligibility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_new_rule_reference_PSRE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_PSRE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rule_record</name>
        <label>Create Rule record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>recordNew.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Preference_Brand_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_GPC_creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>recordNew.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Min_Stay_Duration__c</field>
            <value>
                <elementReference>recordNew.Min_Stay_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordNew.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Preference_Eligibility_Rule__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_PBE</name>
        <label>Insert PBE</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Get_Preference_Channel_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PBE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PCE</name>
        <label>Insert PCE</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Get_Preference_SubRegion_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PCE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PHAE</name>
        <label>Insert PHAE</label>
        <locationX>176</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PHAE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PLPE</name>
        <label>Insert PLPE</label>
        <locationX>176</locationX>
        <locationY>5618</locationY>
        <connector>
            <targetReference>Get_Preference_Hotel_Attribute_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PLPE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PLTE</name>
        <label>Insert PLTE</label>
        <locationX>176</locationX>
        <locationY>5102</locationY>
        <connector>
            <targetReference>Get_Preference_Loyalty_Program_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PLTE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PPCE</name>
        <label>Insert PPCE</label>
        <locationX>176</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>Get_Preference_Loyalty_Tier_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PPCE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PPE</name>
        <label>Insert PPE</label>
        <locationX>176</locationX>
        <locationY>4070</locationY>
        <connector>
            <targetReference>Get_Preference_Property_Country_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PPE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PRCE</name>
        <label>Insert PRCE</label>
        <locationX>176</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Get_Preference_Property_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PRCE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PRE</name>
        <label>Insert PRE</label>
        <locationX>176</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Get_Preference_Residence_Country_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PRE</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_PSRE</name>
        <label>Insert PSRE</label>
        <locationX>176</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Get_Preference_Region_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Preference_Code_Eligibility_creation</targetReference>
        </faultConnector>
        <inputReference>records_PSRE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Preference_Brand_Eligibility</name>
        <label>Get Preference Brand Eligibility</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PBE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Brand_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Channel_Eligibility</name>
        <label>Get Preference Channel Eligibility</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PCE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Channel_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Hotel_Attribute_Eligibility</name>
        <label>Get Preference Hotel Attribute Eligibility</label>
        <locationX>176</locationX>
        <locationY>5726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PHAE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Hotel_Attribute_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Loyalty_Program_Eligibility</name>
        <label>Get Preference Loyalty Program Eligibility</label>
        <locationX>176</locationX>
        <locationY>5210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PLPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Loyalty_Program_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Loyalty_Tier_Eligibility</name>
        <label>Get Preference Loyalty Tier Eligibility</label>
        <locationX>176</locationX>
        <locationY>4694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PLTE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Loyalty_Tier_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Property_Country_Eligibility</name>
        <label>Get Preference Property Country Eligibility</label>
        <locationX>176</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PPCE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Property_Country_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Property_Eligibility</name>
        <label>Get Preference Property Eligibility</label>
        <locationX>176</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Property_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Region_Eligibility</name>
        <label>Get Preference Region Eligibility</label>
        <locationX>176</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PRE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Region_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_Residence_Country_Eligibility</name>
        <label>Get Preference Residence Country Eligibility</label>
        <locationX>176</locationX>
        <locationY>3146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PRCE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_Residence_Country_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Preference_SubRegion_Eligibility</name>
        <label>Get Preference SubRegion Eligibility</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_PSRE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Eligibility_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Preference_SubRegion_Eligibility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Clone_Preference_Eligibility_Rule_with_Rule_Conditions</name>
        <label>Clone Preference Eligibility Rule with Rule Conditions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_record_field_values_0</targetReference>
        </connector>
        <fields>
            <name>Clone_Preference_Eligibility_Rule_with_Rule_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Preference_Eligibility_Rule_with_Rule_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Preference Eligibility Rule</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The value entered must be 80 characters or fewer. Please adjust and try again.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression> LEN({!field_Name_0})&lt;= 80</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordNew.Min_Stay_Duration__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Preference_Eligibility_Rule_with_Rule_Conditions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>recordNew.Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_GPC_creation</name>
        <label>Error - GPC creation</label>
        <locationX>3344</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_GPC_creation_message</name>
            <fieldText>&lt;p&gt;Preference Eligibility Rule record creation failed:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Preference_Code_Eligibility_creation</name>
        <label>Error Preference Code Eligibility creation</label>
        <locationX>440</locationX>
        <locationY>6242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Related_record_creation</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>176</locationX>
        <locationY>6242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Preference Eligibility Rule &apos;&lt;a href=&quot;/{!recordNew.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!recordNew.Name}&lt;/a&gt;&apos; created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Eligibility_Rule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HasDuplicateCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HasDuplicateSequence</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Eligibility_Rule__c</objectType>
    </variables>
    <variables>
        <name>recordNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Eligibility_Rule__c</objectType>
    </variables>
    <variables>
        <name>records_PBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Brand_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PCE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Channel_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PHAE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Hotel_Attribute_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PLPE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Loyalty_Program_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PLTE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Loyalty_Tier_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PPCE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Property_Country_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PPE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Property_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PRCE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Residence_Country_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PRE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_Region_Eligibility__c</objectType>
    </variables>
    <variables>
        <name>records_PSRE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Preference_SubRegion_Eligibility__c</objectType>
    </variables>
</Flow>
