force-app/main/default/flows/Communication_Subscription_Explicit_Opt_In_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IHG_Save_Log_Action_1</name>
        <label>IHG Save Log Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Delete_Error</name>
        <label>Log Delete Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>IHG_Save_Log_Action_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CommunicationSubscriptionExplicitOptIn__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>flowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error deleting OptIn records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>deletedOptInRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Insert_Errors</name>
        <label>Log Insert Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IHG_Save_Log_Action_1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CommunicationSubscriptionExplicitOptIn__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>flowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error creating new OptIn records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>newOptInRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Existing_Country_Id</name>
        <label>Add Existing Country Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>existingCountryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lopp_Existing_OptIns.CountryId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopp_Existing_OptIns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Deleted_OptIn_Records</name>
        <label>Add to Deleted OptIn Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>deletedOptInRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Existing_OptIns2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_OptIns2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_OptIn_Records</name>
        <label>Add to New OptIn Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newOptInRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newOptInRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Countries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_OptIn_Record</name>
        <label>Create New OptIn Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newOptInRecord.CommunicationSubscriptionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOptInRecord.CountryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Countries.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_OptIn_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Existing_OptIns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Existing OptIns</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Existing_OptIns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Existing_Opt_In_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Existing_OptIns.CountryId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Selected_Countries.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>OptIn_Already_Exists</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>OptIn_In_Selected_OptIns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>OptIn In Selected OptIns</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_OptIn_In_Selected_OptIns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Country_Datatable.selectedRows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_OptIn_In_Selected_OptIns.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Existing_OptIns2.CountryId__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>OptIn_Was_Deselected</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>flowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Communication_Subscription_Explicit_Opt_In_Manager</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Deleted_Records_Exist</name>
        <label>Deleted Records Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Insert_New_OptIn_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Deleted_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deletedOptInRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Deselected_OptIn_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Country_IDs</name>
        <label>Existing Country IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCountryIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Countries</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>OptIn_Already_Exists</name>
        <label>OptIn Already Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_OptIn_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Existing_OptIns</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Selected_Countries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OptIn_Was_Deselected</name>
        <label>OptIn Was Deselected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_OptIns2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deselected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptIn_In_Selected_OptIns</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Deleted_OptIn_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Communication Subscription Explicit Opt-In Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communication Subscription Explicit Opt-In Manager</label>
    <loops>
        <name>Loop_Existing_OptIns2</name>
        <label>Loop Existing OptIns 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Opt_In_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OptIn_In_Selected_OptIns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deleted_Records_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Countries</name>
        <label>Loop Selected Countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Country_Datatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Existing_OptIns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Existing_OptIns2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Lopp_Existing_OptIns</name>
        <label>Lopp Existing OptIns</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Existing_Opt_In_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Existing_Country_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Country_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_OptIn_Records</name>
        <label>Insert New OptIn Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Insert_Errors</targetReference>
        </faultConnector>
        <inputReference>newOptInRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Deselected_OptIn_Records</name>
        <label>Delete Deselected OptIn Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_New_OptIn_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Delete_Error</targetReference>
        </faultConnector>
        <inputReference>deletedOptInRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Countries</name>
        <label>Get Countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>SubRegion__c</queriedFields>
        <queriedFields>Country_Code__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Countries</name>
        <label>Get Existing Countries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Countries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>existingCountryIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opt_In_Records</name>
        <label>Get Existing Opt-In Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lopp_Existing_OptIns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommunicationSubscriptionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CommunicationSubscriptionExplicitOptIn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Manage_Records</name>
        <label>Manage Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Countries</targetReference>
        </connector>
        <fields>
            <name>Country_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Country__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Countries</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Countries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8c27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Country_Code__c&quot;,&quot;guid&quot;:&quot;column-ced7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Country Code&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Existing_Countries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Opt_In_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Existing_OptIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>currentItem_OptIn_In_Selected_OptIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>deletedOptInRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>existingCountryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOptInRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>newOptInRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
