force-app/main/default/flows/Create_Default_Consent_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IHG_Save_Log</name>
        <label>IHG Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IHG_Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CommSubscriptionConsent</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Create_Default_Consent_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error inserting new Communication Subscription Consent records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>newConsents</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_New_Consents</name>
        <label>Add to New Consents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newConsents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newConsent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consent_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Consent_Record</name>
        <label>Create Consent Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newConsent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Consent_Records.CommunicationSubscription.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.CommSubscriptionChannelTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Consent_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.EffectiveFromDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.ConsentCapturedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.ConsentCapturedSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newConsent.ContactPointId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputContactPointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Consents</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Explicit_OptIns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Explicit OptIns</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Explicit_OptIns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Explicit_OptIn_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Explicit_OptIns.CommunicationSubscriptionId__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Create_Consent_Records.CommunicationSubscription.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Consent_By_Default</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Create_Consent_By_Default</name>
        <label>Create Consent By Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Consent_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Create_Consent_Records.CommunicationSubscription.GlobalDefaultOptInEnrollment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_Explicit_OptIns</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Consent_Records.CommunicationSubscription.GlobalDefaultOptInEnrollment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_Explicit_OptIns</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Consent_Records.EngagementChannelType.ContactPointType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Consent_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates Consent Records for consents granted on enrollment</description>
    <environments>Default</environments>
    <interviewLabel>Create Default Consent Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Default Consent Records</label>
    <loops>
        <name>Create_Consent_Records</name>
        <label>Create Consent Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Comm_Subscription_Channel_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Explicit_OptIns</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_New_Consents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_Consents</name>
        <label>Insert New Consents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputReference>newConsents</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Comm_Subscription_Channel_Types</name>
        <label>Get Comm Subscription Channel Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Country</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CommSubscriptionChannelType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommunicationSubscriptionId</queriedFields>
        <queriedFields>EngagementChannelTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Country</name>
        <label>Get Contact Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Explicit_OptIn_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContact.MailingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Explicit_OptIn_Records</name>
        <label>Get Explicit OptIn Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Consent_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CountryId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Country.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CommunicationSubscriptionExplicitOptIn__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommunicationSubscriptionId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Comm_Subscription_Channel_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Existing_Consents</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Explicit_OptIns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommunicationSubscriptionExplicitOptIn__c</objectType>
    </variables>
    <variables>
        <name>inputContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>inputContactPointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newConsent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>newConsentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>newConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
</Flow>
