force-app/main/default/flows/CTB_Active_Member_Benefit_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_Log_when_Creating_Member_Benefit</name>
        <label>Create a Log when Creating Member Benefit</label>
        <locationX>50</locationX>
        <locationY>3314</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_List_has_data_to_Update_Member_Benefits_for_Rehired</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MemberBenefitCreateLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Log_when_Update_Member_Benefit</name>
        <label>Create a Log when Update Member Benefit</label>
        <locationX>50</locationX>
        <locationY>3854</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Existing_Member_Benefits_to_Set_the_Status_as_Expired_If_any</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MemberBenefitRehireUpdateLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Log_when_updating_Expired_Member_Benefit</name>
        <label>Create a Log when updating Expired Member Benefit</label>
        <locationX>50</locationX>
        <locationY>5120</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Terminated_Employees_Deactivate_LPM_LPGMR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MemberBenefitUpdateExpiredLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Log_for_CTB_Rules_Records_Query</name>
        <label>Create Log for CTB Rules Records Query</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_over_CTB_Rules</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>CTBRuleLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Log_For_Exisiting_Member_Benefit_Records_Query</name>
        <label>Create Log For Exisiting Member Benefit Records Query</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_over_CTB_Rules_Member_Benefits_DB</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ExisitingMemberBenefitLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_BenefitId_From_Each_CTB_Rule</name>
        <label>Assign BenefitId From Each CTB Rule</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>MemberBenefitIdsFromCTBRules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_CTB_Rules.Benefit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_CTB_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_to_Create_Member_Benefit</name>
        <label>Assign Data to Create Member Benefit</label>
        <locationX>974</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.SourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CTB Exclusive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_CTB_Rules_Member_Benefits_DB.Benefit__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.BenefitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_CTB_Rules_Member_Benefits_DB.Benefit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employees.Loyalty_Program_Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMemberBenefitSingleRecord.MaximumUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_CTB_Rules_Member_Benefits_DB.Benefit__r.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOrUpdateMemberBenefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateMemberBenefitSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_CTB_Rules_Member_Benefits_DB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_Record_for_Logs</name>
        <label>Assign Employee Record for Logs</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EmployeeRecordforLogs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CTB_Benefit_Assignment_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_isDBMemberBenefitExist_to_False</name>
        <label>Set isDBMemberBenefitExist to False</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>isDBMemberBenefitExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Benefits_already_assigned_to_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_isDBMemberBenefitExist_to_True</name>
        <label>Set isDBMemberBenefitExist to True</label>
        <locationX>1282</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>isDBMemberBenefitExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Status_as_Expired_then_Set_Processed_for_Re_Hired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_as_Expired_If_Not_Eligible</name>
        <label>Set Status as Expired If Not Eligible</label>
        <locationX>138</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>UpdateExistingMemberBenefitStatusToExpired.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateExistingMemberBenefitStatusToExpired.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateExistingMemberBenefitStatusToExpired.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofUpdateExistingMemberBenefitStatusToExpired</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateExistingMemberBenefitStatusToExpired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Status_to_Processed_Clear_EndDate</name>
        <label>update Status to Processed + Clear EndDate</label>
        <locationX>1150</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>updateMemberBenegitSingleToProcessedForRehired.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberBenegitSingleToProcessedForRehired.EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberBenegitSingleToProcessedForRehired.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Existing_Member_Benefits.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberBenegitSingleToProcessedForRehired.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateMemberBenegitCollectionToProcessedForRehired</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateMemberBenegitSingleToProcessedForRehired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Existing_Member_Benefits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_any_Member_Benefits_to_Expired</name>
        <label>Check If any Member Benefits to Expired?</label>
        <locationX>314</locationX>
        <locationY>4154</locationY>
        <defaultConnector>
            <targetReference>Check_If_Terminated_Employees_Deactivate_LPM_LPGMR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired_Member_Benefits_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Member_Benefits_to_Set_the_Status_as_Expired_If_any</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired</targetReference>
            </connector>
            <label>Expired Member Benefits &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Benefits_already_assigned_to_Member</name>
        <label>Check If Benefits already assigned to Member?</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Check_to_Create_Member_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Member Benefit</defaultConnectorLabel>
        <rules>
            <name>Member_Benefits_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Benefits_for_Member_based_on_BenefitIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Existing_Member_Benefits</targetReference>
            </connector>
            <label>Member Benefits &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_CTB_Rule_Benefit_Existing_Assigned_Benefit</name>
        <label>Check If CTB Rule Benefit = Existing Assigned Benefit?</label>
        <locationX>1436</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Existing_Member_Benefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefit_Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_CTB_Rules_Member_Benefits_DB.Benefit__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_Existing_Member_Benefits.Benefit.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_isDBMemberBenefitExist_to_True</targetReference>
            </connector>
            <label>Benefit Already Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_has_data_to_Update_Member_Benefits_for_Rehired</name>
        <label>Check If List has data to Update Member Benefits for Rehired?</label>
        <locationX>314</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Member_Benefits_to_Set_the_Status_as_Expired_If_any</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateMemberBenegitCollectionToProcessedForRehired</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Benefits_for_Re_Hired</targetReference>
            </connector>
            <label>yes, Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_has_records_to_Create_Member_Benefits</name>
        <label>Check If List has records to Create Member Benefits?</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Check_If_List_has_data_to_Update_Member_Benefits_for_Rehired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateOrUpdateMemberBenefits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Member_Benefits</targetReference>
            </connector>
            <label>yes, Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Status_as_Expired_then_Set_Processed_for_Re_Hired</name>
        <label>Check If Status as Expired, then Set Processed for Re-Hired</label>
        <locationX>1282</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Existing_Member_Benefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Processed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Existing_Member_Benefits.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Employees.EmployeeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Employees.EmployeeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Status_to_Processed_Clear_EndDate</targetReference>
            </connector>
            <label>Status = Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Status_is_Expired_but_EndDate_is_Blank</name>
        <label>Check If Status is Expired but EndDate is Blank</label>
        <locationX>534</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire_update_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired.EndDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Status_as_Expired_If_Not_Eligible</targetReference>
            </connector>
            <label>Expire, update EndDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Terminated_Employees_Deactivate_LPM_LPGMR</name>
        <label>Check If Terminated Employees, Deactivate LPM, LPGMR</label>
        <locationX>314</locationX>
        <locationY>5336</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employees.EmployeeStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOY_CTB_Deactivate_Loyalty_Program_Group_Members_and_Relationships</targetReference>
            </connector>
            <label>Status = Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Create_Member_Benefit</name>
        <label>Check to Create Member Benefit?</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_CTB_Rules_Member_Benefits_DB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDBMemberBenefitExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Data_to_Create_Member_Benefit</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ignore_If_Status_as_Expired_and_EndDate_is_Not_Null</name>
        <label>Ignore If Status as Expired and EndDate is Not Null</label>
        <locationX>336</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <targetReference>Check_If_Status_is_Expired_but_EndDate_is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_as_Expired_If_Not_Eligible</targetReference>
            </connector>
            <label>Expire</label>
        </rules>
    </decisions>
    <description>US376807-CTB | CTB Member Benefit Assignment Flow - Active Employees
US379944-CTB | CTB Member Benefit Assignment Flow - Terminated Employees
US384248-CTB | Member Benefit Assignment - Member Benefit mapping - Rehire Employee
DE104333 - Fix for Rehired and Terminated with SubGroup Populated
US397595 || CTB | Update Member Benefits Object - Maximum Units Field and impacted processes
US400995 || CTB | Add Nebula logging on record creation, deletion and updates - Employee</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;CTB Active &amp; Terminated Member Benefit Assignment Flow&apos;</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>CTB Member Benefit Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTB Active &amp; Terminated Member Benefit Assignment Flow</label>
    <loops>
        <name>Iterate_over_CTB_Rules</name>
        <label>Iterate over CTB Rules to Collect Benefit IDs</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_CTB_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BenefitId_From_Each_CTB_Rule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Benefits_for_Member_based_on_BenefitIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_CTB_Rules_Member_Benefits_DB</name>
        <label>Iterate over CTB Rules to Assign Member Benefits</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_CTB_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_isDBMemberBenefitExist_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_has_records_to_Create_Member_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Existing_Benefits_to_Set_the_Status_Expired</name>
        <label>Iterate over Existing Benefits to Set the Status Expired</label>
        <locationX>50</locationX>
        <locationY>4262</locationY>
        <collectionReference>Get_Existing_Member_Benefits_to_Set_the_Status_as_Expired_If_any</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ignore_If_Status_as_Expired_and_EndDate_is_Not_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_Expired_for_Ineligible_Member_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Existing_Member_Benefits</name>
        <label>Iterate over Existing Member Benefits</label>
        <locationX>1062</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_Existing_Benefits_for_Member_based_on_BenefitIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_CTB_Rule_Benefit_Existing_Assigned_Benefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_Create_Member_Benefit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Member_Benefits</name>
        <label>Create Member Benefits</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <connector>
            <targetReference>Get_ids_from_created_Member_Benefit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Create_Records_Exception</targetReference>
        </faultConnector>
        <inputReference>CreateOrUpdateMemberBenefits</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CTB_Benefit_Assignment_RecordType</name>
        <label>Get CTB Benefit Assignment RecordType</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CTB_Rules</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Query_Execption1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefit_Assignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CTB_Rules</name>
        <label>Get CTB Rules</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Id_s_from_Get_CTB_Rules</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Query_Exception2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employees.Employee_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee_Sub_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employees.Employee_Sub_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Evaluate_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CTB_Benefit_Assignment_RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTB_Rules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Employee_Record_for_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Query_Execption</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Benefits_for_Member_based_on_BenefitIds</name>
        <label>Get Existing Benefits for Member based on BenefitIds</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ids_from_Exisiting_Member_Benefit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Query_Exception3</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>In</operator>
            <value>
                <elementReference>MemberBenefitIdsFromCTBRules</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employees.Loyalty_Program_Member__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Member_Benefits_to_Set_the_Status_as_Expired_If_any</name>
        <label>Get Existing Member Benefits to Set the Status as Expired If any</label>
        <locationX>314</locationX>
        <locationY>4046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_any_Member_Benefits_to_Expired</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Query_Exception3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>MemberBenefitIdsFromCTBRules</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employees.Loyalty_Program_Member__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>isCTBBenefitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_Benefits_for_Re_Hired</name>
        <label>Update Member Benefits for Re-Hired</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Get_Ids_from_Member_Benefit_rehired</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Update_Exception</targetReference>
        </faultConnector>
        <inputReference>updateMemberBenegitCollectionToProcessedForRehired</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Expired_for_Ineligible_Member_Benefits</name>
        <label>Update Status = Expired for Ineligible Member Benefits</label>
        <locationX>50</locationX>
        <locationY>4904</locationY>
        <connector>
            <targetReference>Get_Ids_from_expired_Update_Member_Benefit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Update_Exception</targetReference>
        </faultConnector>
        <inputReference>ListofUpdateExistingMemberBenefitStatusToExpired</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LOY_CTB_Deactivate_Loyalty_Program_Group_Members_and_Relationships</name>
        <label>LOY - CTB Deactivate Loyalty Program Group Members and Relationships</label>
        <locationX>182</locationX>
        <locationY>5444</locationY>
        <flowName>LOY_CTB_Deactivate_Loyalty_Program_Group_Members_and_Relationships</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Employees.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Publish_Create_Records_Exception</name>
        <label>Publish Create Records Exception</label>
        <locationX>314</locationX>
        <locationY>3206</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Create the Member Benefits Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Member Benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Query_Exception2</name>
        <label>Publish Query Exception</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to select the CTB Rules Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>CTB Rules</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Query_Exception3</name>
        <label>Publish Query Exception</label>
        <locationX>1018</locationX>
        <locationY>1190</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Get the Member Benefits Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Member Benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Query_Execption</name>
        <label>Publish Query Execption</label>
        <locationX>1810</locationX>
        <locationY>242</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to select the Employee Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Query_Execption1</name>
        <label>Publish Query Execption</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to select the CTB Benefit Asignment Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Update_Exception</name>
        <label>Publish Update Exception</label>
        <locationX>314</locationX>
        <locationY>5012</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Update the Member Benefits Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>CTB Active Member Benefit Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Member Benefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CTBRuleLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found CTB Rule(s) with matching Group and Subgroup. Record IDs (if any): {!Get_Id_s_from_Get_CTB_Rules}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>ExisitingMemberBenefitLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found existing Member Benefit record(s) based on Benefit. Record IDs (if any): {!Get_ids_from_Exisiting_Member_Benefit}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>MemberBenefitCreateLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit records are successfully Created by {!$User.Id} with Record IDs (if any): {!Get_ids_from_created_Member_Benefit}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>MemberBenefitRehireUpdateLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit records were successfully updated to &apos;Processed&apos; by {!$User.Id}. Record IDs (if any): {!Get_Ids_from_Member_Benefit_rehired}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>MemberBenefitUpdateExpiredLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit records were successfully updated to &apos;Expired&apos; by {!$User.Id}. Record IDs (if any): {!Get_Ids_from_expired_Update_Member_Benefit}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>Get_Id_s_from_Get_CTB_Rules</name>
        <label>Get Id&apos;s from Get CTB Rules</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Log_for_CTB_Rules_Records_Query</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_CTB_Rules[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_ids_from_created_Member_Benefit</name>
        <label>Get ids from created Member Benefit</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Create_a_Log_when_Creating_Member_Benefit</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CreateOrUpdateMemberBenefits[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_ids_from_Exisiting_Member_Benefit</name>
        <label>Get ids from Exisiting Member Benefit</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Log_For_Exisiting_Member_Benefit_Records_Query</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Existing_Benefits_for_Member_based_on_BenefitIds[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Ids_from_expired_Update_Member_Benefit</name>
        <label>Get Ids from expired Update Member Benefit</label>
        <locationX>50</locationX>
        <locationY>5012</locationY>
        <connector>
            <targetReference>Create_a_Log_when_updating_Expired_Member_Benefit</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ListofUpdateExistingMemberBenefitStatusToExpired[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Ids_from_Member_Benefit_rehired</name>
        <label>Get Ids from Member Benefit rehired</label>
        <locationX>50</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Create_a_Log_when_Update_Member_Benefit</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>updateMemberBenegitCollectionToProcessedForRehired[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>CreateMemberBenefitSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>CreateOrUpdateMemberBenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>EmployeeRecordforLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>isDBMemberBenefitExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofUpdateExistingMemberBenefitStatusToExpired</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>MemberBenefitIdsFromCTBRules</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateExistingMemberBenefitStatusToExpired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <description>updateMemberBenegitCollectionToProcessedForRehired</description>
        <name>updateMemberBenegitCollectionToProcessedForRehired</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>updateMemberBenegitSingleToProcessedForRehired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
</Flow>
