force-app/main/default/flows/CTB_Benefit_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>When we are getting any exception while creating a record it will create a Log.</description>
        <name>Create_Benefit_Exception_Log</name>
        <label>Create Benefit Exception Log</label>
        <locationX>1634</locationX>
        <locationY>1406</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayErrors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Benefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>It will create a log when record is created.</description>
        <name>Create_Benefit_Success_Log</name>
        <label>Create Benefit Success Log</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>navigateToRecordPage</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Benefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogBenefitCreationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>benefitRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Creating this log when benefit type returns any value</description>
        <name>Create_Log_For_Benefit_Type_Records_Query</name>
        <label>Create Log For Benefit Type Records Query</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Benefit_Type</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Benefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>BenefitTypeMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>benefitRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the Benefit Type Id</description>
        <name>Set_Benefit_Type_Id</name>
        <label>Set Benefit Type Id</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.BenefitTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Benefit_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Free_Night_Award</name>
        <label>Set Free Night Award</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_diff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maximum_units_Upgrade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set values for other Benefits like Milestone and anything other than the Tier Upgrade Tier Night and Friends and Family rate.</description>
        <name>Set_Other_Values</name>
        <label>Set Other Values</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.UnitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_of_Measure_other.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Reward_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reward_Condition_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Choice_Expiration_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_Expiration_Days_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Number_of_Selectable_Choices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Selectable_Choices_other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Values of Rate for Family and Friends Benefit values.</description>
        <name>Set_Rate</name>
        <label>Set Rate</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maximum_units_emp_family_rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.UnitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_of_Measure_emp_family_rate.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Rate_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Category_emp_family_rate.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Tier Nights Benefit values</description>
        <name>Set_Tier_Night</name>
        <label>Set Tier Night</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maximum_units_tier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.UnitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_of_Measure_tier.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Tier Upgrade</description>
        <name>Set_Tier_Upgrade</name>
        <label>Set Tier Upgrade</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.Upgrade_To_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upgrade_To_Tier_upgrade.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Waiting_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wailing_Period_Days_upgrade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Update_and_Profile_Attributes</name>
        <label>Status Update/Profile Attributes</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>benefitRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_PA_SU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date_PA_SU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>benefitRecord.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Date_PA_SU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Benefit_Type_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_Employee_Rate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Rate</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_Friends_and_Family_Rate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Friends &amp; Family Rate</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_Milestone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_Tier_Night</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier Night</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_Tier_Upgrade</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier Upgrade</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if in the Permission Set Assignment the User is assigned appropriate Permission Set Group</description>
        <name>Check_Access</name>
        <label>Check Access</label>
        <locationX>1304</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>You_do_not_have_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Operation Persona</defaultConnectorLabel>
        <rules>
            <name>Operations_Persona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_permission</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Benefit_Record_Creation</targetReference>
            </connector>
            <label>Operations Persona</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Benefit Type and initialize the record</description>
        <name>Check_Benefit_Type</name>
        <label>Check Benefit Type</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family_Employee_Rate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_Employee_Rate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_Friends_and_Family_Rate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rate</targetReference>
            </connector>
            <label>Family Employee Rate</label>
        </rules>
        <rules>
            <name>Tier_Night</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_Tier_Night</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Night</targetReference>
            </connector>
            <label>Tier Night</label>
        </rules>
        <rules>
            <name>Tier_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_Tier_Upgrade</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Upgrade</targetReference>
            </connector>
            <label>Tier Upgrade</label>
        </rules>
        <rules>
            <name>Free_Night_Award</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Night Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Perks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Benefit_Type_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experiential Reward</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Benefit_Type_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Free_Night_Award</targetReference>
            </connector>
            <label>Free Night Award</label>
        </rules>
        <rules>
            <name>Status_Update_Profile_Attributes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Profile Attributes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Benefit_Type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Update_and_Profile_Attributes</targetReference>
            </connector>
            <label>Status Update/Profile Attributes</label>
        </rules>
    </decisions>
    <description>Flow to create Benefits record. Deployment March 6th
US402945 || CTB| Change label for Next button on the last step of the Create/Edit flows
US448154 || AMB | Add &apos;Maximum Units&apos; field on Benefit creation UI flow</description>
    <dynamicChoiceSets>
        <name>GetBenefitTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BenefitType</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsShared</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsShared__c</picklistField>
        <picklistObject>Benefit</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reward_Condition_choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reward_Condition__c</picklistField>
        <picklistObject>Benefit</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>effectiveDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!Effective_Date_PA_SU})), ({!Effective_Date_PA_SU}), IF(ISNULL({!Effective_Date_current}), {!Effective_Date}, {!Effective_Date_current}))</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>expirationDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!Expiration_Date_PA_SU})), ({!Expiration_Date_PA_SU}), IF(ISNULL({!Expiration_Date_current}), {!Expiration_Date}, {!Expiration_Date_current}))</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;CTB Benefit Record Creation&apos;</expression>
    </formulas>
    <formulas>
        <name>maximumUnitFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Capped}  = &apos;No&apos;, 0,{!Maximum_units_emp_family_rate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <formulas>
        <name>unitOfMeasureId</name>
        <dataType>String</dataType>
        <expression> IF(NOT(ISBLANK(({!Unit_of_Measure_tier1.recordId}))), {!Unit_of_Measure_tier1.recordId},{!benefitRecord.Unit.Id})</expression>
    </formulas>
    <formulas>
        <name>validateMaximumCount</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!Maximum_units_Upgrade}))&lt;=18</expression>
    </formulas>
    <interviewLabel>CTB Benefit Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTB Benefit Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Benefit Record from the input values for Benefit Type.</description>
        <name>Create_Benefit</name>
        <label>Create Benefit</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <assignRecordIdToReference>benefitRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Benefit_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Benefit_Exception_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Audience__c</field>
            <value>
                <elementReference>benefitRecord.Audience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitTypeId</field>
            <value>
                <elementReference>benefitRecord.BenefitType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Choice_Expiration_Days__c</field>
            <value>
                <elementReference>benefitRecord.Choice_Expiration_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>benefitRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>expirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GuestFacingBenefitName__c</field>
            <value>
                <elementReference>Guest_Facing_Benefit_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>benefitRecord.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCapped__c</field>
            <value>
                <elementReference>Is_Capped</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsShared__c</field>
            <value>
                <elementReference>Is_Shared</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Description__c</field>
            <value>
                <elementReference>benefitRecord.Long_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>benefitRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Selectable_Choices__c</field>
            <value>
                <elementReference>benefitRecord.Number_of_Selectable_Choices__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Predecessor_Benefit_ID__c</field>
            <value>
                <elementReference>benefitRecord.Predecessor_Benefit_ID__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Category__c</field>
            <value>
                <elementReference>benefitRecord.Rate_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reward_Condition__c</field>
            <value>
                <elementReference>benefitRecord.Reward_Condition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>benefitRecord.Sequence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Description__c</field>
            <value>
                <elementReference>benefitRecord.Short_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitId</field>
            <value>
                <elementReference>unitOfMeasureId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Units__c</field>
            <value>
                <elementReference>benefitRecord.Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upgrade_To_Tier__c</field>
            <value>
                <elementReference>benefitRecord.Upgrade_To_Tier__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value</field>
            <value>
                <elementReference>benefitRecord.Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_Period__c</field>
            <value>
                <elementReference>benefitRecord.Waiting_Period__c</elementReference>
            </value>
        </inputAssignments>
        <object>Benefit</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Object_permission</name>
        <label>Get Object permission</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>data_transform</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefit</stringValue>
            </value>
        </filters>
        <filters>
            <field>PermissionsCreate</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectPermissions</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>data_transform</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Select the Benefit Type and get the Id of the Benefit Type to be used in creating a benefit</description>
        <name>Get_the_Benefit_Type</name>
        <label>Get the Benefit Type</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Log_For_Benefit_Type_Records_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Benefit_Type_picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen to select the Benefit Type and provide values to create a Benefit</description>
        <name>Benefit_Record_Creation</name>
        <label>Benefit Record Creation</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_the_Benefit_Type</targetReference>
        </connector>
        <fields>
            <name>Benefit_Record_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Record_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Benefit_Type_picklist</name>
                    <choiceReferences>GetBenefitTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Benefit Type Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Record_Details_Milestone</name>
            <fieldText>Record Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Details_Milestone_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Unit_of_Measure_other</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UnitId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Unit of Measure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reward_Condition_other</name>
                    <choiceReferences>Reward_Condition_choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Choice</stringValue>
                    </defaultValue>
                    <fieldText>Reward Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Choice_Expiration_Days_other</name>
                    <dataType>Number</dataType>
                    <fieldText>Choice Expiration Days</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(251, 46, 46);&quot;&gt;Choice Expiration Days: value outside of valid range on numeric field&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Choice_Expiration_Days_other} &lt; 1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Predecessor_Benefit_ID__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Short_Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Sequence__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Details_Milestone_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.IsActive</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description_other</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 5, 23);&quot;&gt;Description: data value too large: (max length = 1000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN( {!Description_other})&lt;1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Number_of_Selectable_Choices_other</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Selectable Choices</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;The number of Voucher Definitions that a member is able to select from amongst the available options.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 27, 27);&quot;&gt;Number of Selectable Choices: value outside of valid range on numeric field&lt;/span&gt;&lt;span style=&quot;color: rgb(241, 26, 26);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_Selectable_Choices_other} &lt; 1000</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Value_other</name>
                    <dataType>Number</dataType>
                    <fieldText>Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Long_Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>const_Employee_Rate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>const_Friends_and_Family_Rate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Night</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Upgrade</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;&apos;</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Status Upgrade</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel Perks</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Experiential Reward , Points</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Profile Attributes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Free Night Award</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Benefit_Details_SU_PA</name>
            <fieldText>Record Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Details_SU_PA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Effective_Date_PA_SU</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expiration_Date_PA_SU</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Details_SU_PA_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_PA_SU</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.IsActive</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Profile Attributes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Status Upgrade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Details_statusUpgrade</name>
            <fieldText>Record Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Details_statusUpgrade_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description_diff</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expiration_Date_current</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Details_statusUpgrade_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_Date_current</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Maximum_units_Upgrade</name>
                    <dataType>Number</dataType>
                    <fieldText>Maximum Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Length_validate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateMaximumCount}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.IsActive</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Free Night Award</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel Perks</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Experiential Reward</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Points</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Details</name>
            <fieldText>Record Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Audience__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Description</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.Long_Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Guest_Facing_Benefit_Name</name>
                    <fieldText>Guest Facing Benefit Name</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>benefitRecord.IsActive</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Employee_Rate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Friends_and_Family_Rate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Night</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Upgrade</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Benefit_Details_Emp_FF_Rate</name>
            <fieldText>Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Details_Emp_FF_Rate_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Maximum_units_emp_family_rate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>maximumUnitFormula</elementReference>
                    </defaultValue>
                    <fieldText>Maximum units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Capped</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Unit_of_Measure_emp_family_rate</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UnitId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Unit of Measure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Details_Emp_FF_Rate_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rate_Category_emp_family_rate</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Rate_Category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Rate Category </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_Shared</name>
                    <choiceReferences>IsShared</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Shared</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_Capped</name>
                    <choiceReferences>IsShared</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Capped</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Employee_Rate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Friends_and_Family_Rate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Benefit_Details_Tier_Nights</name>
            <fieldText>Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Details_Tier_Nights_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Maximum_units_tier</name>
                    <dataType>Number</dataType>
                    <fieldText>Maximum units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Unit_of_Measure_tier</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UnitId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Unit of Measure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Details_Tier_Nights_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Night</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Benefit_Details</name>
            <fieldText>Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_of_Measure_tier1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Unit of Measure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UnitId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Details_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Hotel Perks</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Free Night Award</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Experiential Reward</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Points</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Benefit_Details_Tier_Upgrade</name>
            <fieldText>Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Details_Tier_Upgrade_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upgrade_To_Tier_upgrade</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Upgrade_To_Tier__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upgrade To Tier</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Benefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Details_Tier_Upgrade_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wailing_Period_Days_upgrade</name>
                    <dataType>Number</dataType>
                    <fieldText>Waiting Period (Days)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>const_Tier_Upgrade</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to show any error messages which occur when a record is created</description>
        <name>DisplayErrors</name>
        <label>DisplayErrors</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayErrors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FlowFaultMessages</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 50, 65);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>component for taking the user back to the list view page</description>
        <name>navigateToRecordPage</name>
        <label>navigateToRecordPage</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Benefit record created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>benefitRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Validation message that the user Does not have appropriate access level</description>
        <name>You_do_not_have_access</name>
        <label>You do not have access</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>You_do_not_have_access_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>You_do_not_have_access_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error_Screen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 13, 53);&quot;&gt;  You do not have access to create Benefits.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BenefitTypeMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found Benefit type with recordid : {!Get_the_Benefit_Type.Id}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogBenefitCreationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Benefit record is successfully created by {!$User.Id} with record id {!recordId}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>data_transform</name>
        <label>Collect Assignment  Ids</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Object_permission</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Permission_Set_Assignment[$EachItem].PermissionSetId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>benefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitofMeasure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UnitOfMeasure</objectType>
    </variables>
    <variables>
        <name>var_Description_length</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Employee_Rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employee Rate</stringValue>
        </value>
    </variables>
</Flow>
