force-app/main/default/flows/CTBEmployeeCalculateGroup_SubGroup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Make a call to Configured CTB Rules Decision Table by passing all Employee Input attribute and calculate the Employee Group and Sub Group.</description>
        <name>Calculate_Employee_Group_Sub_Group</name>
        <label>Calculate Employee Group &amp; Sub Group</label>
        <locationX>50</locationX>
        <locationY>1616</locationY>
        <actionName>CTBEmployeeGroupDecisionTableV2_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Assign_Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Employee_Exception_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Chains__c</name>
            <value>
                <elementReference>Get_Employee.Hotel__r.Chain_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Brands__c</name>
            <value>
                <elementReference>Get_Employee.Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Chains_Not_Equals__c</name>
            <value>
                <elementReference>Get_Employee.Hotel__r.Chain_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Brands_Not_Equals__c</name>
            <value>
                <elementReference>Get_Employee.Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Countrys__c</name>
            <value>
                <elementReference>Get_Employee.Primary_Work_Country_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkerSubType__c</name>
            <value>
                <elementReference>Get_Employee.Worker_Sub_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Employee_Job_Class__c</name>
            <value>
                <elementReference>employeeJobClass</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>get_CTB_Rules_Record_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Work_Location_Hotel__c</name>
            <value>
                <elementReference>isPWLaHotel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HotelMgtCategory__c</name>
            <value>
                <elementReference>Get_Employee.Hotel_Mgt_Category__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkerHROrgType__c</name>
            <value>
                <elementReference>Get_Employee.Worker_HR_Org_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Regions__c</name>
            <value>
                <elementReference>Get_Employee.Primary_Work_Country__r.Region__r.Region_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Primary_Work_Location__c</name>
            <value>
                <elementReference>Get_Employee.Primary_Work_Location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkerType__c</name>
            <value>
                <elementReference>Get_Employee.WorkerType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTBEmployeeGroupDecisionTableV2_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Log_for_Employee_Group_and_SubGroup</name>
        <label>Create a Log for Employee Group and SubGroup</label>
        <locationX>314</locationX>
        <locationY>2156</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>EmployeeGroupUpdateMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Employee_Exception_Log</name>
        <label>Create Employee Exception Log</label>
        <locationX>314</locationX>
        <locationY>1724</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_employee_Job_Class_to_Employee</name>
        <label>assign employee Job Class to Employee</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>employeeJobClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IHGEmployeeClass2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Calculate_Employee_Group_Sub_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_employee_Job_Class_to_Employee0</name>
        <label>assign employee Job Class to Employee</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>employeeJobClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IHGEmployeeClass2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Employee_Rule_Job_Titles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_employee_Job_Class_to_Employee2</name>
        <label>assign employee Job Class to Employee</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>employeeJobClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IHGEmployeeClass2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Employee_Rule_Job_Titles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_employee_Job_Class_to_Primary</name>
        <label>assign employee Job Class to Primary</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>employeeJobClass</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IHGEmployeeClass1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Calculate_Employee_Group_Sub_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_Record_for_Logs</name>
        <label>Assign Employee Record for Logs</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EmployeeLogs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_employee_HR_Type_and_worker_SubType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>50</locationX>
        <locationY>1724</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Employee_Group_Sub_Group.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateEmployeeGroupandSubGroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_employee_HR_Type_and_worker_SubType</name>
        <label>check employee HR Type and worker SubType</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>UpdateEmployeeGroupandSubGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Are_Notempty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee.Worker_HR_Org_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Employee.Worker_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CTB_Rules_Record_Type</targetReference>
            </connector>
            <label>Are Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Considered_as_Primary_is_checked0</name>
        <label>Check if Considered as Primary is checked</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Employee_Rule_Job_Titles.ConsideredasPrimary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_employee_Job_Class_to_Employee</targetReference>
            </connector>
            <label>Not Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Primary</name>
        <label>check Primary</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>assign_employee_Job_Class_to_Employee0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Employee_Rule_Job_Titles.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_employee_Job_Class_to_Primary</targetReference>
            </connector>
            <label>if Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_value</name>
        <label>check value</label>
        <locationX>633</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>assign_employee_Job_Class_to_Employee2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>value_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee.Job_Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_on_Employee_Rule_Job_Titles.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Considered_as_Primary_is_checked0</targetReference>
            </connector>
            <label>value exist</label>
        </rules>
    </decisions>
    <description>The purpose of this flow is - calculate the Employee Group and Sub Group of Employee Object based on the configuration of the CTB Rules defined in the CTB Rules Object. Pass the Employee Input parameters to the fields and calculate the best/accurate match by calling Decision Table.
US400995 || CTB | Add Nebula logging on record creation, deletion and updates - Employee
Updated as part of US454499 || CTB || Update Grouping Rule record type Conditions.</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;CTBEmployeeCalculateGroup&amp;SubGroup&apos;</expression>
    </formulas>
    <formulas>
        <name>isPWLaHotel</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Employee.Hotel__c}),  &quot;No&quot;, &quot;Yes&quot;)</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>CTBEmployeeCalculateGroup&amp;SubGroup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTBEmployeeCalculateGroup&amp;SubGroup</label>
    <loops>
        <name>loop_on_Employee_Rule_Job_Titles</name>
        <label>loop on Employee Rule Job Titles</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>get_employee_job_titles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Calculate_Employee_Group_Sub_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CTB_Rules_Record_Type</name>
        <label>get CTB Rules Record Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_employee_job_titles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee_Grouping_Rules</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Employee Record</description>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Employee_Record_for_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_employee_job_titles</name>
        <label>get employee Rule job titles</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_Employee_Rule_Job_Titles</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyCTBEmployeeRuleJobTitleConditions__c</object>
        <sortField>ConsideredasPrimary__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Based on the response from the Decision Table, extract the response and assign the Employee Group and Sub Group.</description>
        <name>UpdateEmployeeGroupandSubGroup</name>
        <label>Update Employee Group and Sub Group</label>
        <locationX>314</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Create_a_Log_for_Employee_Group_and_SubGroup</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Utility_Publish_Exception_Event_Flow_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employee_Group__c</field>
            <value>
                <elementReference>result.Employee_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Sub_Group__c</field>
            <value>
                <elementReference>result.Employee_Sub_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Matched_Rule__c</field>
            <value>
                <elementReference>result.Rule__c</elementReference>
            </value>
        </inputAssignments>
        <object>Employee</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Utility_Publish_Exception_Event_Flow_1</name>
        <label>Utility - Publish Exception Event Flow 1</label>
        <locationX>754</locationX>
        <locationY>2156</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>LOY - CTB Employee Calculate Group &amp; Sub Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_EmployeeCalculateGroup&amp;SubGroup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Insert or Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmployeeGroupUpdateMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Employee record has been successfully updated with the appropriate Group, Subgroup Based on Decision Table by {!$User.Id} with Record Id: {!Get_Employee.Id}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <variables>
        <name>employeeJobClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>EmployeeRuleJobTitleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyCTBEmployeeRuleJobTitleConditions__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTB_Rules__c</objectType>
    </variables>
</Flow>
