force-app/main/default/flows/EnrollingStay_RTFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LOY_SF_Enrolling_Stay_Decision_Table_Action_1</name>
        <label>LOY (SF)  Enrolling Stay Decision Table Action 1</label>
        <locationX>281</locationX>
        <locationY>1379</locationY>
        <actionName>LOY_SF_Enrolling_Stay_Decision_Table_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>assign_enrolling_Stay_result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LOY_BrandsExcluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_End_Date__c</name>
            <value>
                <elementReference>$Record.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsIncluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_BrandsIncluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_DaysAfter__c</name>
            <value>
                <elementReference>Days2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsIncluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_StartDate__c</name>
            <value>
                <elementReference>$Record.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsExcluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_DaysBefore__c</name>
            <value>
                <elementReference>Days1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsExcluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>Get_enrollingstay_rules_record_type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RegionsExcluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.LOY_Country__r.Region__r.Region_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_CountriesIncluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.LOY_Country__r.Country_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_CountriesExcluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.LOY_Country__r.Country_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RegionsIncluded__c</name>
            <value>
                <elementReference>$Record.LOY_Hotel__r.LOY_Country__r.Region__r.Region_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_SourceType__c</name>
            <value>
                <elementReference>lmlRecord.LOY_Enrollment_Source_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_SF_Enrolling_Stay_Decision_Table_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_enrolling_Stay_result</name>
        <label>Assign enrolling Stay result</label>
        <locationX>281</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>DTESRuleMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOY_SF_Enrolling_Stay_Decision_Table_Action_1.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_a_Rule_Matchs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_lml_collection_size</name>
        <label>get lml collection size</label>
        <locationX>784</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>lmlCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Loyalty_Membership_Lifecycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_there_is_more_than_one_LML</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_the_lml_unique_record</name>
        <label>get the lml unique record</label>
        <locationX>616</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>lmlRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_lml_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_lml_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_a_Rule_Matchs</name>
        <label>check if a Rule Matchs</label>
        <locationX>281</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Update_enrolling_Stay_to_No4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_Matchs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTESRuleMatched</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Matched_Rule</targetReference>
            </connector>
            <label>Rule Matchs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Locations_Match</name>
        <label>Check if Locations Match</label>
        <locationX>528</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_enrolling_Stay_to_No3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Matchs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lmlRecord.LOY_Location_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LOY_Hotel__r.Hotel_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOY_SF_Enrolling_Stay_Decision_Table_Action_1</targetReference>
            </connector>
            <label>Location Matchs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_LPM_Exist</name>
        <label>Check if LPM Exist</label>
        <locationX>1306</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_enrolling_Stay_to_No1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>member_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOY_LoyaltyProgramMember__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_LPM_exist_and_if_he_has_enrolling_stay</targetReference>
            </connector>
            <label>member found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_LPM_exist_and_if_he_has_enrolling_stay</name>
        <label>check if has enrolling stay</label>
        <locationX>1044</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_enrolling_Stay_to_No2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Not_enrolling_Stay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOY_LoyaltyProgramMember__r.LOY_Has_Posted_Enrolling_Stay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_enrollingstay_rules_record_type_Id</targetReference>
            </connector>
            <label>Has Not enrolling Stay</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Max_LOS_is_empty_or_not</name>
        <label>check if Max LOS is empty or not</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>LOS_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Max_LOS_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTESRuleMatched.LOY_MaxLOS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LOS_Indicator_to_No_ES_Indicator_to_Yes</targetReference>
            </connector>
            <label>Max LOS is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_there_is_more_than_one_LML</name>
        <label>check if there is more than one LML</label>
        <locationX>784</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_enrolling_Stay_to_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_check_if_there_is_more_than_one_LML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lmlCollectionSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_lml_collection</targetReference>
            </connector>
            <label>Outcome 1 of check if there is more than one LML</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOS_Check</name>
        <label>LOS Check</label>
        <locationX>204</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Update_LOS_Indicator_to_No_ES_Indicator_to_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LOS_Max_LOS_of_matched_rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOY_NightsStayed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DTESRuleMatched.LOY_MaxLOS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LOS_Indicator_to_Yes_ES_indicator_to_yes</targetReference>
            </connector>
            <label>LOS &gt;  &apos;Max LOS&apos; of matched rule</label>
        </rules>
    </decisions>
    <description>Record Trigger Flow triggered to fill enrolling stay outputs when the sub status update from OS Processed to ES Processed.</description>
    <environments>Default</environments>
    <formulas>
        <name>Days1</name>
        <dataType>Number</dataType>
        <expression>IF(DATEVALUE({!lmlRecord.LOY_Enrollment_Date__c}) &gt;={!$Record.LOY_CheckInDate__c}, 0, 
    {!$Record.LOY_CheckInDate__c}  - DATEVALUE({!lmlRecord.LOY_Enrollment_Date__c}) 
    )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Days2</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.LOY_CheckoutDate__c} &gt;= DATEVALUE({!lmlRecord.LOY_Enrollment_Date__c}), 0, 
    DATEVALUE({!lmlRecord.LOY_Enrollment_Date__c}) -  {!$Record.LOY_CheckoutDate__c}
    )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>EnrollingStay RTFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EnrollingStay RTFlow</label>
    <loops>
        <name>loop_on_lml_collection</name>
        <label>loop on lml collection</label>
        <locationX>528</locationX>
        <locationY>971</locationY>
        <collectionReference>get_Loyalty_Membership_Lifecycle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_the_lml_unique_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Locations_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Matched_Rule</name>
        <label>Create Matched Rule</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>check_if_Max_LOS_is_empty_or_not</targetReference>
        </connector>
        <inputAssignments>
            <field>LOY_RuleCategory__c</field>
            <value>
                <stringValue>Stay Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RuleProcessingDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RuleType__c</field>
            <value>
                <stringValue>Enrolling Stay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayProcessingRule__c</field>
            <value>
                <elementReference>DTESRuleMatched.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Stay__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LOY_MatchedLoyaltyRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_enrollingstay_rules_record_type_Id</name>
        <label>Get enrollingstay rules record type  Id</label>
        <locationX>784</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loyalty_Membership_Lifecycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOY_EnrollingStay</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Loyalty_Membership_Lifecycle</name>
        <label>get Loyalty Membership Lifecycle</label>
        <locationX>784</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_lml_collection_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LOY_LoyaltyProgramMember__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOY_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </filters>
        <filters>
            <field>LOY_Event_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One Rewards</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyMembershipLifecycle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_enrolling_Stay_to_No</name>
        <label>Update enrolling Stay to No</label>
        <locationX>1040</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_enrolling_Stay_to_No1</name>
        <label>Update enrolling Stay to No</label>
        <locationX>1568</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_enrolling_Stay_to_No2</name>
        <label>Update enrolling Stay to No</label>
        <locationX>1304</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_enrolling_Stay_to_No3</name>
        <label>Update enrolling Stay to No</label>
        <locationX>776</locationX>
        <locationY>1379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_enrolling_Stay_to_No4</name>
        <label>Update enrolling Stay to No</label>
        <locationX>512</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LOS_Indicator_to_No_ES_Indicator_to_Yes</name>
        <label>Update LOS Indicator to No &amp; ES Indicator to Yes</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_LOS_Indicator__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LOS_Indicator_to_Yes_ES_indicator_to_yes</name>
        <label>Update LOS Indicator to Yes &amp; ES Indicator to Yes</label>
        <locationX>72</locationX>
        <locationY>2027</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_EnrollingStayIndicator__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_LOS_Indicator__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>1180</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_LPM_Exist</targetReference>
        </connector>
        <filterFormula>AND( ISCHANGED({!$Record.StayProcessingSubStatus__c}), ISPICKVAL ({!$Record__Prior.StayProcessingSubStatus__c}, &quot;OS Processed&quot;),  ISPICKVAL ({!$Record.StayProcessingSubStatus__c}, &quot;ES Processed&quot;) )</filterFormula>
        <object>hapi__Stay__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyMembershipLifecycle</objectType>
    </variables>
    <variables>
        <name>DTESRuleMatched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>lmlCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lmlRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyMembershipLifecycle</objectType>
    </variables>
</Flow>
