force-app/main/default/flows/Get_Awardable_Voucher_Definitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Awardabe_Definitions</name>
        <label>Get Awardable Definitions</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <actionName>IhgGetVoucherDefinitionsForIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Number_of_Awardable_Definitions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inpMembershipNumber</name>
            <value>
                <elementReference>MemberNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IhgGetVoucherDefinitionsForIds</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varNonLocalAwardableDefinitions</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Localized_List</name>
        <label>Add to Localized List</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varAwardableVoucherDefinitions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Awardable_Def_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Awardable_Def_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables</name>
        <label>Assign Debug Variables</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loyalty_Program_Member process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loyalty Program Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loyalty_Program_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables_2</name>
        <label>Assign Debug Variables</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Awardabe_Definitions apex action process has failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varMembership_to_Membership_Number</name>
        <label>Assign varMembership to Membership Number</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MemberNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMembershipNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loyalty_Program_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Localize_Awardable_Definition</name>
        <label>Localize Awardable Definition</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Awardable_Def_Loop.FaceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Face_Value_and_Currency.varFaceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Awardable_Def_Loop.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Face_Value_and_Currency.varCurrencyISOCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Localized_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FlowMessage_Member_Not_Found</name>
        <label>Set FlowMessage Member Not Found</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyMesssage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_FlowResponse_No_Awardable_Definitions</name>
        <label>Set FlowResponse - No Awardable Definitions</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyMesssage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_No_Awardable_Vouchers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Number_of_Awardable_Definitions</name>
        <label>Set Number of Awardable Definitions</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AwardableDefinitionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varNonLocalAwardableDefinitions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Awardable_Definitions_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Awardable_Definitions_Found</name>
        <label>Awardable Definitions Found?</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Awardable_Def_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Awardable_Definitions_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AwardableDefinitionCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FlowResponse_No_Awardable_Definitions</targetReference>
            </connector>
            <label>No Awardable Definitions Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Member_Found</name>
        <label>Program Member Found</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Awardabe_Definitions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Member_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loyalty_Program_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FlowMessage_Member_Not_Found</targetReference>
            </connector>
            <label>Program Member Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Awardable Voucher Definitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Awardable Voucher Definitions</label>
    <loops>
        <name>Awardable_Def_Loop</name>
        <label>Awardable Def Loop</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <collectionReference>varNonLocalAwardableDefinitions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Face_Value_and_Currency</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Loyalty_Program_Member</name>
        <label>Loyalty Program Member</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Member_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_varMembership_to_Membership_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Determine_Face_Value_and_Currency</name>
        <label>Determine Face Value and Currency</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Localize_Awardable_Definition</targetReference>
        </connector>
        <flowName>LOY_Voucher_Determine_FV_and_Currency</flowName>
        <inputAssignments>
            <name>inMember</name>
            <value>
                <elementReference>Loyalty_Program_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inVoucherDefinition</name>
            <value>
                <elementReference>Awardable_Def_Loop</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Get_Awardable_Voucher_Definitions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <elementReference>varT_DebugOperation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AwardableDefinitionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.LOY_Success_200</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoyaltyMesssage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAwardableVoucherDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>varLoyaltyTierIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNonLocalAwardableDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>varT_DebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
