force-app/main/default/flows/JBSystemFlow_Member_Choice_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj4a3753d2d3daacc08c9365d1303b754c_FireJBTrigger</name>
        <label>SalesforceObj4a3753d2d3daacc08c9365d1303b754c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Contact__c&quot;,
  &quot;relationshipName&quot;: &quot;Contact__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Member_Choice__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4a3753d2d3daacc08c9365d1303b754c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514005572</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Member_Choice__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MailingCountry&quot;,&quot;MBRSHP_LVL_CD__c&quot;,&quot;IsSFMCVisible__c&quot;,&quot;Rewards_Number__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;TIER_LVL_EXPR_DT__c&quot;,&quot;RESIDENCE_CTRY_CD__c&quot;,&quot;TIER_LVL_LFTM_IND__c&quot;,&quot;IHG_CURRENT_RGN_CD__c&quot;,&quot;PREF_LANG_WRITTEN_CD__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Member_Choice__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;CreatedDate&quot;,&quot;Benefit_Id__c&quot;,&quot;Issue_Date__c&quot;,&quot;SystemModstamp&quot;,&quot;Benefit_Name__c&quot;,&quot;Source_Event__c&quot;,&quot;CurrencyIsoCode&quot;,&quot;Benefit_Value__c&quot;,&quot;Member_Number__c&quot;,&quot;LastModifiedDate&quot;,&quot;Member_Benefit__c&quot;,&quot;Expiration_Date__c&quot;,&quot;Members_Country__c&quot;,&quot;Milestone_Value__c&quot;,&quot;Benefit_Unit_Name__c&quot;,&quot;Benefit_Type_Name__c&quot;,&quot;Number_of_Choices__c&quot;,&quot;Milestone_Quantity__c&quot;,&quot;Number_of_Choice_Options__c&quot;,&quot;Expiration_Date_Calculated__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj67be356b282e2d99970b2b609fbec940_FireJBTrigger</name>
        <label>SalesforceObj67be356b282e2d99970b2b609fbec940_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Contact__c&quot;,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Member_Choice__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj67be356b282e2d99970b2b609fbec940</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514005572</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact__r&quot;,&quot;dePrefix&quot;:&quot;Member_Choice__c:Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;SystemModstamp&quot;,&quot;MailingCountry&quot;,&quot;MBRSHP_LVL_CD__c&quot;,&quot;IsSFMCVisible__c&quot;,&quot;LastModifiedDate&quot;,&quot;MBRSHP_STAT_CD__c&quot;,&quot;Rewards_Number__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;TIER_LVL_EXPR_DT__c&quot;,&quot;RESIDENCE_CTRY_CD__c&quot;,&quot;TIER_LVL_LFTM_IND__c&quot;,&quot;IHG_CURRENT_RGN_CD__c&quot;,&quot;PREF_LANG_WRITTEN_CD__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Member_Choice__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status__c&quot;,&quot;Contact__c&quot;,&quot;CreatedDate&quot;,&quot;Benefit_Id__c&quot;,&quot;Issue_Date__c&quot;,&quot;SystemModstamp&quot;,&quot;Benefit_Name__c&quot;,&quot;Source_Event__c&quot;,&quot;CurrencyIsoCode&quot;,&quot;Benefit_Value__c&quot;,&quot;Member_Number__c&quot;,&quot;LastModifiedById&quot;,&quot;Member_Benefit__c&quot;,&quot;Expiration_Date__c&quot;,&quot;Members_Country__c&quot;,&quot;Milestone_Value__c&quot;,&quot;Benefit_Unit_Name__c&quot;,&quot;Benefit_Type_Name__c&quot;,&quot;Number_of_Choices__c&quot;,&quot;Milestone_Quantity__c&quot;,&quot;Number_of_Choice_Options__c&quot;,&quot;Expiration_Date_Calculated__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</name>
        <label>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj67be356b282e2d99970b2b609fbec940</name>
        <label>JB_Decision_Null_Check_SalesforceObj67be356b282e2d99970b2b609fbec940</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
            </connector>
            <label>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Decision</name>
        <label>JB_SalesforceObj4a3753d2d3daacc08c9365d1303b754c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4a3753d2d3daacc08c9365d1303b754c</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4a3753d2d3daacc08c9365d1303b754c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4a3753d2d3daacc08c9365d1303b754c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Decision</name>
        <label>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj67be356b282e2d99970b2b609fbec940</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj67be356b282e2d99970b2b609fbec940_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj67be356b282e2d99970b2b609fbec940</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_State_change_Decision</name>
        <label>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4a3753d2d3daacc08c9365d1303b754c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj67be356b282e2d99970b2b609fbec940</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj67be356b282e2d99970b2b609fbec940_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj67be356b282e2d99970b2b609fbec940</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Member_Choice_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj67be356b282e2d99970b2b609fbec940</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Choice__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Choice__c</objectType>
    </variables>
</Flow>
