force-app/main/default/flows/LOY_CTB_Rule_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Brand_Record_Collection_Message</name>
        <label>Log Brand Record Collection Message</label>
        <locationX>1444</locationX>
        <locationY>1556</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Chains</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Brand__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogBrandRetrievalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Brands</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Chain_Record_Collection_Message</name>
        <label>Log Chain Record Collection Message</label>
        <locationX>1444</locationX>
        <locationY>1772</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Employee_Worker_Type</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Chain__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogChainRetrievalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Get_Chains</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Create_CTB_Rule_Success_Message</name>
        <label>Log Create CTB Rule Success Message</label>
        <locationX>1793</locationX>
        <locationY>3464</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NavigateToRecordPage</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>CTB_Rules__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogCreateSuccessCTBRule</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>CTBRuleRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>LogErrorMessageForCTBRuleCreation</name>
        <label>LogErrorMessageForCTBRuleCreation</label>
        <locationX>3338</locationX>
        <locationY>3464</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayErrors</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Benefit_Error_Msg_to_blank</name>
        <label>Assign Benefit Error Msg to blank</label>
        <locationX>2810</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>BenefitMandatoryMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Pooling_Type_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Brands_Exclude</name>
        <label>Assign Brands Exclude</label>
        <locationX>2066</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>Selected_Brands_Exclude</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Brands_Exclude.Brand_Code__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Brands_Exclude</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Brands_Include</name>
        <label>Assign Brands Include</label>
        <locationX>1762</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>Selected_Brands_Include</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Brands_Include.Brand_Code__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Brands_Include</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chains_Exclude</name>
        <label>Assign Chains Exclude</label>
        <locationX>2022</locationX>
        <locationY>2312</locationY>
        <assignmentItems>
            <assignToReference>Selected_Chains_Exclude</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Chains_Exclude.Name};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Chains_Exclude</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chains_Include</name>
        <label>Assign Chains Include</label>
        <locationX>1458</locationX>
        <locationY>2312</locationY>
        <assignmentItems>
            <assignToReference>Selected_Chains_Include</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_Chains_Include.Name};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Chains_Include</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the error message to a variable, which is then displayed on the screen.</description>
        <name>Assign_error_Message_as_Benefit_is_not_populated</name>
        <label>Assign error Message as Benefit is not populated</label>
        <locationX>2546</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>BenefitMandatoryMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.Benefit_Mandatory_Message}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Employee_Pooling_Type_Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_2_Error_Message</name>
        <label>Assign Step 2 Error Message</label>
        <locationX>314</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>BenefitAssignmentStep2ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group and Sub-Group are required.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Benefit_Assignment_Step_2_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_3_Error_Message</name>
        <label>Assign Step 3 Error Message</label>
        <locationX>578</locationX>
        <locationY>1880</locationY>
        <assignmentItems>
            <assignToReference>BenefitAssignmentStep3ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Benefit selection is required.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Benefit_Assignment_Step_3_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Worker_HR_Org_Type_Error_Message</name>
        <label>Assign Worker HR Org Type Error Message</label>
        <locationX>1018</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>WorkerHROrgTypeErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Worker HR Org Type is required. Please select a value from the dropdown.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Worker_HR_Org_Type_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDateErrorMessage</name>
        <label>AssignDateErrorMessage</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DisplayDateErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start Date must be today or a future date or End Date must be the same as or later than the Start Date.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outcome_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Exclude</name>
        <choiceText>Exclude</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude</stringValue>
        </value>
    </choices>
    <choices>
        <name>Include</name>
        <choiceText>Include</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Include</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Access</name>
        <label>Check Access</label>
        <locationX>2261</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>You_do_not_have_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Operations_Persona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_permission</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_Information</targetReference>
            </connector>
            <label>Operations Persona</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEndDateNullCheck</name>
        <label>CheckEndDateNullCheck</label>
        <locationX>1793</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CheckEndDateValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EndDateNotLessThenStartDateCheck</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CTBRuleObject.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Types</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEndDateValidation</name>
        <label>CheckEndDateValidation</label>
        <locationX>1947</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>RaiseError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CTBRuleObject.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CTBRuleObject.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssignDateErrorMessage</targetReference>
            </connector>
            <label>RaiseError</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStartDateValidation</name>
        <label>CheckStartDateValidation</label>
        <locationX>921</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CheckEndDateNullCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDateErrorMessage</targetReference>
            </connector>
            <label>RaiseError</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for benefit field is populated for Employee Pooling Recordtype Screen</description>
        <name>Is_Benefit_is_populated</name>
        <label>Is Benefit is populated</label>
        <locationX>2678</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Assign_Benefit_Error_Msg_to_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefit_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Benefit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_Message_as_Benefit_is_not_populated</targetReference>
            </connector>
            <label>Benefit is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Brands_Include_or_Exclude</name>
        <label>Is Brands Include or Exclude</label>
        <locationX>1934</locationX>
        <locationY>2504</locationY>
        <defaultConnector>
            <targetReference>Final_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Brands_Include</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Selection_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Include</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Brands_Include</targetReference>
            </connector>
            <label>Is Brands Include</label>
        </rules>
        <rules>
            <name>Is_Brands_Exclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Selection_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Exclude</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Brands_Exclude</targetReference>
            </connector>
            <label>Is Brands Exclude</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Chains_Include_or_Exclude</name>
        <label>Is Chains Include or Exclude</label>
        <locationX>1870</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <targetReference>Final_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Chains_Include</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chain_Selection_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Include</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Chains_Include</targetReference>
            </connector>
            <label>Is Chains Include</label>
        </rules>
        <rules>
            <name>Is_Chains_Exclude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chain_Selection_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Exclude</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Chains_Exclude</targetReference>
            </connector>
            <label>Is Chains Exclude</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Step_2_Filled</name>
        <label>Is Step 2 Filled?</label>
        <locationX>512</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Benefit_Assignment_Screen_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step_2_is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Employee_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CTBRuleObject.Employee_Sub_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Step_2_Error_Message</targetReference>
            </connector>
            <label>Step 2 is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Step_3_Filled</name>
        <label>Is Step 3 Filled</label>
        <locationX>710</locationX>
        <locationY>1772</locationY>
        <defaultConnector>
            <targetReference>Create_CTB_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step_3_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTBRuleObject.Benefit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Step_3_Error_Message</targetReference>
            </connector>
            <label>Step 3 is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Worker_HR_Org_Type_Filled</name>
        <label>Is Worker HR Org Type Filled?</label>
        <locationX>1444</locationX>
        <locationY>1988</locationY>
        <defaultConnector>
            <targetReference>Is_Chains_Include_or_Exclude</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Worker_HR_Org_Type_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Worker_HR_Org_Type_IsBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Worker_HR_Org_Type_Error_Message</targetReference>
            </connector>
            <label>Worker HR Org Type is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type?</label>
        <locationX>1793</locationX>
        <locationY>1340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefit_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Benefit_Assignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Benefit_Assignment_Step_2</targetReference>
            </connector>
            <label>Benefit Assignment</label>
        </rules>
        <rules>
            <name>Employee_Grouping_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Employee_Grouping_Rules</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Brands</targetReference>
            </connector>
            <label>Employee Grouping Rule</label>
        </rules>
        <rules>
            <name>Employee_Pooling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Employee_Pooling</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Pooling_Type_Screen_2</targetReference>
            </connector>
            <label>Employee Pooling</label>
        </rules>
    </decisions>
    <description>Updated Flow as part of US380174 || CTB | Pool foundation: CTB Pooling Rule Object, Record, Form Enhancements (UI/UX)
US381273 - Deprecate Unused CTB Rule Object Fields
US402125 - CTB | Add Nebula logging on record creation, deletion and updates - CTB Rules
US410298 || CTB| Populate the NomineeModificationLimit in the CTB Rules
US414739 || CTB | Populate the NomineeReactivationLimit in the Rules
US454499 || CTB | Update Grouping Rule record type Conditions</description>
    <dynamicChoiceSets>
        <name>CanEmployeeBeANominee</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CanEmployeeBeANominee__c</picklistField>
        <picklistObject>CTB_Rules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployeeGroupPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employee_Group__c</picklistField>
        <picklistObject>CTB_Rules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployeeSubGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employee_Sub_Group__c</picklistField>
        <picklistObject>CTB_Rules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsNomineeActiveMember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>isNomineeActiveMember__c</picklistField>
        <picklistObject>CTB_Rules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoolType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PoolType__c</picklistField>
        <picklistObject>CTB_Rules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTB_Rules__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <formulas>
        <name>validateCountofNominee</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!Max_Count_of_Nominees}))&lt;=3</expression>
    </formulas>
    <formulas>
        <name>validateModificationLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!Nominee_Modification_Limit}))&lt;=3</expression>
    </formulas>
    <formulas>
        <name>validateNomineeReactivationLimit</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!Nominee_Reactivation_Limit}))&lt;=3</expression>
    </formulas>
    <formulas>
        <name>validatePoolspernominee</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!Max_Pools_Per_Nominee}))&lt;=3</expression>
    </formulas>
    <formulas>
        <name>Worker_HR_Org_Type_IsBlank</name>
        <dataType>Boolean</dataType>
        <expression>IsBlank({!CTBRuleObject.WorkerHROrgType__c})</expression>
    </formulas>
    <interviewLabel>LOY CTB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY CTB Rule Creation</label>
    <loops>
        <name>Loop_Brands_Exclude</name>
        <label>Loop Brands Exclude</label>
        <locationX>1978</locationX>
        <locationY>2612</locationY>
        <collectionReference>Brand_Exclude_Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Brands_Exclude</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Brands_Include</name>
        <label>Loop Brands Include</label>
        <locationX>1674</locationX>
        <locationY>2612</locationY>
        <collectionReference>Brand_Include_Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Brands_Include</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Chains_Exclude</name>
        <label>Loop Chains Exclude</label>
        <locationX>1934</locationX>
        <locationY>2204</locationY>
        <collectionReference>Chains_Exclude_Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Chains_Exclude</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Brands_Include_or_Exclude</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Chains_Include</name>
        <label>Loop Chains Include</label>
        <locationX>1370</locationX>
        <locationY>2204</locationY>
        <collectionReference>Chains_Include_Data_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Chains_Include</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Brands_Include_or_Exclude</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CTB_Rules</name>
        <label>Create CTB Rules</label>
        <locationX>1793</locationX>
        <locationY>3356</locationY>
        <assignRecordIdToReference>CTBRuleRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Log_Create_CTB_Rule_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LogErrorMessageForCTBRuleCreation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>CTBRuleObject.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit__c</field>
            <value>
                <elementReference>CTBRuleObject.Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brands_Not_Equals__c</field>
            <value>
                <elementReference>Selected_Brands_Exclude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brands__c</field>
            <value>
                <elementReference>Selected_Brands_Include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CanEmployeeBeANominee__c</field>
            <value>
                <elementReference>Can_Employee_Be_A_Nominee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chains_Not_Equals__c</field>
            <value>
                <elementReference>Selected_Chains_Exclude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chains__c</field>
            <value>
                <elementReference>Selected_Chains_Include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>CTBRuleObject.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Group__c</field>
            <value>
                <elementReference>CTBRuleObject.Employee_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Job_Class__c</field>
            <value>
                <elementReference>CTBRuleObject.Employee_Job_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Sub_Group__c</field>
            <value>
                <elementReference>CTBRuleObject.Employee_Sub_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>CTBRuleObject.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotelMgtCategory__c</field>
            <value>
                <elementReference>CTBRuleObject.HotelMgtCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaxCountOfNominees__c</field>
            <value>
                <elementReference>Max_Count_of_Nominees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaxPoolsPerNominee__c</field>
            <value>
                <elementReference>Max_Pools_Per_Nominee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomineeModificationLimit__c</field>
            <value>
                <elementReference>Nominee_Modification_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomineeReactivationLimit__c</field>
            <value>
                <elementReference>Nominee_Reactivation_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoolType__c</field>
            <value>
                <elementReference>Pool_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Work_Location__c</field>
            <value>
                <elementReference>CTBRuleObject.Primary_Work_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rule_Name__c</field>
            <value>
                <elementReference>CTBRuleObject.Rule_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rule__c</field>
            <value>
                <elementReference>CTBRuleObject.Rule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>CTBRuleObject.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Location_Hotel__c</field>
            <value>
                <elementReference>CTBRuleObject.Work_Location_Hotel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerHROrgType__c</field>
            <value>
                <elementReference>CTBRuleObject.WorkerHROrgType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerSubType__c</field>
            <value>
                <elementReference>CTBRuleObject.WorkerSubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkerType__c</field>
            <value>
                <elementReference>CTBRuleObject.WorkerType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNomineeActiveMember__c</field>
            <value>
                <elementReference>Is_Nominee_Active_Member</elementReference>
            </value>
        </inputAssignments>
        <object>CTB_Rules__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Brands</name>
        <label>Get Brands</label>
        <locationX>1444</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Brand_Record_Collection_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Brand__c</object>
        <sortField>Brand_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chains</name>
        <label>Get Chains</label>
        <locationX>1444</locationX>
        <locationY>1664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Chain_Record_Collection_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chain__c</object>
        <sortField>Chain_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Object_permission</name>
        <label>Get Object permission</label>
        <locationX>2261</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>data_transform</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTB_Rules__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>PermissionsCreate</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectPermissions</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>2261</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>data_transform</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>1793</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTB_Rules__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Benefit_Assignment_Screen_3</name>
        <label>Benefit Assignment Screen 3</label>
        <locationX>710</locationX>
        <locationY>1664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Step_3_Filled</targetReference>
        </connector>
        <fields>
            <name>Benefit_Assignment_Screen_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Assignment_Screen_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Benefit__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Benefit_Assignment_Step_2</name>
        <label>Benefit Assignment Step 2</label>
        <locationX>512</locationX>
        <locationY>1448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Step_2_Filled</targetReference>
        </connector>
        <fields>
            <name>Benefit_Assignment_Step_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Benefit_Assignment_Step_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Benefit_Assignment_Step_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Sub_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Outcome_Message</name>
        <label>Display Outcome Message</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 45, 45);&quot;&gt;{!DisplayDateErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayErrors</name>
        <label>DisplayErrors</label>
        <locationX>3338</locationX>
        <locationY>3572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayErrors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FlowFaultMessages</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 50, 65);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Second Screen for Employee Pooling type</description>
        <name>Employee_Pooling_Type_Screen_2</name>
        <label>Employee Pooling Type Screen 2</label>
        <locationX>2678</locationX>
        <locationY>1448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Benefit_is_populated</targetReference>
        </connector>
        <fields>
            <name>Error_Message_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!BenefitMandatoryMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BenefitMandatoryMsg</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employee_Pooling_Type_Screen_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Pooling_Type_Screen_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Pooling_Type_Screen_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Sub_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employee_Pooling_Type_Screen_2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Pooling_Type_Screen_2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Benefit__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Pooling_Type_Screen_2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Third Screen for Employee Pooling type</description>
        <name>Employee_Pooling_Type_Screen_3</name>
        <label>Employee Pooling Type Screen 3</label>
        <locationX>2810</locationX>
        <locationY>1772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_CTB_Rules</targetReference>
        </connector>
        <fields>
            <name>Employee_Pooling_Type_Screen_3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pool_Type</name>
                    <choiceReferences>PoolType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pool Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;This field defines which pooling program the user is defining rules for.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Can_Employee_Be_A_Nominee</name>
                    <choiceReferences>CanEmployeeBeANominee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Can Employee Be A Nominee</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;This field determines if an employee can be a added as a nominee to a pool of this type.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employee_Pooling_Type_Screen_3_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_Nominee_Active_Member</name>
                    <choiceReferences>IsNomineeActiveMember</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Nominee Active Member</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;This field determines if the nominee must have an open IHG One Rewards account to be nominated to the pool.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Max_Count_of_Nominees</name>
                    <dataType>Number</dataType>
                    <fieldText>Max Count of Nominees</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This field determines how many nominees can be a part of the pool at the same time.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Length_validate}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateCountofNominee}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Employee_Pooling_Type_Screen_3_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Max_Pools_Per_Nominee</name>
                    <dataType>Number</dataType>
                    <fieldText>Max Pools Per Nominee</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This determines how many pools a single nominee may be a part of at the same time within a pooling program.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.Length_validate}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validatePoolspernominee}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Pooling_Type_Screen_3_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nominee_Modification_Limit</name>
                    <dataType>Number</dataType>
                    <fieldText>Nominee Modification Limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Length_validate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateModificationLimit}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Nominee_Reactivation_Limit</name>
                    <dataType>Number</dataType>
                    <fieldText>Nominee Reactivation Limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Length_validate}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateNomineeReactivationLimit}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Worker_Type</name>
        <label>Employee Worker Type</label>
        <locationX>1444</locationX>
        <locationY>1880</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Worker_HR_Org_Type_Filled</targetReference>
        </connector>
        <fields>
            <name>Employee_Worker_Type_Section</name>
            <fieldText>Employee Worker Type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Worker_Type_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.WorkerHROrgType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.WorkerType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.WorkerSubType__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Worker_Type_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Job_Class__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Work_Location_Hotel__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Primary_Work_Location__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hotel_Location_Details</name>
            <fieldText>Hotel Location Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Location_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.HotelMgtCategory__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Chain_Selection_Method</name>
                    <choiceReferences>Include</choiceReferences>
                    <choiceReferences>Exclude</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Include</defaultSelectedChoiceReference>
                    <fieldText>Chain Selection Method</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Select_Chains_to_Include</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Chains to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Include&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If no Chains are selected, none will apply to grouping decision&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Chain_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Include</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chains_Include_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Chain__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Chains</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Chains</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8889&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Chain Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Chain_Name__c&quot;,&quot;guid&quot;:&quot;column-859b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Chain Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Chain_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Include</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_Chains_to_Exclude</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Chains to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Exclude&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If no Chains are selected, none will apply to grouping decision&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Chain_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Exclude</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chains_Exclude_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Chain__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Chains</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Chains</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a0da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Chain Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Chain_Name__c&quot;,&quot;guid&quot;:&quot;column-c989&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Chain Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Chain_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Exclude</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Selection_Method</name>
                    <choiceReferences>Include</choiceReferences>
                    <choiceReferences>Exclude</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Include</defaultSelectedChoiceReference>
                    <fieldText>Brand Selection Method</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Select_Brands_to_Include</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Brands to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Include&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If no Brands are selected, none will apply to grouping decision&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Include</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Include_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Brand__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Brands</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Brands</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Brand_Code__c&quot;,&quot;guid&quot;:&quot;column-150d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8a1a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Include</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_Brands_to_Exclude</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Brands to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Exclude&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If no Brands are selected, none will apply to grouping decision&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Exclude</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Exclude_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Brand__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Brands</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Brands</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Brand_Code__c&quot;,&quot;guid&quot;:&quot;column-f090&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aebb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand_Selection_Method</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Exclude</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CTBRuleObject.WorkerHROrgType__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Hotels</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Details</name>
        <label>Final Details</label>
        <locationX>1870</locationX>
        <locationY>3080</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_CTB_Rules</targetReference>
        </connector>
        <fields>
            <name>Final_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Employee_Sub_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NavigateToRecordPage</name>
        <label>NavigateToRecordPage</label>
        <locationX>1793</locationX>
        <locationY>3572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CTBRuleRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Employee Grouping Rule has been created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rule_Information</name>
        <label>Rule Information</label>
        <locationX>921</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckStartDateValidation</targetReference>
        </connector>
        <fields>
            <name>Rule_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rule_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type</name>
                    <choiceReferences>RecordTypeList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Rule_Name__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Rule__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Rule_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Status</name>
            <fieldText>Date &amp; Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Start_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.End_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CTBRuleObject.Active__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Benefit_Assignment_Step_2_Error_Message</name>
        <label>Screen Benefit Assignment Step 2 Error Message</label>
        <locationX>314</locationX>
        <locationY>1772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayBenefitAssignmentStep2ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!BenefitAssignmentStep2ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Benefit_Assignment_Step_3_Error_Message</name>
        <label>Screen Benefit Assignment Step 3 Error Message</label>
        <locationX>578</locationX>
        <locationY>1988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Benefit_Assignment_Step_3_Error_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Benefit_Assignment_Step_3_Error_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayBenefitAssignmentStep3ErrorMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!BenefitAssignmentStep3ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Worker_HR_Org_Type_Error_Message</name>
        <label>Screen Worker HR Org Type Error Message</label>
        <locationX>1018</locationX>
        <locationY>2204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayWorkerHROrgTypeErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!WorkerHROrgTypeErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Validation message that the user Does not have appropriate access level</description>
        <name>You_do_not_have_access</name>
        <label>You do not have access</label>
        <locationX>3602</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 13, 53);&quot;&gt; You do not have access to create CTB Rules.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2135</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LogBrandRetrievalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Brand record is successfully retrieved by {!$User.Id} with record id {!Get_Brands}
Start Time: {!StartDateTime
}End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogChainRetrievalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Chain record is successfully retrieved by {!$User.Id} with record id {!Get_Chains}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogCreateSuccessCTBRule</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CTB Rule record is successfully created by {!$User.Id} with record id {!CTBRuleRecord.Id}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>data_transform</name>
        <label>Collect Assignment  Ids</label>
        <locationX>2261</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Object_permission</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Permission_Set_Assignment[$EachItem].PermissionSetId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>BenefitAssignmentStep2ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BenefitAssignmentStep3ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BenefitMandatoryMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTBRuleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CTB_Rules__c</objectType>
    </variables>
    <variables>
        <name>CTBRuleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CTB_Rules__c</objectType>
    </variables>
    <variables>
        <name>DisplayDateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Brands_Exclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Brands_Include</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Chains_Exclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Chains_Include</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEmployeeGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedEmployeeSubGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkerHROrgTypeErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
