force-app/main/default/flows/LOY_Voucher_After_Save_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Voucher_State</name>
        <label>Voucher State?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Voucher_Status_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>New_Reaward_Voucher</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Voucher_Issuance</targetReference>
            </connector>
            <label>New/Reaward Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_Status_Decision</name>
        <label>Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Issued_Not_Closed_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Redemption_Processed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Voucher_Redemption</targetReference>
            </connector>
            <label>Not Issued AND Not Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LOY - Voucher - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Redemption_Processed</name>
        <label>Redemption Processed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Nebula_Logging</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Redemption_Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Voucher_State</targetReference>
        </connector>
        <object>Voucher</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Triggers the flow that performs necessary actions when a voucher is newly issued.</description>
        <name>Handle_Voucher_Issuance</name>
        <label>Handle Voucher Issuance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>LOY_Subflow_Handle_Voucher_Issuance</flowName>
        <inputAssignments>
            <name>var_IssuedVoucher</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PriorVoucher</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Voucher_Redemption</name>
        <label>Handle Voucher Redemption</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Redemption_Processed</targetReference>
        </connector>
        <flowName>LOY_Subflow_Handle_Voucher_Redemption_2</flowName>
        <inputAssignments>
            <name>var_Voucher</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>Redemption Processed update process failed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Voucher_After_Save_3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
