force-app/main/default/flows/LOY_Create_TJ_from_Stay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow is used to create a transaction journal from a stay record</description>
    <environments>Default</environments>
    <interviewLabel>LOY_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_Create_TJ_from_Stay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TJ</name>
        <label>Create TJ</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcStayNonQualifyingNights__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_NonQualifyingNights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcStayQualifyingNights__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_QualifyingNights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcStayRewardNights__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_RewardNights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcStayTierQualifyingNights__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_TierQualifyingNights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Stay_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_Journal_Type_SubType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_Journal_Type_SubType.JournalTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Hotel__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_Hotel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Source_Stay__c</field>
            <value>
                <elementReference>Get_Stay_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Total_Qualifying_Revenue_USD__c</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_FinalTotalQualifyingRevenue_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_LoyaltyProgramMember__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerId</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_LoyaltyProgramMember__r.EarningPreferencePartnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransactionAmount</field>
            <value>
                <elementReference>Get_Stay_Record.LOY_FinalTotalQualifyingRevenue__c</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journal_Type_SubType</name>
        <label>Get Journal Type &amp; SubType</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stay_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stay Posting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stay_Record</name>
        <label>Get Stay Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_TJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hapi__Stay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journal_Type_SubType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
