force-app/main/default/flows/LOY_Create_CMM_on_LPM_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_id_Key_or_Contact_Id_is_empty</name>
        <label>Check id Key or Contact Id is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>If Key Not found</defaultConnectorLabel>
        <rules>
            <name>If_Key_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPMInputRecord.DGuestMasterKey__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LPMInputRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMM_Record_for_LPM</targetReference>
            </connector>
            <label>If Key Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_CMM_Already_Exist</name>
        <label>Check If CMM Already Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_CMM_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If CMM Not Found</defaultConnectorLabel>
        <rules>
            <name>If_CMM_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMM_Record_for_LPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If CMM Found</label>
        </rules>
    </decisions>
    <description>Subflow used to create the CMM record, by passing the LPM record.</description>
    <environments>Default</environments>
    <interviewLabel>LOY Create CMM on LPM Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Create CMM on LPM Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CMM_Record</name>
        <label>Create CMM Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>LPMInputRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dgst_mstr_key__c</field>
            <value>
                <elementReference>LPMInputRecord.DGuestMasterKey__c</elementReference>
            </value>
        </inputAssignments>
        <object>ContactMemberMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CMM_Record_for_LPM</name>
        <label>Get CMM Record for LPM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CMM_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LPMInputRecord.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContactMemberMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_id_Key_or_Contact_Id_is_empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LPMInputRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
</Flow>
