force-app/main/default/flows/LOY_inactivate_Employee_Benefits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Log_for_LPGMR_record</name>
        <label>Error Log for LPGMR record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Flowname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_for_LPM_record</name>
        <label>Log for LPM record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_LPM_closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Flowname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LPMrecordmessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_LPGMR_Log</name>
        <label>Update LPGMR Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Flowname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>UpdateLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_LPM_closed</name>
        <label>Is LPM closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_LPGMR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM_Records.MembershipStatusCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>Flowname</name>
        <dataType>String</dataType>
        <expression>&apos;LOY_inactivate_Employee_Benefits&apos;</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>&apos;LOY_inactivate_Employee_Benefits&apos; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>&apos;LOY_inactivate_Employee_Benefits&apos;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LPM_Records</name>
        <label>Get LPM Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_for_LPM_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loyalty_Program_Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPGMR</name>
        <label>Update LPGMR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_LPGMR_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_for_LPGMR_record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedLoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loyalty_Program_Member__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyPgmGroupMbrRlnsp</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LPM_Records</targetReference>
        </connector>
        <filterFormula>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              OR(AND(ISNEW(),NOT(ISNULL({!$Record.Loyalty_Program_Member__c}))),AND(ISCHANGED({!$Record.Loyalty_Program_Member__c}),NOT(ISNULL({!$Record.Loyalty_Program_Member__c}))))</filterFormula>
        <object>Employee</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LPMrecordmessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Successfully found LPM records.&lt;/p&gt;&lt;p&gt;Start time: {!StartDateTime}&lt;/p&gt;&lt;p&gt;End Time: {!EndDateTime}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UpdateLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loyalty Program Group Member Relationship record is successfully Updated by {!$User.Id} 
Start Time: {!StartDateTime}</text>
    </textTemplates>
</Flow>
