force-app/main/default/flows/LOY_CTB_Deactivate_Loyalty_Program_Group_Members_and_Relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_Log_when_updating_LPGMR</name>
        <label>Create a Log when updating LPGMR</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LPGMRUpdateInactiveLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Log_when_updating_LPM_to_Deactivate</name>
        <label>Create a Log when updating LPM to Deactivate</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Inactive_LPM_Ids_List_has_data_to_Update_LPGMR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Employee</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LPMUpdateDeactivateLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>EmployeeRecordforLogs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Employee_Record_for_Logs</name>
        <label>Assign Employee Record for Logs</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>EmployeeRecordforLogs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_GroupMemberType_LPM_s_for_Employee_LPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_False_EndDate_CurrentDate</name>
        <label>Set Active = False, EndDate = CurrentDate</label>
        <locationX>294</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>SingleRecordLPGMRSetActiveAsFalse.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordLPGMRSetActiveAsFalse.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRecordLPGMRSetActiveAsFalse.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_LPGMR_to_Set_Active_as_False.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfLPGMRSetActiveAsFalse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRecordLPGMRSetActiveAsFalse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_LPGMR_to_Set_Active_as_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive_Deactivated_LPM_Ids</name>
        <label>Set Inactive Deactivated LPM Ids</label>
        <locationX>690</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ListOfDeactivatedLPMIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Existing_LPM_s_to_Set_the_Status_Inactive.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Existing_LPM_s_to_Set_the_Status_Inactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_Status_as_Inactive</name>
        <label>Set the Status as Inactive</label>
        <locationX>690</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>singleRecordUpdateLPMtoDeactivate.MemberStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRecordUpdateLPMtoDeactivate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Existing_LPM_s_to_Set_the_Status_Inactive.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfRecordsUpdateLPMtoDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRecordUpdateLPMtoDeactivate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inactive_Deactivated_LPM_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_any_LPGMR_s_to_Set_Active_as_False</name>
        <label>Check If any LPGMR&apos;s to Set Active as False?</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Check_If_LPGMR_s_Active_as_False_and_End_Date_as_Today_has_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LPGMR_s_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPGMR_s_for_Selected_Inactive_LPM_s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_LPGMR_to_Set_Active_as_False</targetReference>
            </connector>
            <label>LPGMR&apos;s &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_LPM_s_to_Inactive</name>
        <label>Check If any LPM&apos;s to Inactive?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_If_Inactive_List_has_data_to_Update_LPM_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Data</defaultConnectorLabel>
        <rules>
            <name>Deactivated_LPM_s_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GroupMemberType_LPM_s_for_Employee_LPM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Existing_LPM_s_to_Set_the_Status_Inactive</targetReference>
            </connector>
            <label>Deactivated LPM&apos;s &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Inactive_List_has_data_to_Update_LPM_s</name>
        <label>Check If Inactive List has data to Update LPM&apos;s?</label>
        <locationX>710</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Check_If_Inactive_LPM_Ids_List_has_data_to_Update_LPGMR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfRecordsUpdateLPMtoDeactivate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPM_s_to_Deactivate</targetReference>
            </connector>
            <label>yes, Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Inactive_LPM_Ids_List_has_data_to_Update_LPGMR</name>
        <label>Check If Inactive LPM Ids List has data to Update LPGMR?</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Get_LPMGR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfDeactivatedLPMIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LPGMR_s_for_Selected_Inactive_LPM_s</targetReference>
            </connector>
            <label>yes, Get LPMGR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_LPGMR_s_Active_as_False_and_End_Date_as_Today_has_Data</name>
        <label>Check If LPGMR&apos;s Active as False and End Date as Today has Data?</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tes_Update_LPGMR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfLPGMRSetActiveAsFalse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LPGMR_s_to_Set_Active_as_False_and_EndDate</targetReference>
            </connector>
            <label>tes, Update LPGMR</label>
        </rules>
    </decisions>
    <description>US398219 CTB | Terminated Employees - Deactivate Loyalty Program Group Members and Relationships
US400995 || CTB | Add Nebula logging on record creation, deletion and updates - Employee</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY - CTB Deactivate Loyalty Program Group Members and Relationships&apos;</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>LOY CTB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - CTB Deactivate Loyalty Program Group Members and Relationships</label>
    <loops>
        <name>Iterate_over_Existing_LPM_s_to_Set_the_Status_Inactive</name>
        <label>Iterate over Existing LPM&apos;s to Set the Status Inactive</label>
        <locationX>602</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_GroupMemberType_LPM_s_for_Employee_LPM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_the_Status_as_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Inactive_List_has_data_to_Update_LPM_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_LPGMR_to_Set_Active_as_False</name>
        <label>Iterate over LPGMR to Set Active as False</label>
        <locationX>206</locationX>
        <locationY>1922</locationY>
        <collectionReference>Get_LPGMR_s_for_Selected_Inactive_LPM_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Active_False_EndDate_CurrentDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_LPGMR_s_Active_as_False_and_End_Date_as_Today_has_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Employee_Record_for_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GroupMemberType_LPM_s_for_Employee_LPM</name>
        <label>Get GroupMemberType LPM&apos;s for Employee LPM</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_any_LPM_s_to_Inactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupCreatedByMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee.Loyalty_Program_Member__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>MemberStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPGMR_s_for_Selected_Inactive_LPM_s</name>
        <label>Get LPGMR&apos;s for Selected Inactive LPM&apos;s</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_any_LPGMR_s_to_Set_Active_as_False</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Get_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyProgramGroupMemberId</field>
            <operator>In</operator>
            <value>
                <elementReference>ListOfDeactivatedLPMIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyPgmGroupMbrRlnsp</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LPGMR_s_to_Set_Active_as_False_and_EndDate</name>
        <label>Update LPGMR&apos;s to Set Active as False and EndDate</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Get_Ids_from_LPGMR_Inactive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Update_Exception1</targetReference>
        </faultConnector>
        <inputReference>ListOfLPGMRSetActiveAsFalse</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LPM_s_to_Deactivate</name>
        <label>Update LPM&apos;s to Deactivate</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Ids_from_update_LPM_to_Deactivate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Update_Exception</targetReference>
        </faultConnector>
        <inputReference>ListOfRecordsUpdateLPMtoDeactivate</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Get_Exception</name>
        <label>Publish Get Exception</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Retrieve the LPGMR&apos;s Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY - CTB Deactivate Loyalty Program Group Members and Relationships</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>LPGMR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Update_Exception</name>
        <label>Publish Update Exception</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Update the LPM Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY - CTB Deactivate Loyalty Program Group Members and Relationships</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Loyalty Program Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Update_Exception1</name>
        <label>Publish Update Exception</label>
        <locationX>314</locationX>
        <locationY>2522</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>The Query to Update the LPGMR&apos;s Failed </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY - CTB Deactivate Loyalty Program Group Members and Relationships</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>LPGMR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>LPGMRUpdateInactiveLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>LPGMR records were successfully updated to &apos;Inactive&apos; by {!$User.Id}. Record IDs (if any): {!Get_Ids_from_LPGMR_Inactive}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LPMUpdateDeactivateLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loyalty Program Member records were successfully updated to &apos;Deactivate&apos; by {!$User.Id}. Record IDs (if any): {!Get_Ids_from_update_LPM_to_Deactivate}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>Get_Ids_from_LPGMR_Inactive</name>
        <label>Get Ids from LPGMR Inactive</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Create_a_Log_when_updating_LPGMR</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ListOfLPGMRSetActiveAsFalse[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Ids_from_update_LPM_to_Deactivate</name>
        <label>Get Ids from update LPM to Deactivate</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Create_a_Log_when_updating_LPM_to_Deactivate</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ListOfRecordsUpdateLPMtoDeactivate[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>EmployeeRecordforLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>ListOfDeactivatedLPMIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfLPGMRSetActiveAsFalse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyPgmGroupMbrRlnsp</objectType>
    </variables>
    <variables>
        <name>ListOfRecordsUpdateLPMtoDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleRecordLPGMRSetActiveAsFalse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyPgmGroupMbrRlnsp</objectType>
    </variables>
    <variables>
        <name>singleRecordUpdateLPMtoDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
</Flow>
