force-app/main/default/flows/LOY_Redeem_Eligible_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Write_Voucher_Redemption_to_Platform_Cache</name>
        <label>Write Voucher Redemption to Platform Cache</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>RedeemEligibleServiceInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Set_Flow_Exception_Msg</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eligibilityFlag</name>
            <value>
                <elementReference>eligibilityFlag</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lpmNumber</name>
            <value>
                <elementReference>memberNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherId</name>
            <value>
                <elementReference>voucherId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RedeemEligibleServiceInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Placeholder_for_Redemption_Verification_Decision_Table</name>
        <label>Placeholder for Redemption Verification Decision Table</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>eligibilityFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_Voucher_Redemption_to_Platform_Cache</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Exception_Message</name>
        <label>Set Flow Exception Message</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>flowDebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Either Voucher ID or Loyalty Program Member Number is empty.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Debug_Level</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Exception_Msg</name>
        <label>Set Flow Exception Msg</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>flowDebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception While calling Redeem Eligible Service Invocable Apex</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Voucher_and_Member_Number</name>
        <label>Check for Voucher and Member Number</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Flow_Exception_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>voucherId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>memberNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placeholder_for_Redemption_Verification_Decision_Table</targetReference>
            </connector>
            <label>Both not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LOY Redeem Eligible Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Redeem Eligible Service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Voucher_and_Member_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>flowDebugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Redeem_Eligible_Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>varT_Debug_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Voucher Redemption Eligibility Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>voucherId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>eligibilityFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowDebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_Debug_Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>voucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
