force-app/main/default/flows/LOY_AL_Member_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Determine_Series_Benefit</name>
        <label>Determine Series Benefit</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <actionName>Member_Event_to_Benefit_Decision_Table_V1_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Outcome_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Decision_Table_Failure_First_Attempt</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Active__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Applicable_Year__c</name>
            <value>
                <elementReference>forT_ApplicableYear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Member_Event_Type__c</name>
            <value>
                <elementReference>$Label.LOY_Milestone_Label</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Milestone_Quantity_Max__c</name>
            <value>
                <elementReference>varR_TransactionJournal.Milestone_Quantity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Milestone_Quantity_Min__c</name>
            <value>
                <elementReference>varR_TransactionJournal.Milestone_Quantity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Milestone_Type__c</name>
            <value>
                <elementReference>MilestoneEventType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Member_Event_to_Benefit_Decision_Table_V1_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Member_Benefit_to_List</name>
        <label>Add Member Benefit to List</label>
        <locationX>1546</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ListOfMemberBenefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MemberBenefitRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Outcomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assignment for new tier values for the member</description>
        <name>Assign_updated_tier_values</name>
        <label>Assign updated tier values</label>
        <locationX>2514</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Get_current_tier.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Tier.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_current_tier.LoyaltyTierId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Tier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_current_tier.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_current_tier.TierExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_TransactionJournal.New_Tier_Expiration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_current_tier.ReasonForChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_TransactionJournal.New_Tier_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_current_tier.ChangeReasonType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_TransactionJournal.Change_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_member_tier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Decision_Table_Failure_First_Attempt</name>
        <label>Copy 1 of Decision Table Failure - First Attempt</label>
        <locationX>2250</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Determine Applicable Benefits decision table failure, first attempt.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DecisionTable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failed_to_update_tier</name>
        <label>Failed to update tier</label>
        <locationX>2778</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to update the current tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failed_to_Update_TJ</name>
        <label>Failed to Update TJ</label>
        <locationX>4890</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Update Transaction Journal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Tier_Failed</name>
        <label>Get Tier Failed</label>
        <locationX>3306</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Tier failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Tier_Group_Failed</name>
        <label>Get Tier Group Failed</label>
        <locationX>3834</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Tier Group Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Failed_to_Create_Member_Benefits_from_Collection_0</name>
        <label>Message - Failed to Create Member Benefits from Collection</label>
        <locationX>1458</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create Member Benefits from Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create MemberBenefit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Failed_to_Create_single_Member_Benefit</name>
        <label>Message - Failed to Create single Member Benefit</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create single Member Benefit.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Member Benefit (Single)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Unable_to_Find_Member</name>
        <label>Message - Unable to Find Member</label>
        <locationX>5154</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to find matching member.  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_Operation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Event_Type_Night</name>
        <label>Milestone Event Type - Night</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MilestoneEventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Night</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Series_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Event_Type_Stay</name>
        <label>Milestone Event Type - Stay</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MilestoneEventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Stay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Series_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TJ_Processed</name>
        <label>Set TJ - Processed</label>
        <locationX>2954</locationX>
        <locationY>2348</locationY>
        <assignmentItems>
            <assignToReference>varR_TransactionJournal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transaction_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TJ_Values</name>
        <label>Set TJ No Action-Processed</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varR_TransactionJournal.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_TransactionJournal.No_Action_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Transaction_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varMessage_Member_Not_Found</name>
        <label>Set varMessage Member Not Found</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exception_Event_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_New_Member_Benefit_Record</name>
        <label>Setup New Member Benefit Record</label>
        <locationX>1678</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>MemberBenefitRecord.BenefitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Outcomes.Benefit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MemberBenefitRecord.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MemberBenefitRecord.SourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MemberBenefitRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Outcomes.Benefit__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Member_Benefit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unknown_Member_Event_Type</name>
        <label>Unknown Member Event Type</label>
        <locationX>4626</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnknownMemberEventType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_a_matching_benefit</name>
        <label>Did we find a matching benefit</label>
        <locationX>1678</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Iterate_Outcomes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Member_Benefit_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Member_Benefit_to_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_a_matching_benefit_Single</name>
        <label>Did we find a matching benefit Single</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Set_TJ_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Member_Benefit_Record_Single.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Member_Benefit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>What is the event type of this event?  Milestone? Tier?</description>
        <name>Event_Type</name>
        <label>Event Type?</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Unknown_Member_Event_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Member_Event_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MILESTONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Type</targetReference>
            </connector>
            <label>Milestone</label>
        </rules>
        <rules>
            <name>Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Member_Event_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TIER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Change_Type</targetReference>
            </connector>
            <label>Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ListOfMemberBenefits_Empty</name>
        <label>Is ListOfMemberBenefits Empty?</label>
        <locationX>1458</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_TJ_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfMemberBenefits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Member_Benefit_Records</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Found</name>
        <label>Member Found?</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Event_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varMessage_Member_Not_Found</targetReference>
            </connector>
            <label>Member Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Milestone_Type</name>
        <label>Milestone Type</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Night</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Milestone_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Night</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Event_Type_Night</targetReference>
            </connector>
            <label>Night</label>
        </rules>
        <rules>
            <name>Stay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Milestone_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Stay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Event_Type_Stay</targetReference>
            </connector>
            <label>Stay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_Type</name>
        <label>Outcome Type?</label>
        <locationX>1282</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_TJ_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_Series_Benefit.outcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Member_Benefit_Record_Single</targetReference>
            </connector>
            <label>Single Match</label>
        </rules>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_Series_Benefit.outcomeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Matches</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Outcomes</targetReference>
            </connector>
            <label>Multiple Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Found</name>
        <label>Tier Found</label>
        <locationX>2778</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Tier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Tier.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IHG_Rewards_tier_group</targetReference>
            </connector>
            <label>Yes Tier Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tier_Group_Exists</name>
        <label>Tier Group Exists</label>
        <locationX>3174</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Tier_Group_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Tier_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Tier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Member achieving a new higher tier, downgrading to a lower tier or staying at the same level.  If the latter, no need to create a new member tier record.</description>
        <name>What_is_the_Change_Type</name>
        <label>What is the Change Type</label>
        <locationX>3768</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Achieve_or_Downgrade</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Change_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>achieve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Change_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_TransactionJournal.IHG_LOY_Program_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loyalty_Tier_Group</targetReference>
            </connector>
            <label>Achieve or Downgrade</label>
        </rules>
        <rules>
            <name>Maintain_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_TransactionJournal.Change_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>maintain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_TJ_Values</targetReference>
            </connector>
            <label>Maintain</label>
        </rules>
    </decisions>
    <description>US231521 RE Dup Member Benefits: Updated Check for Existing Member Benefits Get element criteria to remove Created Year = Current Year condition. The created year of the TJ is inconsequential.

Adding the logic to maintain the member tier instead of creating a new loyalty member tier record when the tier group is &apos;PC&apos;

DE115018 - Added a conditional check to update the member tier only when the TJ that is being processed has IHG LOY Program Code as &apos;PC&apos; to avoid overriding the tier value with the tier value from programs that are not being maintained in Guest SF</description>
    <environments>Default</environments>
    <formulas>
        <name>formTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>forN_ApplicableYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(DATEVALUE({!varR_TransactionJournal.ActivityDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forT_ApplicableYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(DATEVALUE({!varR_TransactionJournal.ActivityDate})))</expression>
    </formulas>
    <formulas>
        <name>forT_ChangeType</name>
        <dataType>String</dataType>
        <expression>CASE (  {!varR_TransactionJournal.Change_Type__c}, 
&apos;achieve&apos;, &apos;Achieve&apos;, 
&apos;downgrade&apos;, &apos;Downgrade&apos;, &apos;Unknown&apos;)</expression>
    </formulas>
    <formulas>
        <name>This_Year</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LOY - AL - Member Event Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - AL - Member Event Handler</label>
    <loops>
        <name>Iterate_Outcomes</name>
        <label>Iterate Outcomes</label>
        <locationX>1458</locationX>
        <locationY>974</locationY>
        <collectionReference>Determine_Series_Benefit.outcomeList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setup_New_Member_Benefit_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_ListOfMemberBenefits_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Event_0_0</name>
        <label>Create Exception Event</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Debug_Notes__c</field>
            <value>
                <elementReference>varMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <stringValue>MemberEventHandler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>MemberEvent__e</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
        </inputAssignments>
        <object>Exception_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Member Benefit</description>
        <name>Create_Member_Benefit</name>
        <label>Create Member Benefit</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>varMemberBenefitId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_TJ_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Message_Failed_to_Create_single_Member_Benefit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Applicable_Year_Text__c</field>
            <value>
                <elementReference>forT_ApplicableYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>Determine_Series_Benefit.singleOutcome.Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_Member_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Determine_Series_Benefit.singleOutcome.Benefit__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Series_Benefit__c</field>
            <value>
                <elementReference>Determine_Series_Benefit.singleOutcome.Series_Benefits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_Benefit_Records</name>
        <label>Create Member Benefit Records</label>
        <locationX>1194</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Set_TJ_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Message_Failed_to_Create_Member_Benefits_from_Collection_0</targetReference>
        </faultConnector>
        <inputReference>ListOfMemberBenefits</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Member_Benefit_Record</name>
        <label>Check for Existing Member Benefit Record</label>
        <locationX>1678</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_matching_benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefitRecord.BenefitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicable_Year_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_ApplicableYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_for_Existing_Member_Benefit_Record_Single</name>
        <label>Check for Existing Member Benefit Record Single</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_matching_benefit_Single</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BenefitId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Determine_Series_Benefit.singleOutcome.Benefit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicable_Year_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_ApplicableYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>fetches the current tier for the member for which the tier update is triggered</description>
        <name>Get_current_tier</name>
        <label>Get current tier</label>
        <locationX>2514</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_updated_tier_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyTierGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IHG_Rewards_tier_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IHG_Rewards_tier_group</name>
        <label>Get IHG Rewards tier group</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHG_LOY_Program_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTierGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Tier_Group</name>
        <label>Get Loyalty Tier Group</label>
        <locationX>3174</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_Group_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Tier_Group_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IHG_LOY_Program_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_TransactionJournal.IHG_LOY_Program_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTierGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Id</name>
        <label>Find Member</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Message_Unable_to_Find_Member</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_TransactionJournal.MemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Tier</name>
        <label>Get New Tier</label>
        <locationX>2778</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tier_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Tier_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyTierGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Tier_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IHG_LOY_Tier_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_TransactionJournal.New_Tier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the current member tier with new values</description>
        <name>Update_current_member_tier</name>
        <label>Update current member tier</label>
        <locationX>2514</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Set_TJ_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_to_update_tier</targetReference>
        </faultConnector>
        <inputReference>Get_current_tier</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction_Journal</name>
        <label>Update Transaction Journal</label>
        <locationX>2954</locationX>
        <locationY>2456</locationY>
        <faultConnector>
            <targetReference>Failed_to_Update_TJ</targetReference>
        </faultConnector>
        <inputReference>varR_TransactionJournal</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Exception_0</name>
        <label>Handle Flow Exception</label>
        <locationX>4890</locationX>
        <locationY>2672</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <elementReference>varT_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>varT_DebugLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_ObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <elementReference>varT_Operation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>varR_TransactionJournal.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>UnknownMemberEventType</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Warning unrecognized Member Event Type: &quot;{!varR_TransactionJournal.Member_Event_Type__c}&quot;.  Exiting Flow.   &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ListOfMemberBenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>MemberBenefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <description>Set the MilestoneEventType as input to the Decision Table.</description>
        <name>MilestoneEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJournalTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMemberBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </variables>
    <variables>
        <name>varN_NumberOfTiersFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_TransactionJournal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>varT_DebugLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LOY - AL - Member Event Handler</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TransactionJournal</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
