force-app/main/default/flows/LOY_Enrollment_Source_Type_Update_LMLC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>US347466 - Build | Shift Enrollment Source Type Rule Trigger to LMLC Object
Determines Enrollment Source Type on LMLC object record.</description>
    <environments>Default</environments>
    <interviewLabel>LOY_Enrollment_Source_Type_Update_LMLC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_Enrollment_Source_Type_Update_LMLC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LMLC_Record</name>
        <label>Get LMLC Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Decision_Table_Sub_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMembershipLifecycle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LMLC_Record</name>
        <label>Update LMLC Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_Enrollment_Source_Type__c</field>
            <value>
                <elementReference>Call_Decision_Table_Sub_Flow.DecisionTable_Outcome.LOY_Source_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMembershipLifecycle</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LMLC_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Decision_Table_Sub_Flow</name>
        <label>Call  Decision Table Sub Flow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_LMLC_Record</targetReference>
        </connector>
        <flowName>LOY_Enrollment_Rule_Processing</flowName>
        <inputAssignments>
            <name>Channel</name>
            <value>
                <elementReference>Get_LMLC_Record.LOY_Channel_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Enrollment_Code</name>
            <value>
                <elementReference>Get_LMLC_Record.LOY_Offer_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Location</name>
            <value>
                <elementReference>Get_LMLC_Record.LOY_Location_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Requestor_Id</name>
            <value>
                <elementReference>Get_LMLC_Record.LOY_Requestor_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_Date</name>
            <value>
                <elementReference>Get_LMLC_Record.LOY_Enrollment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
