force-app/main/default/flows/LOY_Transfer_CTB_Benefit_Counters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Updating_Member_Benefits</name>
        <label>Error Updating Member Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowCollectionLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generateParentTransactionId</name>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>updateMemberBenefitsError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>UpdatedBenefits</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldThrowFaultMessageException</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowCollectionLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Expire_Member_Benefits</name>
        <label>Expire Member Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Expire_benefits_of_old_LPM.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Expire_benefits_of_old_LPM.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedBenefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Expire_benefits_of_old_LPM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expire_benefits_of_old_LPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counters</name>
        <label>Update Counters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Copy_over_Redeemed_counter_to_new_Benefits.Redeemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expire_benefits_of_old_LPM.Redeemed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedBenefits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_over_Redeemed_counter_to_new_Benefits</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_over_Redeemed_counter_to_new_Benefits</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer CTB Benefit Counters</stringValue>
        </value>
    </constants>
    <constants>
        <name>updateMemberBenefitsError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There was an issue with updating the Member Benefits after an Empoyee LPM change. </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_benefit_Id</name>
        <label>Check benefit Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_over_Redeemed_counter_to_new_Benefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_benefit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_over_Redeemed_counter_to_new_Benefits.BenefitId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Expire_benefits_of_old_LPM.BenefitId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Counters</targetReference>
            </connector>
            <label>Same benefit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transfer CTB Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer CTB Benefit Counters</label>
    <loops>
        <name>Copy_over_Redeemed_counter_to_new_Benefits</name>
        <label>Copy over Redeemed counter to new Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>New_Member_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_benefit_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expire_Member_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Expire_benefits_of_old_LPM</name>
        <label>Expire benefits of old LPM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Old_Member_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_over_Redeemed_counter_to_new_Benefits</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MemberBenefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>New_Member_Benefits</name>
        <label>New Member Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Member_Benefits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewLPMId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isCTBBenefitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Old_Member_Benefits</name>
        <label>Old Member Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expire_benefits_of_old_LPM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldLPMId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>isCTBBenefitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MemberBenefits</name>
        <label>Update MemberBenefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_Updating_Member_Benefits</targetReference>
        </faultConnector>
        <inputReference>UpdatedBenefits</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Member_Benefits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmployeeRateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FriendsAndFamilyRateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Id of the LPM that will receive the CTB data.</description>
        <name>NewLPMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the LPM that will provide the CTB data.</description>
        <name>OldLPMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedBenefits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
</Flow>
