force-app/main/default/flows/LOY_Manage_Club_Membership_Auto_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_LoyaltyMembershipLifecycle_Exception_Log</name>
        <label>Create LoyaltyMembershipLifecycle Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_LoyaltyMembershipLifecycle_Success_Log</name>
        <label>Create LoyaltyMembershipLifecycle Success Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMembershipLifecycle</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogLoyaltyMembershipLifecycleCreationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Transaction_Journal_Success_Log</name>
        <label>Create Transaction Journal Success Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_LoyaltyMembershipLifecycle_Record</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>TransactionJournal</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogTransactionJournalCreationMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_TransactionJournal_Exception_Log</name>
        <label>Create TransactionJournal Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_LoyaltyMemberTier_Exception_Log</name>
        <label>Update LoyaltyMemberTier Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_LoyaltyMemberTier_Success_Log</name>
        <label>Update LoyaltyMemberTier Success Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_JournalType_of_Club_Closure</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogLoyaltyMemberTierUpdateMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_LoyaltyMemberTier_to_Closed</name>
        <label>Assign LoyaltyMemberTier to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Loyalty_Member_Tier_Record.ClubMembershipStatusCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loyalty_Member_Tier_Record.ClubMembershipReasonCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>closureReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loyalty_Member_Tier_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LoyaltyMemberTier_to_Closed</targetReference>
        </connector>
    </assignments>
    <description>Created as part of US429630 || AMB | Close membership
Updated as part of US453607 || AMB| Manage Membership Pop Up
US461424 || AMB| Manual closure changes</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY Manage Club Membership Flow&apos;</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>LOY Manage Club Membership Auto Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Manage Club Membership for Open State Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LoyaltyMembershipLifecycle_Record</name>
        <label>Create LoyaltyMembershipLifecycle Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>LoyaltyMembershipLifecycleId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_LoyaltyMembershipLifecycle_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_LoyaltyMembershipLifecycle_Exception_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyMemberTierId</field>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMemberId</field>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipStatus</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipType</field>
            <value>
                <stringValue>Ambassador</stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyMembershipLifecycle</object>
    </recordCreates>
    <recordCreates>
        <name>Create_TransactionJournal_Record</name>
        <label>Create TransactionJournal Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>TransactionJournalRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Transaction_Journal_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_TransactionJournal_Exception_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalSubTypeId</field>
            <value>
                <elementReference>Get_JournalSubType_of_Ambassador.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JournalTypeId</field>
            <value>
                <elementReference>Get_JournalType_of_Club_Closure.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramId</field>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyTierGroup.LoyaltyProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Number__c</field>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyMember.MembershipNumber</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionJournal</object>
    </recordCreates>
    <recordLookups>
        <name>Get_JournalSubType_of_Ambassador</name>
        <label>Get JournalSubType of Ambassador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_TransactionJournal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Ambassador_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalSubType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_JournalType_of_Club_Closure</name>
        <label>Get JournalType of Club Closure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_JournalSubType_of_Ambassador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Club Closure</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JournalType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Member_Tier_Record</name>
        <label>Get Loyalty Member Tier Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LoyaltyMemberTier_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LoyaltyMemberTier_to_Closed</name>
        <label>Update LoyaltyMemberTier to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_LoyaltyMemberTier_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_LoyaltyMemberTier_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Loyalty_Member_Tier_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loyalty_Member_Tier_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>LogJournalSubTypeRetrievalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Journal Sub Type record is successfully retrieved by {!$User.Id} with record id: {!Get_JournalSubType_of_Ambassador.Id}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogJournalTypeRetrievalMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Journal Type record is successfully retrieved by {!$User.Id} with record id: {!Get_JournalType_of_Club_Closure.Id}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogLoyaltyMembershipLifecycleCreationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loyalty Membership LifecycleId record is successfully created by {!$User.Id} with record id: {!LoyaltyMembershipLifecycleId}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogLoyaltyMemberTierUpdateMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loyalty Member Tier record is successfully Updated to Closed State by {!$User.Id} with record id: {!recordId}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogMemberBenefitUpdateMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit records is successfully Updated to Expired by {!$User.Id} with record ids: {!MemberBenefitList}.
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>LogTransactionJournalCreationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Transaction Journal record is successfully created by {!$User.Id} with record id: {!TransactionJournalRecordId}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <variables>
        <name>closureReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyMembershipLifecycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyMembershipLifecycleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyMembershipLifecycle</objectType>
    </variables>
    <variables>
        <name>LoyaltyMembershipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyMembershipLifecycle</objectType>
    </variables>
    <variables>
        <name>MemberBenefitList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>MemberBenefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <description>LoyaltyMemberTier Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionJournalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>TransactionJournalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
