force-app/main/default/flows/LOY_Stay_RevenueQualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LOY_StayQualificationDT</name>
        <label>LOY_StayQualificationDT</label>
        <locationX>677</locationX>
        <locationY>1082</locationY>
        <actionName>LOY_StayQualificationDecisionTable_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Assign_stay_qualification_DT_result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LOY_End_Date__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RoomRevenueMin__c</name>
            <value>
                <elementReference>StayRecord.LOY_CumulativeRoomRevenueUSD__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RateCategoriesExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_RateCategory__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_StartDate__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RateCategoriesIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_RateCategory__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RoomRevenueMax__c</name>
            <value>
                <elementReference>StayRecord.LOY_CumulativeRoomRevenueUSD__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>Get_Stay_rules_record_type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_TotalQualifyingRevenueMax__c</name>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_TotalQualifyingRevenueMin__c</name>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RateCategoryQualification__c</name>
            <value>
                <elementReference>for_RCQ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Active__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_RateCategoryRN_FNIndicator__c</name>
            <value>
                <elementReference>for_RNFNIndicator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_IsEnrollingStay__c</name>
            <value>
                <elementReference>StayRecord.LOY_EnrollingStayIndicator__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_StayQualificationDecisionTable_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Revenue Qualification Decision Table when a member detected</description>
        <name>Revenue_Qualification_DT_With_Member</name>
        <label>Revenue Qualification DT - With Member</label>
        <locationX>809</locationX>
        <locationY>674</locationY>
        <actionName>LOY_RevenueQualificationDecisionTable_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Get_DT_Result_From_Member_Rule_DT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LOY_BrandsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_End_Date__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_BrandsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_IsNonMemberRule__c</name>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_StartDate__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>Get_revenue_rules_record_type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Active__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LOY_RevenueQualificationDecisionTable_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Revenue Qualification Decision Table when no member detected</description>
        <name>RevenueQualification_DT_Non_Member</name>
        <label>Revenue Qualification DT - Non Member</label>
        <locationX>545</locationX>
        <locationY>674</locationY>
        <actionName>LOY_RevenueQualificationDecisionTable_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Get_DT_Result_From_Non_Member_Rule_DT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LOY_BrandsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_End_Date__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_BrandsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Brand_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_IsNonMemberRule__c</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsIncluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_StartDate__c</name>
            <value>
                <elementReference>StayRecord.LOY_CheckoutDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_HotelsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_ChainsExcluded__c</name>
            <value>
                <elementReference>StayRecord.LOY_Hotel__r.Brandx__r.Chain_Code__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>Get_revenue_rules_record_type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Active__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>LOY_RevenueQualificationDecisionTable_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_disqualify_reasons_only</name>
        <label>assign disqualify reasons only</label>
        <locationX>765</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>reasonsList</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>DTresultList.LOY_StayQualificationReason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>construct_Disqualified_Matched_Rules_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_incidentals</name>
        <label>Assign incidentals to Yes</label>
        <locationX>545</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>isIncidentals</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTresultList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_reward_reason</name>
        <label>assign reward reason</label>
        <locationX>897</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>reasonsList</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>DTresultList.LOY_StayQualificationReason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_construct_Disqualified_Matched_Rules_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stay_qualification_DT_result</name>
        <label>Assign stay qualification DT result</label>
        <locationX>677</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>DTStayMatchOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOY_StayQualificationDT.outcomeList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_stay_qualification_DT_single_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stay_qualification_DT_single_result</name>
        <label>Assign stay qualification DT single result</label>
        <locationX>677</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>DTStayMatchSingleOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOY_StayQualificationDT.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_incidentals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Stay_record</name>
        <label>assign Stay record</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>StayRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Stay_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_member_existance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Reward_Rule</name>
        <label>Assign the Reward Rule</label>
        <locationX>897</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>DTStayMatchOutputSingleReward</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTresultList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_reward_reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>construct_Disqualified_Matched_Rules_List</name>
        <label>construct Disqualified Matched Rules List</label>
        <locationX>765</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_Stay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleProcessingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_StayProcessingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTresultList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchedRulesStay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_reward_night</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>construct_qualified_Matched_Rules_List</name>
        <label>construct qualified Matched Rules List</label>
        <locationX>1029</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_Stay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleProcessingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_StayProcessingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTresultList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchedRulesStay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_reward_night</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_incidentals</name>
        <label>Assign incidentals to No</label>
        <locationX>809</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>isIncidentals</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTresultList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_qualify_reasons</name>
        <label>assign qualify reasons</label>
        <locationX>1029</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>reasonsList</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>DTresultList.LOY_StayQualificationReason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>construct_qualified_Matched_Rules_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_construct_Disqualified_Matched_Rules_List</name>
        <label>Copy 1 of construct Disqualified Matched Rules List Reward Night</label>
        <locationX>897</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_Stay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stay Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_RuleProcessingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStay.LOY_StayProcessingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTresultList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchedRulesStayList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchedRulesStay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DTresultList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exclude_Room_Rev</name>
        <label>Exclude Room Rev</label>
        <locationX>314</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>RevBucket_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTMatchOutput.LOY_RevenueQualificationBucket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverrideRevBucket_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DTMatchOutput.LOY_OverrideRevenueQualificationBucket__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stay_Diqualified_Room_Rev_included</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_DT_Result_From_Member_Rule_DT</name>
        <label>Get DT Result From Member Rule DT</label>
        <locationX>809</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DTMatchOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revenue_Qualification_DT_With_Member.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stay_Revenue_Qualification_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_DT_Result_From_Non_Member_Rule_DT</name>
        <label>Get DT Result From Non Member Rule DT</label>
        <locationX>545</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DTMatchOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevenueQualification_DT_Non_Member.singleOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stay_Revenue_Qualification_fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_room_is_included_in_output</name>
        <label>check if room is included in output</label>
        <locationX>446</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Update_Stay_DisQualified2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTMatchOutput.LOY_RevenueQualificationBucket__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IHG_RQRevenue01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Room_Rev</targetReference>
            </connector>
            <label>included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stay_Match_Reward_Night_Rule</name>
        <label>Check if Stay Match Reward Night Rule</label>
        <locationX>677</locationX>
        <locationY>3722</locationY>
        <defaultConnector>
            <targetReference>Update_Record_No_Reward</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchOutputSingleReward</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_with_Reward</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Incidental_Revenue</name>
        <label>Check Incidental Revenue</label>
        <locationX>248</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>check_if_room_is_included_in_output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isIncidentals</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stay_Qualified1</targetReference>
            </connector>
            <label>Disqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_incidentals</name>
        <label>check incidentals</label>
        <locationX>677</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_incidentals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Incidentals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchSingleOutput.LOY_IsRoomIncidentalsDisqualified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_incidentals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_member_existance</name>
        <label>Check member existance</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Revenue_Qualification_DT_With_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>non_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StayRecord.LOY_LoyaltyProgramMember__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RevenueQualification_DT_Non_Member</targetReference>
            </connector>
            <label>non Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_result</name>
        <label>check result</label>
        <locationX>1029</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>check_reward_night</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>single_outcome_is_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DTresultList.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_disqualify_reasons_only</targetReference>
            </connector>
            <label>single outcome is Disqualified</label>
        </rules>
        <rules>
            <name>single_outcome_is_qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DTresultList.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_qualify_reasons</targetReference>
            </connector>
            <label>single outcome is qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_reward_night</name>
        <label>check reward night</label>
        <locationX>1029</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>DTresultList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReward_Night</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTresultList.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reward Night</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Reward_Rule</targetReference>
            </connector>
            <label>Is Reward Night</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stay_Qualification_Status</name>
        <label>Check Stay Qualification Status</label>
        <locationX>677</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Stay_Qualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stay_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Incidental_Revenue</targetReference>
            </connector>
            <label>Stay Disqualified</label>
        </rules>
        <rules>
            <name>Stay_Qualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stay_Qualified</targetReference>
            </connector>
            <label>Stay Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Revenue_Rule_exist</name>
        <label>if Revenue Rule exist</label>
        <locationX>677</locationX>
        <locationY>4022</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist_Revenue_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DTMatchOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Revenue_Matched_Rule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_RCQ</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!StayRecord.LOY_RateCategory__c}),ISBLANK(TEXT({!StayRecord.LOY_RateCategory__r.Rewards_Qualify__c}))), &quot;Qualify&quot;, TEXT({!StayRecord.LOY_RateCategory__r.Rewards_Qualify__c}))</expression>
    </formulas>
    <formulas>
        <name>for_RNFNIndicator</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!StayRecord.LOY_RateCategory__c}),ISBLANK(TEXT({!StayRecord.LOY_RateCategory__r.LOY_RNFNIndicator__c}))), &quot;Not Applicable&quot;, TEXT({!StayRecord.LOY_RateCategory__r.LOY_RNFNIndicator__c}))</expression>
    </formulas>
    <formulas>
        <name>fRemoveRoomOverrideRevenue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(   SUBSTITUTE({!OverrideRevBucket_String},&apos;Cumulative Room Revenue;&apos;,null),   &apos;Cumulative Room Revenue&apos;,   null )</expression>
    </formulas>
    <formulas>
        <name>fRemoveRoomRevenue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(   SUBSTITUTE({!RevBucket_String},&apos;Cumulative Room Revenue;&apos;,null),   &apos;Cumulative Room Revenue&apos;,   null )</expression>
    </formulas>
    <formulas>
        <name>Total_USD_NonQRAfterRR</name>
        <dataType>Number</dataType>
        <expression>IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue01&quot;),0 , {!StayRecord.LOY_CumulativeRoomRevenueUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue02&quot;),0, {!StayRecord.LOY_CumulativeFoodRevenueUSD__c}) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue03&quot;),0 , {!StayRecord.LOY_CumulativeBeverageRevenueUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue04&quot;), 0 , {!StayRecord.LOY_CumulativeTelephoneRevenueUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue05&quot;),0 , {!StayRecord.LOY_CumulativeMeetingBanquetRevenueUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue06&quot;),0 , {!StayRecord.LOY_MiscellaneousMandatoryLoyaltyRevUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue07&quot;),0 , {!StayRecord.LOY_MiscellaneousOtherLoyaltyRevUSD__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue08&quot;), 0, {!StayRecord.LOY_MiscellaneousNoLoyaltyRevenueUSD__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalNonQRAfterRR</name>
        <dataType>Number</dataType>
        <expression>IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue01&quot;),0 , {!StayRecord.LOY_CumulativeRoomRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue02&quot;),0, {!StayRecord.LOY_CumulativeFoodRevenue__c}) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue03&quot;),0 , {!StayRecord.LOY_CumulativeBeverageRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue04&quot;), 0 , {!StayRecord.LOY_CumulativeTelephoneRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue05&quot;),0 , {!StayRecord.LOY_CumulativeMeetingBanquetRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue06&quot;),0 , {!StayRecord.LOY_MiscellaneousMandatoryLoyaltyRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue07&quot;),0 , {!StayRecord.LOY_MiscellaneousOtherLoyaltyRevenue__c}) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue08&quot;), 0, {!StayRecord.LOY_MiscellaneousNoLoyaltyRevenue__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQR_USD_AfterRR</name>
        <dataType>Number</dataType>
        <expression>IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue01&quot;), {!StayRecord.LOY_CumulativeRoomRevenueUSD__c}, 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue02&quot;), {!StayRecord.LOY_CumulativeFoodRevenueUSD__c}, 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue03&quot;), {!StayRecord.LOY_CumulativeBeverageRevenueUSD__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue04&quot;), {!StayRecord.LOY_CumulativeTelephoneRevenueUSD__c} , 0) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue05&quot;), {!StayRecord.LOY_CumulativeMeetingBanquetRevenueUSD__c} , 0) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue06&quot;), {!StayRecord.LOY_MiscellaneousMandatoryLoyaltyRevUSD__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue07&quot;), {!StayRecord.LOY_MiscellaneousOtherLoyaltyRevUSD__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue08&quot;), {!StayRecord.LOY_MiscellaneousNoLoyaltyRevenueUSD__c} , 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQRAfterRR</name>
        <dataType>Number</dataType>
        <expression>IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue01&quot;), {!StayRecord.LOY_CumulativeRoomRevenue__c}, 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue02&quot;), {!StayRecord.LOY_CumulativeFoodRevenue__c}, 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue03&quot;), {!StayRecord.LOY_CumulativeBeverageRevenue__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue04&quot;), {!StayRecord.LOY_CumulativeTelephoneRevenue__c} , 0) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue05&quot;), {!StayRecord.LOY_CumulativeMeetingBanquetRevenue__c} , 0) +
IF(INCLUDES({!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue06&quot;), {!StayRecord.LOY_MiscellaneousMandatoryLoyaltyRevenue__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c}, &quot;IHG_RQRevenue07&quot;), {!StayRecord.LOY_MiscellaneousOtherLoyaltyRevenue__c} , 0) +
IF(INCLUDES( {!DTMatchOutput.LOY_RevenueQualificationBucket__c} , &quot;IHG_RQRevenue08&quot;), {!StayRecord.LOY_MiscellaneousNoLoyaltyRevenue__c} , 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQRAfterRRDisqualified</name>
        <dataType>Number</dataType>
        <expression>{!TotalQRAfterRR} + {!TotalNonQRAfterRR}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQRAfterRRDisqualifiedUSD</name>
        <dataType>Number</dataType>
        <expression>{!TotalQR_USD_AfterRR} + {!Total_USD_NonQRAfterRR}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalWithoutRoomNonQRev</name>
        <dataType>Number</dataType>
        <expression>{!TotalNonQRAfterRR} + {!StayRecord.LOY_CumulativeRoomRevenue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalWithoutRoomNonQRevUSD</name>
        <dataType>Number</dataType>
        <expression>{!Total_USD_NonQRAfterRR} + {!StayRecord.LOY_CumulativeRoomRevenueUSD__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalWithoutRoomRev</name>
        <dataType>Number</dataType>
        <expression>{!TotalQRAfterRR} - {!StayRecord.LOY_CumulativeRoomRevenue__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalWithoutRoomRevUSD</name>
        <dataType>Number</dataType>
        <expression>{!TotalQR_USD_AfterRR} - {!StayRecord.LOY_CumulativeRoomRevenueUSD__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>LOY_Stay_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_Stay_RevenueQualification</label>
    <loops>
        <name>DTresultList</name>
        <label>DTresultList</label>
        <locationX>677</locationX>
        <locationY>1706</locationY>
        <collectionReference>DTStayMatchOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Matched_Rules_Stay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Matched_Rules_Stay</name>
        <label>Create Matched Rules Stay</label>
        <locationX>677</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Check_Stay_Qualification_Status</targetReference>
        </connector>
        <inputReference>MatchedRulesStayList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_Matched_Rule</name>
        <label>Create Revenue Matched Rule</label>
        <locationX>545</locationX>
        <locationY>4130</locationY>
        <inputAssignments>
            <field>LOY_RuleCategory__c</field>
            <value>
                <stringValue>Stay Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RuleProcessingDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RuleType__c</field>
            <value>
                <stringValue>Revenue Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayProcessingRule__c</field>
            <value>
                <elementReference>DTMatchOutput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Stay__c</field>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LOY_MatchedLoyaltyRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>for revenue Qualification</description>
        <name>Get_revenue_rules_record_type_Id</name>
        <label>Get revenue rules record type  Id</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stay_rules_record_type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOY_RevenueQualification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Stay_Record</name>
        <label>get Stay Record</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Stay_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hapi__Stay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>for stay Qualification</description>
        <name>Get_Stay_rules_record_type_Id</name>
        <label>Get Stay rules record type  Id</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Stay_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOY_StayQualification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Stay_Qualified</name>
        <label>Default Update Stay Qualified</label>
        <locationX>1106</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Check_if_Stay_Match_Reward_Night_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>Total_USD_NonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalNonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_NonQualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_QualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationReason__c</field>
            <value>
                <stringValue>Default Qualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationResult__c</field>
            <value>
                <stringValue>Qualify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_No_Reward</name>
        <label>Update Record No Reward</label>
        <locationX>809</locationX>
        <locationY>3830</locationY>
        <connector>
            <targetReference>if_Revenue_Rule_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_MarkAsRewardNight__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RewardNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_with_Reward</name>
        <label>Update Record with Reward</label>
        <locationX>545</locationX>
        <locationY>3830</locationY>
        <connector>
            <targetReference>if_Revenue_Rule_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_MarkAsRewardNight__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RewardNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stay_Diqualified_Room_Rev_included</name>
        <label>Update Stay Diqualified Room Rev included</label>
        <locationX>314</locationX>
        <locationY>3362</locationY>
        <connector>
            <targetReference>Check_if_Stay_Match_Reward_Night_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalWithoutRoomNonQRevUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalWithoutRoomNonQRev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalWithoutRoomRevUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalWithoutRoomRev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_NonQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_QualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RoomIncidentalsDisqualified__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationReason__c</field>
            <value>
                <elementReference>reasonsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationResult__c</field>
            <value>
                <elementReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stay_DisQualified2</name>
        <label>Update Stay DisQualified 2</label>
        <locationX>578</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Check_if_Stay_Match_Reward_Night_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>Total_USD_NonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalNonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_NonQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_QualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RoomIncidentalsDisqualified__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationReason__c</field>
            <value>
                <elementReference>reasonsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationResult__c</field>
            <value>
                <elementReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stay_Qualified</name>
        <label>Update Stay Qualified</label>
        <locationX>842</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Check_if_Stay_Match_Reward_Night_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>Total_USD_NonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalNonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_NonQualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_QualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationReason__c</field>
            <value>
                <elementReference>reasonsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationResult__c</field>
            <value>
                <elementReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stay_Qualified1</name>
        <label>Update Stay DisQualified 1</label>
        <locationX>50</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Check_if_Stay_Match_Reward_Night_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue_USD__c</field>
            <value>
                <elementReference>TotalQRAfterRRDisqualifiedUSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalNonQualifyingRevenue__c</field>
            <value>
                <elementReference>TotalQRAfterRRDisqualified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue_USD__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_FinalTotalQualifyingRevenue__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_NonQualifyingNights__c</field>
            <value>
                <elementReference>StayRecord.LOY_NightsStayed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_QualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RoomIncidentalsDisqualified__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationReason__c</field>
            <value>
                <elementReference>reasonsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_StayQualificationResult__c</field>
            <value>
                <elementReference>DTStayMatchSingleOutput.LOY_StayQualificationResult__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_TierQualifyingNights__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Stay Revenue Qualification fields</description>
        <name>Update_Stay_Revenue_Qualification_fields</name>
        <label>Update Stay Revenue Qualification fields</label>
        <locationX>677</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>LOY_StayQualificationDT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StayRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LOY_OverrideRevenue_QualificationBucket__c</field>
            <value>
                <elementReference>DTMatchOutput.LOY_OverrideRevenueQualificationBucket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_RevenueBucketQualified__c</field>
            <value>
                <elementReference>DTMatchOutput.LOY_RevenueQualificationBucket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Total_NonQualifying_Revenue_USD__c</field>
            <value>
                <elementReference>Total_USD_NonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Total_NonQualifying_Revenue__c</field>
            <value>
                <elementReference>TotalNonQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Total_Qualifying_Revenue_USD__c</field>
            <value>
                <elementReference>TotalQR_USD_AfterRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOY_Total_Qualifying_Revenue__c</field>
            <value>
                <elementReference>TotalQRAfterRR</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__Stay__c</object>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_revenue_rules_record_type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DTMatchOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>DTruleMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>DTStayMatchOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>DTStayMatchOutputSingleReward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>DTStayMatchSingleOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_StayProcessingRule__c</objectType>
    </variables>
    <variables>
        <name>finalStayQualificationResult_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isIncidentals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>MatchedRulesStay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_MatchedLoyaltyRule__c</objectType>
    </variables>
    <variables>
        <name>MatchedRulesStayList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LOY_MatchedLoyaltyRule__c</objectType>
    </variables>
    <variables>
        <name>OverrideRevBucket_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reasonList_Multi</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reasonsList</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RevBucket_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StayRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hapi__Stay__c</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
