force-app/main/default/flows/LOY_Property_Context_Sharing_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Logging</name>
        <label>Flow Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Property_Context_Sharing_Reservation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>debugMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Property_Context_Sharing_Invocable_to_Share_Records</name>
        <label>Property Context Sharing Invocable to Share Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PropertyContextSharingInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>$Record.hapi__HotelCode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareObjectAPIName</name>
            <value>
                <stringValue>hapi__Reservation__Share</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PropertyContextSharingInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Message</name>
        <label>Assign Custom Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while accessing PropertyContextSharingInvocable apex class. Please reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Logging</targetReference>
        </connector>
    </assignments>
    <description>To Provide Property Context sharing for Hapi reservation records</description>
    <environments>Default</environments>
    <formulas>
        <name>hotelGroupName</name>
        <dataType>String</dataType>
        <expression>{!$Record.hapi__HotelCode__c}&amp;&apos; - Baseline&apos;</expression>
    </formulas>
    <interviewLabel>LOY-Property Context Sharing Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Property Context Sharing Reservation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hapi__HotelCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hapi__HotelCode__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>hapi__Reservation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Property_Context_Sharing_Invocable_to_Share_Records</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>debugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
