force-app/main/default/flows/LOY_GuestPreferenceCode_AfterSave_SectionAndGroupConsistencyValidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Error Message to be show to the user if he tries to create\update the records in the way which is not allowed by this validation flow.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Guest Preference Codes from different Preference Sections cannot be linked to the same Preference Group.</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>ShowErrorMessage</name>
        <label>Show Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!ErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Check if the query above returned the results</description>
        <name>DoesGuestPreferenceCodesForTheSameGroupAndDifferentSectionExist</name>
        <label>Does Guest Preference Codes For The Same Group And Different Section Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DoesGuestPreferenceCodesForTheSameGroupAndDifferentSectionExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueryGuestPreferenceCodesForTheSameGroupAndDifferentSection</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowErrorMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow validates that guest preference codes have correct setup of Preference Sections and Preference Groups, where different Preference Sections cannot be linked to the same Preference Group.</description>
    <environments>Default</environments>
    <interviewLabel>Guest Preference Code - After Save - Section and Group consistency Validation - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guest Preference Code - After Save - Section and Group consistency Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries Guest Preference Codes for the same group and different section to check for misconfiguration. If such query returns something - misconfiguration exists for the preference group</description>
        <name>QueryGuestPreferenceCodesForTheSameGroupAndDifferentSection</name>
        <label>Query Guest Preference Codes For The Same Group And Different Section</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesGuestPreferenceCodesForTheSameGroupAndDifferentSectionExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PreferenceGroup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PreferenceGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PreferenceGroup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PreferenceSection__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PreferenceSection__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hapi__GuestPreferenceCode__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>QueryGuestPreferenceCodesForTheSameGroupAndDifferentSection</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.PreferenceGroup__c})) &amp;&amp; (
ISNEW() 
|| ISCHANGED({!$Record.PreferenceSection__c})
|| ISCHANGED({!$Record.PreferenceGroup__c})
)</filterFormula>
        <object>hapi__GuestPreferenceCode__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
