force-app/main/default/flows/LOY_CTB_Retiree_Employee_Rule_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When we are getting any exception while creating a record it will create a Log.</description>
        <name>Create_Retiree_Employee_Rule_Exception_Log</name>
        <label>Create Retiree Employee Rule Exception Log</label>
        <locationX>1348</locationX>
        <locationY>1646</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayErrors</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Retiree_Employee_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>It will create a log when record is created.</description>
        <name>Create_Retiree_Employee_Rule_Success_Log</name>
        <label>Create Retiree Employee Rule Success Log</label>
        <locationX>1084</locationX>
        <locationY>1646</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NavigateToRecordPage</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Retiree_Employee_Rule__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Retiree_Employee_Rule_Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogRetireeEmployeeRuleCreationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>RetireeEmployeeRuleRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignDateErrorMessage</name>
        <label>AssignDateErrorMessage</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>DisplayDateErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start Date must be today or a future date, and End Date must be the same as or later than the Start Date.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outcome_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMaxMinErrorValidaition</name>
        <label>AssignMaxMinErrorValidaition</label>
        <locationX>644</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>DisplayMaxMinErrorValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minimum Tenure must be greater than or equal to 0, and Maximum Tenure must be greater than the Minimum Tenure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayMaxMinErrorScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEndDateNullCheck</name>
        <label>CheckEndDateNullCheck</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CheckEndDateValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EndDateNotLessThenStartDateCheck</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Rule_Conditions</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEndDateValidation</name>
        <label>CheckEndDateValidation</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Rule_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>RaiseError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>RetireeEmployeeRuleObject.Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDateErrorMessage</targetReference>
            </connector>
            <label>RaiseError</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfMaximumTenureBlankOrLessthanMinimum</name>
        <label>CheckIfMaximumTenureBlankOrLessthanMinimum</label>
        <locationX>996</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Rule_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>RaiseCustomError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Maximum_Tenure_Years__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMaxMinErrorValidaition</targetReference>
            </connector>
            <label>Raise Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMaximumTenureNullCheck</name>
        <label>CheckMaximumTenureNullCheck</label>
        <locationX>820</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>CheckIfMaximumTenureBlankOrLessthanMinimum</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MaxTenureNotLessThenMinTenureCheck</defaultConnectorLabel>
        <rules>
            <name>Success_MaxTenureNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Maximum_Tenure_Years__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Rule_Actions</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMinimumTenureValidation</name>
        <label>CheckMinimumTenureValidation</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CheckMaximumTenureNullCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Raise</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMaxMinErrorValidaition</targetReference>
            </connector>
            <label>RaiseError</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStartDateValidation</name>
        <label>CheckStartDateValidation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CheckEndDateNullCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetireeEmployeeRuleObject.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDateErrorMessage</targetReference>
            </connector>
            <label>RaiseError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_User_have_the_required_permissions</name>
        <label>Does the User have the required permissions</label>
        <locationX>831</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>You_do_not_have_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_permissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Set_Group_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rule_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Permission Set Groups Exits in the org if not show the Error Screen</description>
        <name>Permission_Set_Group_Exits</name>
        <label>Permission Set Group Exits</label>
        <locationX>1353</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Persona_Not_Defined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_permission_set_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pemission_Set_Group_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permission_Set_Group_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>US402127 - CTB | Add Nebula logging on record creation, deletion and updates - Retiree Employee Rules 
[US373083] LCPT|InnNovators|Functional Testing | INT2|&apos;New Employee Retiree Rule&apos; button is enabled for Loyalty Program Management user</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>LOY CTB Retiree Employee Rule Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY CTB Retiree Employee Rule Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Retiree_Employee_Rule</name>
        <label>Create Retiree Employee Rule</label>
        <locationX>1084</locationX>
        <locationY>1538</locationY>
        <assignRecordIdToReference>RetireeEmployeeRuleRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Retiree_Employee_Rule_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Retiree_Employee_Rule_Exception_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible_Employee_Sub_Group_s__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Eligible_Employee_Sub_Group_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Status__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Employee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Rule_ID__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Legacy_Rule_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Tenure_Years__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Maximum_Tenure_Years__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimal_Tenure_Years__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rule_Name__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Rule_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rule_Rank__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Rule_Rank__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Employee_Sub_Group__c</field>
            <value>
                <elementReference>RetireeEmployeeRuleObject.Target_Employee_Sub_Group__c</elementReference>
            </value>
        </inputAssignments>
        <object>Retiree_Employee_Rule__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get the Permission Set Id for the Permission Set Group Loyalty_Operations_Persona</description>
        <name>Get_Pemission_Set_Group_Id</name>
        <label>Get Pemission Group Set Id</label>
        <locationX>1353</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Group_Exits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Loyalty_Operations_Persona</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Permission_Set_Group_Assignment</name>
        <label>Permission Set Group Assignment</label>
        <locationX>831</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_User_have_the_required_permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pemission_Set_Group_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Outcome_Message</name>
        <label>Display Outcome Message</label>
        <locationX>50</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 45, 45);&quot;&gt;{!DisplayDateErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayErrors</name>
        <label>DisplayErrors</label>
        <locationX>1348</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowFaultMessages</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 50, 65); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayMaxMinErrorScreen</name>
        <label>DisplayMaxMinErrorScreen</label>
        <locationX>644</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMaxMinErrorValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 45, 45);&quot;&gt;{!DisplayMaxMinErrorValidation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NavigateToRecordPage</name>
        <label>NavigateToRecordPage</label>
        <locationX>1084</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Retiree Employee Rule has been created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RetireeEmployeeRuleRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Persona_Not_Defined</name>
        <label>Persona Not Defined</label>
        <locationX>1876</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Persona_is_Not_Defined</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 6, 6);&quot;&gt;The Loyalty Operations Persona is not defined. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rule_Actions</name>
        <label>Rule Actions</label>
        <locationX>1084</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Retiree_Employee_Rule</targetReference>
        </connector>
        <fields>
            <name>Rule_Actions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rule_Actions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Target_Employee_Sub_Group__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Rule_Actions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rule_Conditions</name>
        <label>Rule Conditions</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckMinimumTenureValidation</targetReference>
        </connector>
        <fields>
            <name>Rule_Conditions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rule_Conditions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Minimal_Tenure_Years__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Maximum_Tenure_Years__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Rule_Conditions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Employee_Status__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Eligible_Employee_Sub_Group_s__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rule_Information</name>
        <label>Rule Information</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckStartDateValidation</targetReference>
        </connector>
        <fields>
            <name>Rule_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Rule_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Rule_Name__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Rule_Rank__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Rule_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Description__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Staus</name>
            <fieldText>Date &amp; Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_Staus_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Start_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.End_Date__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Staus_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>RetireeEmployeeRuleObject.Active__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>You_do_not_have_access</name>
        <label>You do not have access</label>
        <locationX>1612</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_access</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 13, 53); background-color: rgb(255, 255, 255);&quot;&gt; You do not have access to create Employee  Retiree Rules.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pemission_Set_Group_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LogRetireeEmployeeRuleCreationMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Employee Retiree Rule record is successfully created by {!$User.Id} with record id {!RetireeEmployeeRuleRecord.Id}&lt;/p&gt;&lt;p&gt;Start Time: {!StartDateTime}&lt;/p&gt;&lt;p&gt;End Time: {!EndDateTime}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DisplayDateErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayMaxMinErrorValidation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetireeEmployeeRuleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Retiree_Employee_Rule__c</objectType>
    </variables>
    <variables>
        <name>RetireeEmployeeRuleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Retiree_Employee_Rule__c</objectType>
    </variables>
</Flow>
