force-app/main/default/flows/LOY_Cancel_Unassigned_Voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Handle_Error_Exceptions</name>
        <label>Handle Error Exceptions</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Logs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Cancel_Unassigned_Voucher</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>debugNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Error_Logs</name>
        <label>Save Error Logs</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Values</name>
        <label>Assign Custom Exception Values</label>
        <locationX>1898</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while updating Unassigned Voucher record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Exception_Details</name>
        <label>Assign Error Exception Details</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while fetching Unassigned Vouchers. Please contact System administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exception_Details</name>
        <label>Assign Exception Details</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while fetching Unassigned Vouchers record. Please contact System administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id_to_List</name>
        <label>Assign Record Id to List</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Unassigned_Voucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UV_Values</name>
        <label>Assign UV Values</label>
        <locationX>798</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>uvRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_UV_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.CanceledReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canceled_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.FraudRelated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fraud_Related</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.CancellationNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancelation_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uvRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_UV_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UV_ValuesV1</name>
        <label>Assign UV Values</label>
        <locationX>1062</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>uvRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_UV_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecord.CanceledReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canceled_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uvRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uvRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_UV_Ids</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Assign_Valid_Values</name>
        <label>Assign Valid Values</label>
        <locationX>930</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Assign_UV_ValuesV1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Other</defaultConnectorLabel>
        <rules>
            <name>Canceled_Reason_is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Canceled_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UV_Values</targetReference>
            </connector>
            <label>Canceled Reason is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Single_or_Multiple_UVs</name>
        <label>Check for Single or Multiple UVs</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_All_Unassigned_Vouchers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Unassigned Vouchers</defaultConnectorLabel>
        <rules>
            <name>Running_Profile_or_Role_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Loyalty_Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Loyalty_Business_Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Loyalty_Financial_Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgScreenV1</targetReference>
            </connector>
            <label>Running Profile or Role Check</label>
        </rules>
        <rules>
            <name>Record_Id_and_List_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgScreen</targetReference>
            </connector>
            <label>Record Id and List is Empty</label>
        </rules>
        <rules>
            <name>Single_Unassigned_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unassigned_Voucher_Record</targetReference>
            </connector>
            <label>Single Unassigned Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other than Unassigned</defaultConnectorLabel>
        <rules>
            <name>Status_is_Unassigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_All_UVs.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unassigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_All_UVs</targetReference>
            </connector>
            <label>Status is Unassigned</label>
        </rules>
    </decisions>
    <description>Cancel Unassigned Voucher is a screen flow which will show a modal popup to cancel an Unassigned Voucher. Also once canceled no one can revert it back.</description>
    <dynamicChoiceSets>
        <name>canceledReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CanceledReason__c</picklistField>
        <picklistObject>UnassignedVouchers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>cancelationNoteLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Cancelation_Note})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LOY - Cancel Unassigned Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Cancel Unassigned Vouchers</label>
    <loops>
        <name>Iterate_on_All_UVs</name>
        <label>Iterate on All UVs</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_All_Unassigned_Vouchers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_Unassigned_Voucher</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_UV_Ids</name>
        <label>Iterate on UV Ids</label>
        <locationX>710</locationX>
        <locationY>1142</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Valid_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UV_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Unassigned_Vouchers</name>
        <label>Get All Unassigned Vouchers</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_All_UVs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Exception_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UnassignedVouchers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unassigned_Voucher_Record</name>
        <label>Get Unassigned Voucher Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Id_to_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Exception_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnassignedVouchers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UV_Record</name>
        <label>Update UV Record</label>
        <locationX>710</locationX>
        <locationY>1634</locationY>
        <connector>
            <targetReference>CancelConfirmScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values</targetReference>
        </faultConnector>
        <inputReference>uvRecordList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancel_Unassigned_Voucher</name>
        <label>Cancel Unassigned Voucher</label>
        <locationX>710</locationX>
        <locationY>1034</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_on_UV_Ids</targetReference>
        </connector>
        <fields>
            <name>GeneralMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 75, 105);&quot;&gt;*&lt;/span&gt; Required Field&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Canceled_Reason</name>
            <choiceReferences>canceledReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Unassigned_Voucher_Record.CanceledReason__c</elementReference>
            </defaultValue>
            <fieldText>Canceled Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fraud_Related</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Fraud Related?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canceled_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cancelation_Note</name>
            <defaultValue>
                <stringValue>{!Get_Unassigned_Voucher_Record.CancellationNote__c}</stringValue>
            </defaultValue>
            <fieldText>Cancelation Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 62, 62);&quot;&gt;Cancelation Note length should not be greater than 255 chars&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!cancelationNoteLength} &lt; 256</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Canceled_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CancelConfirmScreen</name>
        <label>CancelConfirmScreen</label>
        <locationX>710</locationX>
        <locationY>1742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CancelScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unassigned Voucher Canceled Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CancelScreenMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unassigned Vouchers Canceled Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMsg</name>
        <label>ErrorMsg</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>ErrorScreenMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 19, 19);&quot;&gt;Please only select Unassigned Vouchers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMsgScreen</name>
        <label>ErrorMsgScreen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>ErrorMsgV1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 31, 31);&quot;&gt;Please select atleast one unassigned vouchers in order to cancel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMsgScreenV1</name>
        <label>ErrorMsgScreenV1</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>ErrorMsgV2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 31, 31);&quot;&gt;You don&apos;t have necessary privileges to perform the bulk cancelation of Unassigned Vouchers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Single_or_Multiple_UVs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>debugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uvRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UnassignedVouchers__c</objectType>
    </variables>
    <variables>
        <name>uvRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UnassignedVouchers__c</objectType>
    </variables>
</Flow>
