force-app/main/default/flows/LOY_Subflow_Award_Missing_Member_Benefits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>It will create a Log when when Creating Member Benefit</description>
        <name>Create_a_Log_when_Creating_Member_Benefit</name>
        <label>Create a Log when Creating Member Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_New_MB_created</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MemberBenefitCreateMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>MemberBenefit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Creating this log when matching records found</description>
        <name>Create_Log_For_Member_Benefit_Records_Query</name>
        <label>Create Log For Member Benefit Records Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_MBs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MemberBenefitMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>MemberBenefit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Creating this log when matching records found</description>
        <name>Create_Log_For_Series_Benefit_Records_Query</name>
        <label>Create Log For Series Benefit Records Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PSBs_found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SeriesBenefitMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>MemberBenefit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Exception while creating Member Benefit Records</description>
        <name>Create_Member_Benefit_Exception_Log</name>
        <label>Create Member Benefit Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_SB_Id_to_List</name>
        <label>Add SB Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SBs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_PSBs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_PSBs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SB_Id_to_List_1</name>
        <label>Add SB Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingSBs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_MBs.Series_Benefit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_MBs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MB_to_Collection</name>
        <label>Assign MB to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MBs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PSBs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Series_Benefit_MB</name>
        <label>Current Series Benefit MB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MB.Applicable_Year_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberBenefit.Applicable_Year_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MB.SourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MB.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PSBs.BenefitId__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MB.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberBenefit.MemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MB.BenefitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PSBs.BenefitId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MB.Series_Benefit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PSBs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_MB_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Sequence_Order_of_NMB</name>
        <label>Get Sequence Order of NMB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SequenceOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberBenefit.Series_Benefit__r.Sequence_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Predecessor_Series_Benefits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_New_MB_created</name>
        <label>Message: New MB created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Member Benefit Created for Predecessor.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Message_No_Predecessor_Series_Benefits</name>
        <label>Message: No Predecessor Series Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Predecessor Series Benefits for Member Benefit</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Message_No_Series</name>
        <label>Message: No Series</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Series for Member Benefit</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Message_Predecessor_Benefit_Already_Issued_to_Member</name>
        <label>Message: Predecessor Benefit Already Issued to Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Predecessor Benefit Already Issued to Member</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Empty_MB_found_for_any_Series_Benefit</name>
        <label>Empty MB found for any Series Benefit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Message_Predecessor_Benefit_Already_Issued_to_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hasMBs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MBs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MBs_for_PSBs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_MB_for_the_current_SB</name>
        <label>Has MB for the current SB?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Current_Series_Benefit_MB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hasMBforCurrentSB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSBs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_over_PSBs.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_PSBs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NMB_a_Part_of_a_series</name>
        <label>NMB a part of a Series?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Message_No_Series</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberBenefit.Series_Benefit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MemberBenefit.Series_Benefit__r.SeriesId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sequence_Order_of_NMB</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSBs_found</name>
        <label>PSBs Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Message_No_Predecessor_Series_Benefits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>psbs_found_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Predecessor_Series_Benefits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_PSBs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DE73576: Change logic from predecessor to year based series.
US402132 || CTB | Add Nebula logging on record creation, deletion and updates - Member Benefit</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY - Subflow: Award Missing Member Benefits&apos;</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>LOY - Subflow: Award Missing Member Benefits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Subflow: Award Missing Member Benefits</label>
    <loops>
        <name>Iterate_MBs</name>
        <label>Iterate MBs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_MBs_for_Series_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SB_Id_to_List_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_over_PSBs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_PSBs</name>
        <label>Iterate over PSBs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Predecessor_Series_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_MB_for_the_current_SB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Empty_MB_found_for_any_Series_Benefit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PSBs</name>
        <label>Iterate PSBs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Predecessor_Series_Benefits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SB_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_MBs_for_Series_Benefits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MBs_for_PSBs</name>
        <label>Create MBs for PSBs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_list_of_Id_s_from_Create_Member_Benefit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Member_Benefit_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>MBs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_MBs_for_Series_Benefits</name>
        <label>Get MBs for Series Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_list_of_Id_s_from_Member_Benefit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefit.MemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Series_Benefit__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SBs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Predecessor_Series_Benefits</name>
        <label>Get Predecessor Series Benefits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_List_of_Id_s_from_Series_Benefit_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SeriesId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberBenefit.Series_Benefit__r.SeriesId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence_Order__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SequenceOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Series_Benefit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NMB_a_Part_of_a_series</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MemberBenefitCreateMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit records for Predecessor Series Benefit is successfully Created by {!$User.Id} with Record Id&apos;s: {!Get_list_of_Id_s_from_Create_Member_Benefit}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>MemberBenefitMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found Member Benefit for Series Benefits with Record Id&apos;s: {!Get_list_of_Id_s_from_Member_Benefit}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>SeriesBenefitMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found Predecessor Series Benefit Records with Record Id&apos;s: {!Get_List_of_Id_s_from_Series_Benefit_list}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>Get_list_of_Id_s_from_Create_Member_Benefit</name>
        <label>Get list of Id&apos;s from Create Member Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Log_when_Creating_Member_Benefit</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>MBs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_list_of_Id_s_from_Member_Benefit</name>
        <label>Get list of Id&apos;s from Member Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Log_For_Member_Benefit_Records_Query</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_MBs_for_Series_Benefits[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_List_of_Id_s_from_Series_Benefit_list</name>
        <label>Get List of Id&apos;s from Series Benefit list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Log_For_Series_Benefit_Records_Query</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Predecessor_Series_Benefits[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ExistingSBs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>MBs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>MemberBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>PredSBs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SequenceOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
