force-app/main/default/flows/LOY_Voucher_Billing_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Error_Exceptions</name>
        <label>Add Error Exceptions</label>
        <locationX>1634</locationX>
        <locationY>1148</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Logs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Voucher_Billing_Handler</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>debugMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Info_Exceptions</name>
        <label>Add Info Exceptions</label>
        <locationX>4362</locationX>
        <locationY>1574</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Info_Logs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Voucher_Billing_Handler</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>debugMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Error_Logs</name>
        <label>Save Error Logs</label>
        <locationX>1634</locationX>
        <locationY>1256</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Info_Logs</name>
        <label>Save Info Logs</label>
        <locationX>4362</locationX>
        <locationY>1682</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Amount</name>
        <label>Assign Billing Amount</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>voucherBillingAmountVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_PriceBook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Redeem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Amount_1</name>
        <label>Assign Billing Amount</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>voucherBillingAmountVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>voucherBillingAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Points Assessment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Entity</name>
        <label>Assign Billing Entity</label>
        <locationX>4054</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>billingTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Record_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Entity_Negative</name>
        <label>Assign Billing Entity</label>
        <locationX>4318</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>billingTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Cancellation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Record_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Record_Values</name>
        <label>Assign Billing Record Values</label>
        <locationX>4186</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>billingRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderBillingAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.BillingEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingTypeValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecord.FlowGuid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowGUIDformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_OrderItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception</name>
        <label>Assign Custom Exception</label>
        <locationX>4362</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Billing Platform event. Reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Info_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_1</name>
        <label>Assign Custom Exception</label>
        <locationX>4626</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Failure - Invalid Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Info_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1898</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Billing Record. Reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_VoucherRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Record Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values</name>
        <label>Assign Custom Exception Values</label>
        <locationX>1634</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Billing Platform event. Reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_VoucherRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Failure</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_2</name>
        <label>Assign Custom Exception Values</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - Invalid Context Value</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - Invalid Context Value</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_VoucherRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Info_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_3</name>
        <label>Assign Custom Exception Values</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is an error while getting the Standard Pricebook record.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_4</name>
        <label>Assign Custom Exception Values</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Matching PriceBook Entry process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_PriceBook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Price Book Entry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_5</name>
        <label>Assign Custom Exception Values</label>
        <locationX>4846</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Order Item Detail process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_6</name>
        <label>Assign Custom Exception Values</label>
        <locationX>4582</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get VD Records process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_Record</name>
        <label>Assign Custom Exception Values</label>
        <locationX>4098</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderProduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Billing Record for Order Products. Reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Record Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Values_v1</name>
        <label>Assign Custom Exception Values</label>
        <locationX>3834</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>objectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderProduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Billing Platform event for Order Products. Reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output_Response</name>
        <label>Assign Output Response</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - Order and Voucher present. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - Order and Voucher present. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Info_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output_response_message</name>
        <label>Assign Output response message</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - No Context Provided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request to Handle Voucher Billing - No Context Provided</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdForException</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Info_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Platform_Event_Values</name>
        <label>Assign Platform Event Values</label>
        <locationX>4186</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>billingEventRecord.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderProduct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.Transaction_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.HotelCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.Order.Account.Hotel_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.BillingAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.BillingCurrencyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Detail.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.ProductId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Item_Detail.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.TriggeringSObject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.TriggeringRecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.OrderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.LegacyVoucherId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VD_Records.LegacyVoucherId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecord.FlowGuid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowGUIDformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingEventRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingEventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Billing_Amount_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Response</name>
        <label>Assign Success Response</label>
        <locationX>2338</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>responseMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Event Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Billing_Amount</name>
        <label>Assign Billing Amount</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>voucherBillingAmountVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_PriceBook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Billing_Amount_is_not_Empty</name>
        <label>Billing Amount is not Empty</label>
        <locationX>4648</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_OrderItemList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_v1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>billingAmountFormula</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Detail</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Event_Record_List_Empty_Check</name>
        <label>Billing Event Record List Empty Check</label>
        <locationX>3966</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Assign_Custom_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>billingEventRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Billing_Record</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Billing_Amount_Value</name>
        <label>Check Billing Amount Value</label>
        <locationX>4186</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_Entity_Negative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Billing Amount is Negative</defaultConnectorLabel>
        <rules>
            <name>Billing_Amount_is_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderBillingAmountFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Entity</targetReference>
            </connector>
            <label>Billing Amount is Positive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context_Check_V1</name>
        <label>Context Check?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Custom_Exception_Values_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Context_is_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.BillingTiming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>When Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Matching_PriceBook_Entry.UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Billing_Amount</targetReference>
            </connector>
            <label>Context is Issue</label>
        </rules>
        <rules>
            <name>Context_is_Redeem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.BillingTiming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>When Consumed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Matching_PriceBook_Entry.UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Amount</targetReference>
            </connector>
            <label>Context is Redeem</label>
        </rules>
        <rules>
            <name>Context_is_Cancel_V1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.BillingTiming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>When Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Matching_PriceBook_Entry.UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Amount_1</targetReference>
            </connector>
            <label>Context is Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Input</name>
        <label>Validate Input</label>
        <locationX>2338</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Custom_Exception_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Context_is_null_or_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output_response_message</targetReference>
            </connector>
            <label>Context is null or Empty</label>
        </rules>
        <rules>
            <name>Both_Voucher_and_OrderItemList_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_VoucherRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OrderItemsList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output_Response</targetReference>
            </connector>
            <label>Both Voucher and OrderItemList provided</label>
        </rules>
        <rules>
            <name>Valid_Request_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VoucherRecord.VoucherDefinition.Billable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Standard_Pricebook</targetReference>
            </connector>
            <label>Valid Request Voucher</label>
        </rules>
        <rules>
            <name>Valid_Request_OrderItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Context</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OrderItemsList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_OrderItemList</targetReference>
            </connector>
            <label>Valid Request OrderItem</label>
        </rules>
    </decisions>
    <description>Voucher Billing Handler is an auto launched flow which will invoke either from Voucher Order controller apex or Voucher after save flow and it will take Context, Voucher or OrderProducts as an input parameter.</description>
    <environments>Default</environments>
    <formulas>
        <name>billingAmountFormula</name>
        <dataType>String</dataType>
        <expression>IF({!var_Context} == &apos;Purchase&apos;, TEXT({!Iterate_on_OrderItemList.Quantity} * {!Iterate_on_OrderItemList.UnitPrice}), IF({!var_Context} == &apos;Cancel&apos;, TEXT(-{!Iterate_on_OrderItemList.Quantity} * {!Iterate_on_OrderItemList.UnitPrice}), &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>billingAmountVoucher</name>
        <dataType>Number</dataType>
        <expression>VALUE({!voucherBillingAmountVariable})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>exceptionDetailFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Flow.FaultMessage} != &apos;&apos;, {!$Flow.FaultMessage}, {!debugMessage})</expression>
    </formulas>
    <formulas>
        <name>FlowGUIDformula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!var_FlowGUID} != NULL, {!var_FlowGUID} != &apos;&apos;), {!var_FlowGUID}, {!$Flow.InterviewGuid})</expression>
    </formulas>
    <formulas>
        <name>orderBillingAmountFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!billingAmountFormula})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>voucherBillingAmount</name>
        <dataType>String</dataType>
        <expression>TEXT(-{!Get_Matching_PriceBook_Entry.UnitPrice})</expression>
    </formulas>
    <interviewLabel>LOY - Voucher Billing Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher Billing Handler</label>
    <loops>
        <name>Iterate_on_OrderItemList</name>
        <label>Iterate on OrderItemList</label>
        <locationX>3966</locationX>
        <locationY>242</locationY>
        <collectionReference>var_OrderItemsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Billing_Amount_is_not_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Billing_Event_Record_List_Empty_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Event_Record</name>
        <label>Create Billing Event Record</label>
        <locationX>974</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>Assign_Success_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Bill</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAmount__c</field>
            <value>
                <elementReference>voucherBillingAmountVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCurrencyCode__c</field>
            <value>
                <elementReference>var_VoucherRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowGuid__c</field>
            <value>
                <elementReference>FlowGUIDformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotelCode__c</field>
            <value>
                <elementReference>var_VoucherRecord.UnassignedVoucher__r.OrderId__r.Account.Hotel_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegacyVoucherId__c</field>
            <value>
                <elementReference>var_VoucherRecord.VoucherDefinition.LegacyVoucherId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MembershipNumber__c</field>
            <value>
                <elementReference>var_VoucherRecord.LoyaltyProgramMember.MembershipNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId__c</field>
            <value>
                <elementReference>var_VoucherRecord.UnassignedVoucher__r.OrderId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__c</field>
            <value>
                <elementReference>var_VoucherRecord.VoucherDefinition.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggeringRecordId__c</field>
            <value>
                <elementReference>var_VoucherRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggeringSObject__c</field>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherCode__c</field>
            <value>
                <elementReference>var_VoucherRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Billing_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Record</name>
        <label>Create Billing Record</label>
        <locationX>974</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>Create_Billing_Event_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>billingAmountVoucher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingEntity__c</field>
            <value>
                <elementReference>var_VoucherRecord.UnassignedVoucher__r.OrderId__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingType__c</field>
            <value>
                <elementReference>billingTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowGuid__c</field>
            <value>
                <elementReference>FlowGUIDformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyMemberNumber__c</field>
            <value>
                <elementReference>var_VoucherRecord.LoyaltyProgramMember.MembershipNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMember__c</field>
            <value>
                <elementReference>var_VoucherRecord.LoyaltyProgramMemberId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>var_VoucherRecord.UnassignedVoucher__r.OrderId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher__c</field>
            <value>
                <elementReference>var_VoucherRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Billing_Record</name>
        <label>Create Order Billing Record</label>
        <locationX>3570</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Create_OrderItem_Billing_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_Record</targetReference>
        </faultConnector>
        <inputReference>billingRecordList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OrderItem_Billing_Event</name>
        <label>Create OrderItem Billing Event</label>
        <locationX>3570</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Assign_Success_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_v1</targetReference>
        </faultConnector>
        <inputReference>billingEventRecordList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_PriceBook_Entry</name>
        <label>Get Matching PriceBook Entry</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Context_Check_V1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VoucherRecord.VoucherDefinition.ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Detail</name>
        <label>Get Order Item Detail</label>
        <locationX>4186</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VD_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_on_OrderItemList.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_PriceBook_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VD_Records</name>
        <label>Get VD Records</label>
        <locationX>4186</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Platform_Event_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Values_6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Item_Detail.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>billingEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Event__e</objectType>
    </variables>
    <variables>
        <name>billingEventRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Event__e</objectType>
    </variables>
    <variables>
        <name>billingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>billingRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>billingTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogTransactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdForException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Context</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique Id to associate the billing event to the billing record</description>
        <name>var_FlowGUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OrderItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>var_VoucherRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>voucherBillingAmountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
