force-app/main/default/flows/LOY_NewEmployeeRecordShare_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Hotel_Code_to_collection</name>
        <label>Add Hotel Code to collection</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>hotelCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hotelStringElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Hotel_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Missing_Group_to_Collection</name>
        <label>Add Missing Group to Collection</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>hotelCollectionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_Hotel_Collections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Hotel_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Hotels_String_to_Variable</name>
        <label>Assign All Hotels String to Variable</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>hotelString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AllHotels__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception</name>
        <label>Assign Custom Exception</label>
        <locationX>1238</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error occurred while creating Hotel Groups</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Custom_Exception_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Msg</name>
        <label>Assign Custom Exception Msg</label>
        <locationX>1766</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error occurred while fetching hotel groups </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Custom_Exception_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Record</name>
        <label>Assign Custom Exception Record</label>
        <locationX>2294</locationX>
        <locationY>4331</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error which creating group members in salesforce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Custom_Exception_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Vals</name>
        <label>Assign Custom Exception Vals</label>
        <locationX>2558</locationX>
        <locationY>3923</locationY>
        <assignmentItems>
            <assignToReference>debugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while fetching GroupMember records in Salesforce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Custom_Exception_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Details</name>
        <label>Assign Group Details</label>
        <locationX>1194</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>hotelGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hotel_Group_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelGroupsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupMemberRecord.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hotel_Group_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupMemberRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vGroupMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hotel_Group_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Members</name>
        <label>Assign Group Members</label>
        <locationX>798</locationX>
        <locationY>3371</locationY>
        <assignmentItems>
            <assignToReference>vGroupMemberRecord.GroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Newly_Groups.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupMemberRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGroupMemberCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vGroupMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Newly_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hotel_Collection_Count</name>
        <label>Assign Hotel Collection Count</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>hotelCollectionsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Iteration_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revised_hotelCollections</name>
        <label>Assign Revised hotelCollections</label>
        <locationX>1106</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>hotelCollections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hotelCollectionsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_on_Hotel_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Construct_Remaining_String</name>
        <label>Construct Remaining String</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>hotelString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>remainingSubstituteString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>trimmedHotelString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Separator_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_Collection_Counter</name>
        <label>Group Collection Counter</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>hotelCollectionsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Hotel_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hotel_Group_Creation_Assignment</name>
        <label>Hotel Group Creation Assignment</label>
        <locationX>1370</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>hotelGroupRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelGroupRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_on_Hotel_Groups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelGroupRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hotelGroupDescriptionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelGroupList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hotelGroupRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_on_Hotel_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Iteration_Flag</name>
        <label>Update Iteration Flag</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>firstIterationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hotelCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!firstHotelString}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Separator_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AllHotels_Value_Check</name>
        <label>AllHotels Value Check</label>
        <locationX>952</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllHotels_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AllHotels__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AllHotels__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AllHotels__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Group_Members</targetReference>
            </connector>
            <label>AllHotels Empty</label>
        </rules>
        <rules>
            <name>AllHotels_Null_Check</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AllHotels__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AllHotels__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Hotels_String_to_Variable</targetReference>
            </connector>
            <label>AllHotels Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Iteration_Count</name>
        <label>Checking Iteration Count</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Construct_Remaining_String</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Iteration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstIterationFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Iteration_Flag</targetReference>
            </connector>
            <label>First Iteration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Condition_Check</name>
        <label>Group Condition Check</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Hotel_Collections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Groups Not Found</defaultConnectorLabel>
        <rules>
            <name>All_Groups_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hotelCollectionsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>hotelGroupsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Existing_Group_Members</targetReference>
            </connector>
            <label>All Groups Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupList_Empty_Check</name>
        <label>GroupList Empty Check</label>
        <locationX>1106</locationX>
        <locationY>2939</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hotelGroupList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hotel_Groups</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hotel_Groups_Found</name>
        <label>Hotel Groups Found?</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Iterating_on_Hotel_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hotel_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Condition_Check</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Hotel_Group_Check</name>
        <label>Missing Hotel Group Check</label>
        <locationX>1282</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Add_Missing_Group_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group not Found</defaultConnectorLabel>
        <rules>
            <name>Hotel_Group_in_SF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hotelGroupIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_on_Hotel_Collections</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_on_Hotel_Collections</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue> - Baseline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_Hotel_Collections</targetReference>
            </connector>
            <label>Hotel Group in SF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_Existing_Members</name>
        <label>Null Check for Existing Members</label>
        <locationX>952</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Create_Group_Member_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null_v1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Group_Members</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Separator_Found</name>
        <label>Separator Found?</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Add_Hotel_Code_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hotelString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hotel_Collection_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Group_Name_Check</name>
        <label>Valid Group Name Check</label>
        <locationX>1282</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Hotel_Group_Creation_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Name</defaultConnectorLabel>
        <rules>
            <name>Invalid_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterating_on_Hotel_Groups</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue> - Baseline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterating_on_Hotel_Groups</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Iterating_on_Hotel_Groups</targetReference>
            </connector>
            <label>Invalid Name</label>
        </rules>
    </decisions>
    <description>This flows triggers when a new User is created using myID integration and this will send the All_Hotels__c values which is the entry point for this lightning flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>firstHotelString</name>
        <dataType>String</dataType>
        <expression>MID({!hotelString}, 0, 5) &amp; &apos; - Baseline&apos;</expression>
    </formulas>
    <formulas>
        <name>hotelCollectionsLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!hotelCollections}) - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>hotelGroupDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&apos;This value represents a unique Hotel location ID &apos; &amp; MID({!Iterating_on_Hotel_Groups}, 0, 5)</expression>
    </formulas>
    <formulas>
        <name>hotelStringElement</name>
        <dataType>String</dataType>
        <expression>{!hotelString} &amp; &apos; - Baseline&apos;</expression>
    </formulas>
    <formulas>
        <name>remainingHotelString</name>
        <dataType>String</dataType>
        <expression>Trim(right({!hotelString}, len({!hotelString})-FIND(&apos;,&apos;, {!hotelString})))</expression>
    </formulas>
    <formulas>
        <name>remainingSubstituteString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!remainingHotelString}, {!trimmedHotelString} &amp; &apos;,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>trimmedHotelString</name>
        <dataType>String</dataType>
        <expression>trim(LEFT({!hotelString}, FIND(&apos;,&apos;, {!hotelString})-1)) &amp; &apos; - Baseline&apos;</expression>
    </formulas>
    <interviewLabel>LOY_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_NewEmployeeRecordShare Flow</label>
    <loops>
        <name>Hotel_Group_Loop</name>
        <label>Hotel Group Loop</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_Hotel_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hotel_Groups_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_Hotel_Collection</name>
        <label>Iterate on Hotel Collection</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <collectionReference>hotelCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Group_Collection_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Hotel_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_Hotel_Collections</name>
        <label>Iterate on Hotel Collections</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <collectionReference>hotelCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Missing_Hotel_Group_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Revised_hotelCollections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_Newly_Groups</name>
        <label>Iterate on Newly Groups</label>
        <locationX>710</locationX>
        <locationY>3263</locationY>
        <collectionReference>Get_Newly_Created_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Group_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterating_on_Hotel_Groups</name>
        <label>Iterating on Hotel Groups</label>
        <locationX>1106</locationX>
        <locationY>2447</locationY>
        <collectionReference>hotelCollections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Group_Name_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GroupList_Empty_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group_Member_Records</name>
        <label>Create Group Member Records</label>
        <locationX>952</locationX>
        <locationY>4223</locationY>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Record</targetReference>
        </faultConnector>
        <inputReference>vGroupMemberCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Hotel_Groups</name>
        <label>Create Hotel Groups</label>
        <locationX>710</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Groups</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception</targetReference>
        </faultConnector>
        <inputReference>hotelGroupList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Group_Members</name>
        <label>Delete Existing Group Members</label>
        <locationX>820</locationX>
        <locationY>4031</locationY>
        <connector>
            <targetReference>Create_Group_Member_Records</targetReference>
        </connector>
        <inputReference>Get_Existing_Group_Members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Group_Members</name>
        <label>Get Existing Group Members</label>
        <locationX>952</locationX>
        <locationY>3815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_for_Existing_Members</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Vals</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hotel_Groups</name>
        <label>Get Hotel Groups</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hotel_Group_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>hotelCollections</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Groups</name>
        <label>Get Newly Created Groups</label>
        <locationX>710</locationX>
        <locationY>3155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_Newly_Groups</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Custom_Exception_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>hotelCollections</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AllHotels_Value_Check</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Custom_Exception_Flow</name>
        <label>Handle Custom Exception Flow</label>
        <locationX>1766</locationX>
        <locationY>1271</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>debugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_NewEmployeeRecordShare_Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>debugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstIterationFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hotelCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotelCollectionsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>hotelCollectionsToCreate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotelGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hotelGroupList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>hotelGroupRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>hotelGroupsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>hotelString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGroupMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>vGroupMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
</Flow>
