force-app/main/default/flows/LOY_CTB_Create_Member_Benefit_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Logs are created when a record is created.</description>
        <name>Create_Member_Benefit_Success_Log</name>
        <label>Create Member Benefit Success Log</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>navigateTosObject</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>MemberBenefit</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogMemberBenefitCreationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>memberBenefitRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>EmployeeRate</name>
        <choiceText>Employee Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>FriendsFamilyRate</name>
        <choiceText>Friends &amp;amp; Family Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friends &amp; Family Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>GoodwillBenefit</name>
        <choiceText>Goodwill Benefit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Goodwill Benefit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Milestone</name>
        <choiceText>Milestone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TierAchievement</name>
        <choiceText>Tier Achievement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier Achievement</stringValue>
        </value>
    </choices>
    <choices>
        <name>TierNights</name>
        <choiceText>Tier Nights</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier Nights</stringValue>
        </value>
    </choices>
    <choices>
        <name>TierUpgrade</name>
        <choiceText>Tier Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier Upgrade</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>US388067 - CTB| Create Member Benefit records
US397595 || CTB | Update Member Benefits Object - Maximum Units Field and impacted processes
US402132 || CTB | Add Nebula logging on record creation, deletion and updates - Member Benefit</description>
    <dynamicChoiceSets>
        <name>benefitTYpeNames</name>
        <collectionReference>get_benefitTypes</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>BenefitType</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceTypeFromMemberBenefit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SourceType</picklistField>
        <picklistObject>MemberBenefit</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculateDescription</name>
        <dataType>String</dataType>
        <expression>IF({!Benefit_Type_Name} = {!TierUpgrade} ||  {!Benefit_Type_Name} = {!TierNights} || {!Benefit_Type_Name} = {!FriendsFamilyRate} || {!Benefit_Type_Name} = {!EmployeeRate}, {!Description}, null)</expression>
    </formulas>
    <formulas>
        <name>CalculateEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Benefit_Type_Name} = {!GoodwillBenefit} || {!Benefit_Type_Name} = {!Milestone} || {!Benefit_Type_Name} = {!TierAchievement}, null, {!variableMemberBenefitSingleRecord.EndDate})</expression>
    </formulas>
    <formulas>
        <name>CalculateLoyaltyProgramMember</name>
        <dataType>String</dataType>
        <expression>IF({!Benefit_Type_Name} &lt;&gt; {!TierUpgrade} &amp;&amp;  {!Benefit_Type_Name} &lt;&gt; {!TierNights} &amp;&amp; {!Benefit_Type_Name} &lt;&gt; {!FriendsFamilyRate} &amp;&amp; {!Benefit_Type_Name} &lt;&gt; {!EmployeeRate}, {!MemberNameFromMember.recordId}, {!MemberNameFromEmployee.recordId})</expression>
    </formulas>
    <formulas>
        <name>CalculateSeriesBenefit</name>
        <dataType>String</dataType>
        <expression>IF({!Benefit_Type_Name} = {!GoodwillBenefit} || {!Benefit_Type_Name} = {!Milestone} || {!Benefit_Type_Name} = {!TierAchievement}, {!variableMemberBenefitSingleRecord.Series_Benefit__r.Id}, null)</expression>
    </formulas>
    <formulas>
        <name>CalculateStartDate</name>
        <dataType>Date</dataType>
        <expression>null</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY CTB Create Member Benefit ScreenFlow&apos;</expression>
    </formulas>
    <formulas>
        <name>isCTBBenefit</name>
        <dataType>Boolean</dataType>
        <expression>OR(
   {!Benefit_Type_Name} == {!EmployeeRate},
   {!Benefit_Type_Name} == {!FriendsFamilyRate},
   {!Benefit_Type_Name} == {!TierNights},
   {!Benefit_Type_Name} == {!TierUpgrade}
)</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <interviewLabel>LOY CTB Create Member Benefit ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY CTB Create Member Benefit ScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Member_Benefit</name>
        <label>Create Member Benefit</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>memberBenefitRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Member_Benefit_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FlowFaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Applicable_Year_Text__c</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Applicable_Year_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitId</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Benefit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CalculateDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaximumUnit__c</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Benefit.Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>CalculateLoyaltyProgramMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Number__c</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Membership_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Series_Benefit__c</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Series_Benefit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.SourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>variableMemberBenefitSingleRecord.Status</elementReference>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordCreates>
    <recordLookups>
        <name>get_benefitTypes</name>
        <label>get benefitTypes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListOfBenefitTypes</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BenefitType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Member_Benefit_Screen</name>
        <label>Create Member Benefit Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Member_Benefit</targetReference>
        </connector>
        <fields>
            <name>Create_Member_Benefit_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Member_Benefit_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Benefit_Type_Name</name>
                    <choiceReferences>benefitTYpeNames</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Benefit Type Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Member_Benefit_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Member_Benefit_Details</name>
            <fieldText>Member Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Member_Benefit_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.BenefitId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.StartDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.SourceType</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Membership_Number__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Series_Benefit__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Applicable_Year_Text__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Member_Benefit_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MemberNameFromMember</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MemberId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Member</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MemberBenefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Status</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.EndDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EmployeeRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;&apos;</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>FriendsFamilyRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>TierNights</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>TierUpgrade</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employee_Benefit_Details</name>
            <fieldText>Employee Benefit Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Benefit_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Name</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.BenefitId</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.StartDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.SourceType</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.EndDate</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Benefit_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MemberNameFromEmployee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MemberId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Member</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MemberBenefit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>variableMemberBenefitSingleRecord.Status</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>2 AND (1 OR 3 OR 4 OR 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TierUpgrade</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>&apos;&apos;</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EmployeeRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FriendsFamilyRate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Benefit_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TierNights</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowFaultMessage</name>
        <label>FlowFaultMessage</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Publish_Exception_Event</targetReference>
        </connector>
        <fields>
            <name>FlowFaultMessages</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 27, 27);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>navigateTosObject</name>
        <label>navigateTosObject</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigateToMemberBenefitRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>MemberBenefit created successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>memberBenefitRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_benefitTypes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Exception_Event</name>
        <label>Publish Exception Event</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <stringValue>Creation of Member Benefit records failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY CTB Create Member Benefit ScreenFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>MemberBenefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>LogMemberBenefitCreationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Member Benefit record is successfully created by {!$User.Id} with Record Id: {!memberBenefitRecord.Id}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <transforms>
        <name>ListOfBenefitTypes</name>
        <label>ListOfBenefitTypes</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Member_Benefit_Screen</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_benefitTypes[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>memberBenefitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variableMemberBenefitSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MemberBenefit</objectType>
    </variables>
</Flow>
