force-app/main/default/flows/LOY_Reservation_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Details</name>
        <label>Assign Custom Exception Details</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>exceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get selective voucher records failed on Reservation Object After Save flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;LOY - Reservation - After Save&apos; flow failed while getting the Voucher Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Custom_Exception_Details_Assignment</name>
        <label>Custom Exception Details Assignment</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>exceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update operation of Voucher Object failed on Reservation After save flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;LOY - Reservation - After Save&apos; flow failed while updating Vouchers.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expire_Voucher</name>
        <label>Expire Voucher</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>voucherStatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Voucher_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_Award_Voucher</name>
        <label>Re-Award Voucher</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>voucherStatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Voucher_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Voucher_Assignment</name>
        <label>Voucher Assignment</label>
        <locationX>534</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redeemed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.RedemptionDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Agent__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Application__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Channel__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Hotel__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Requestor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Reservation_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>voucherStatusValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Vouchers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_Room_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherRecordToUpdate.Redemption_PMS_Conf_No__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>voucherList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>voucherRecordToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Vouchers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Voucher_List</name>
        <label>Check Voucher List</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>voucherList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Selected_Voucher_Records</targetReference>
            </connector>
            <label>Not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reservation_Status</name>
        <label>Reservation Status?</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reservation_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.reservationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reservation_SubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Voucher</targetReference>
            </connector>
            <label>Reservation Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_Expiration_Date</name>
        <label>Voucher Expiration Date</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Expire_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than or Equal Today</defaultConnectorLabel>
        <rules>
            <name>Greater_than_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Vouchers.ExpirationDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>todayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Award_Voucher</targetReference>
            </connector>
            <label>Greater than Today</label>
        </rules>
    </decisions>
    <description>Reservations Object After Save flow</description>
    <environments>Default</environments>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>LOY - Reservation - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Reservation - After Save</label>
    <loops>
        <name>Iterate_Vouchers</name>
        <label>Iterate Vouchers</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Voucher</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Voucher_Expiration_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Voucher_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Voucher</name>
        <label>Get Voucher</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Vouchers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redeemed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Redemption_Hotel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hotelMnemonic__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reservation_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.confirmationNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.rewardsNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Voucher_Records</name>
        <label>Update Selected Voucher Records</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <faultConnector>
            <targetReference>Custom_Exception_Details_Assignment</targetReference>
        </faultConnector>
        <inputReference>voucherList</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reservation_Status</targetReference>
        </connector>
        <object>Reservations__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>debugNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>exceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Reservation_After_Save</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>debugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voucherIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voucherList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>voucherRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>voucherStatusValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
