force-app/main/default/flows/LOY_Subflow_Publish_Liability_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Debut_Message</name>
        <label>Set Debut Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher or TJ are Null however are required. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Valid_Input_Decision</name>
        <label>Valid Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Debut_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TransactionJournal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Voucher</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Liability_Event</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Called by Flows when needing to publish Liability Events. Requires applicable TJ and Voucher records as input.</description>
    <environments>Default</environments>
    <interviewLabel>LOY - Subflow - Publish Liability Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Subflow - Publish Liability Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Liability_Event</name>
        <label>Publish Liability Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>var_TransactionJournal.JournalSubType.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Award_Id__c</field>
            <value>
                <elementReference>var_Voucher.VoucherDefinition.IHG_LOY_Award_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>var_Voucher.Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>var_Voucher.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GRS_Confirmation_Number__c</field>
            <value>
                <elementReference>var_Voucher.Reservation_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel__c</field>
            <value>
                <elementReference>var_Voucher.Redemption_Hotel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_SubType__c</field>
            <value>
                <elementReference>var_TransactionJournal.JournalSubType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Journal_Type__c</field>
            <value>
                <elementReference>var_TransactionJournal.JournalTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Amount__c</field>
            <value>
                <elementReference>var_TransactionJournal.TransactionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Currency__c</field>
            <value>
                <elementReference>var_TransactionJournal.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Number__c</field>
            <value>
                <elementReference>var_Voucher.MemberNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>var_TransactionJournal.IHG_External_Transaction_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Code__c</field>
            <value>
                <elementReference>var_Voucher.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Liability_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_Input_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY-Subflow_Publish_Liability_Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Liability_Event__e</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_TransactionJournal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>var_Voucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>varT_DebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
