force-app/main/default/flows/LOY_Sync_Account_To_Property_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Do_related_properties_exist</name>
        <label>Do related properties exist?</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_related_Property_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related properties exist</defaultConnectorLabel>
        <rules>
            <name>No_related_properties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Property_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_related_Property_record</targetReference>
            </connector>
            <label>No related properties</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_created_or_updated</name>
        <label>Is Account created or updated?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Property_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_related_Property_record</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>US362504 - Keeping in sync Property and Account (Hotel_Property). Once account of a Hotel_Property record type is created or Name/Hotel code is changed create/update corresponding Property record.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LOY - Sync Account To Property - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Sync Account To Property - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_related_Property_record</name>
        <label>Create related Property record</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__PropertyCode__c</field>
            <value>
                <elementReference>$Record.Hotel_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__UniqueId__c</field>
            <value>
                <elementReference>$Record.Hotel_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>hapi__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Property_Record</name>
        <label>Get Related Property Record</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_related_properties_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hapi__Property__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_Property_record</name>
        <label>Update related Property record</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__PropertyCode__c</field>
            <value>
                <elementReference>$Record.Hotel_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hapi__UniqueId__c</field>
            <value>
                <elementReference>$Record.Hotel_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Property__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_created_or_updated</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Hotel_Property&apos; &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Hotel_Code__c}) || ISCHANGED({!$Record.Name}))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
