force-app/main/default/flows/LOY_Voucher_Eligibility_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Determine_Applicable_Rule_and_Automation_API_Name</name>
        <label>Determine Applicable Rule and Automation API Name</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Applicable_Rule_Decision_Table_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Iterate_on_Decision_Table</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Category__c</name>
            <value>
                <elementReference>Get_Voucher_Details.VoucherDefinition.Voucher_Type2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Active__c</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>Applicable_Rule_Decision_Table_Default</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Dispatcher</name>
        <label>Voucher Dispatcher</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>VoucherEligiblityFlowDispatcher</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>automationApiNames</name>
            <value>
                <elementReference>AutomationApiNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherHotelCode</name>
            <value>
                <elementReference>hotelCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherMemberNumber</name>
            <value>
                <elementReference>memberNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherPmsConfNumber</name>
            <value>
                <elementReference>pmsConfirmationNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>Get_Voucher_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherEligiblityFlowDispatcher</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>dispatcherFolioVoucherWrapper</assignToReference>
            <name>folioVoucherWrapper</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dispatcherEligibilityFlag</assignToReference>
            <name>response</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>dispatcherEligibilityMessage</assignToReference>
            <name>responseMsg</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Value</name>
        <label>Assign Custom Exception Value</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>var_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Voucher Eligibility Dispatcher Invocable Apex</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value_1</name>
        <label>Assign Custom Exception Values</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Calling Applicable Rule Decision Table</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value_2</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Getting Voucher record based on Voucher ID and Member Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assign Automation API name to List</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AutomationApiNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_Decision_Table.Automation_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Decision_Table</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Element_Already_Exist_in_Names_List</name>
        <label>Current Element Already Exist in Names List</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutomationApiNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_on_Decision_Table.Automation_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_Decision_Table</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_Record_Found</name>
        <label>Voucher Record Found</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Voucher_Details.VoucherDefinition.Voucher_Type2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Applicable_Rule_and_Automation_API_Name</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This is an auto launched flow which will be invoked by either Voucher Redeem Eligible Service or Redeem Voucher Service to identify the eligible voucher based on current voucher category and Applicable rules.</description>
    <environments>Default</environments>
    <interviewLabel>LOY - Voucher Eligibility Verification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher Eligibility Verification</label>
    <loops>
        <name>Iterate_on_Decision_Table</name>
        <label>Iterate on Decision Table</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Determine_Applicable_Rule_and_Automation_API_Name.outcomeList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Element_Already_Exist_in_Names_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Voucher_Dispatcher</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Voucher_Details</name>
        <label>Get Voucher Details</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voucher_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>voucherId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>memberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Voucher</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voucher_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>var_DebugNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <elementReference>var_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>voucherId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ApplicableRuleIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AutomationApiNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dispatcherEligibilityFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dispatcherEligibilityMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dispatcherFolioVoucherWrapper</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hotelCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pmsConfirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DebugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LOY_Voucher_Eligibility_Verification</stringValue>
        </value>
    </variables>
    <variables>
        <name>voucherId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
