force-app/main/default/flows/LOY_Verify_Voucher_Deposit_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_2</name>
        <label>Add IHG Log Entry Action 2</label>
        <locationX>2244</locationX>
        <locationY>1742</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Info_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Verify_Voucher_Deposit_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>var_DebugMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Handle_Error_Exception</name>
        <label>Handle Error Exception</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Verify_Voucher_Deposit_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>var_DebugMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Error_Log</name>
        <label>Save Error Log</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Info_Log</name>
        <label>Save Info Log</label>
        <locationX>2244</locationX>
        <locationY>1850</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Exception_Message</name>
        <label>Assign Exception Message</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Either Member Number or Deposit Code is empty. It should be populated in order to proceed further.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Either Member Number or Deposit Code is empty. It should be populated in order to proceed further.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exception_Message_for_LPM</name>
        <label>Assign Exception Message for LPM</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error occurred while finding the Loyalty Program Member based on provided member number.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LoyaltyProgramMember</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error occurred while finding the Loyalty Program Member based on provided member number.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Error_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LPM_Exception</name>
        <label>Assign LPM Exception</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LoyaltyProgramMember</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Msg</name>
        <label>Assign Response Msg</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Invalid_Member_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Invalid_Member_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LoyaltyProgramMember</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Invalid_Member_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Invalid_Member_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UV_Exception_Message</name>
        <label>Assign UV Exception Message</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while finding unassigned voucher record based on deposit code</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while finding unassigned voucher record based on deposit code</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Error_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UV_Not_Found_Msg</name>
        <label>Assign UV Not Found Msg</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Invalid_voucher_deposit_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Invalid_voucher_deposit_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Invalid_voucher_deposit_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SC_Unassigned_Voucher_has_already_been_cancelled_invalid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canceled_Response_Message</name>
        <label>Canceled Response Message</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Unassigned_Voucher_has_already_been_cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_been_cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_been_cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SC_Unassigned_Voucher_has_already_been_cancelled_invalid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deposited_Applied_Response_Message</name>
        <label>Deposited/Applied Response Message</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_been_deposited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Unassigned_Voucher_has_already_been_deposited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_been_deposited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SC_Unassigned_Voucher_has_already_been_deposited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expiration_Date_Past_Response_Message</name>
        <label>Expiration Date Past Response Message</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expired_Response_Message</name>
        <label>Expired Response Message</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Member_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UnassignedVouchers__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.RCC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.SC_Unassigned_Voucher_has_already_expired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LPM_Record_as_output</name>
        <label>Set LPM Record as output</label>
        <locationX>1436</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LPM_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Valid_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UV_Record_as_output</name>
        <label>Set UV Record as output</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>UV_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unassigned_Voucher_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_and_Expiration_Date_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_Response_Message</name>
        <label>Success Response Message</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>var_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Deposit_Success_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SF_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Deposit_Success_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SC_responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Deposit_Success_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Member_Status_Check</name>
        <label>Member Status Check</label>
        <locationX>1436</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Response_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valid_Member.MembershipStatusCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unassigned_Voucher_Record</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_and_Expiration_Date_Check</name>
        <label>Status and Expiration Date Check</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Success_Response_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Conditions Satisfied</defaultConnectorLabel>
        <rules>
            <name>Status_is_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unassigned_Voucher_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Response_Message</targetReference>
            </connector>
            <label>Status is Expired</label>
        </rules>
        <rules>
            <name>Status_is_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unassigned_Voucher_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_Response_Message</targetReference>
            </connector>
            <label>Status is Canceled</label>
        </rules>
        <rules>
            <name>Status_is_Deposited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unassigned_Voucher_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposited_Applied_Response_Message</targetReference>
            </connector>
            <label>Status is Deposited</label>
        </rules>
        <rules>
            <name>Expiration_Date_is_in_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unassigned_Voucher_Record.DepositExpirationDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiration_Date_Past_Response_Message</targetReference>
            </connector>
            <label>Expiration Date is in Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unassigned_Voucher_Found</name>
        <label>Unassigned Voucher Found?</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_UV_Not_Found_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unassigned_Voucher_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UV_Record_as_output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Input</name>
        <label>Valid Input</label>
        <locationX>2244</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Exception_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MemberNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_depositCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_Member</targetReference>
            </connector>
            <label>Not Empty Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Member_Check</name>
        <label>Valid Member Check</label>
        <locationX>1799</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_LPM_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Member Not Found</defaultConnectorLabel>
        <rules>
            <name>Member_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Valid_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LPM_Record_as_output</targetReference>
            </connector>
            <label>Member Found</label>
        </rules>
    </decisions>
    <description>This flow will be called from some other flow to verify the unassigned voucher and related member validity based on deposit code and member number.</description>
    <environments>Default</environments>
    <formulas>
        <name>exceptionDetailFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Flow.FaultMessage} != &apos;&apos;, {!$Flow.FaultMessage}, {!var_DebugMessage})</expression>
    </formulas>
    <interviewLabel>LOY - Verify Voucher Deposit Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Verify Voucher Deposit Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Unassigned_Voucher_Record</name>
        <label>Get Unassigned Voucher Record</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unassigned_Voucher_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_UV_Exception_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DepositCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_depositCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UnassignedVouchers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_Member</name>
        <label>Get Valid Member</label>
        <locationX>1799</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Member_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Exception_Message_for_LPM</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_MemberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2118</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LogTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>LPM_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>UV_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>UnassignedVouchers__c</objectType>
    </variables>
    <variables>
        <name>var_DebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_depositCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Response for members.</description>
        <name>var_responseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Response message for SCUI agents.</description>
        <name>var_SC_responseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Response for RCC agents.</description>
        <name>var_SF_responseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
