force-app/main/default/flows/LOY_Voucher_Award_Voucher_From_LPM_UI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Voucher_Award_Voucher_From_LPM_UI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Retrieving VoucherDefinitions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Exception_Get_Products</name>
        <label>Log Exception Get Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_GetProducts</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Voucher_Award_Voucher_From_LPM_UI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Retrieving Products</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Exception_Get_Voucher_Definitions</name>
        <label>Log Exception Get Voucher Definitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_VDs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Voucher_Award_Voucher_From_LPM_UI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error While Retrieving Voucher Definitions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_While_Retrieving_VD_s</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_GetProducts</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_VDs</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adding all the products IDs to a list of string variable</description>
        <name>Add_Product_IDs</name>
        <label>Add Product IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StoreProductIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Get_Products_Available_for_Voucher_issuance.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_Products_Available_for_Voucher_issuance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Store selected Voucher Definition ID</description>
        <name>Assign_Selected_Voucher_Definition_ID</name>
        <label>Assign Selected Voucher Definition ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedVoucherDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voucher_Definition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Award_Voucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To Store selected Voucher Definition ID</description>
        <name>Assign_Selected_Voucher_Definition_ID_RCC</name>
        <label>Assign Selected Voucher Definition ID RCC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedVoucherDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Voucher_Definition_RCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsRCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Award_Voucher</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayExpDateErrorFromSubFlowInMainFlow</name>
        <label>DisplayExpDateErrorFromSubFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DisplayExpDateErrorFromSubFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Specify an expiration date that&apos;s between the effective date and the expiration date of the selected voucher definition.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outcome_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorResponseFromSubFlow</name>
        <label>ErrorResponseFromSubFlow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ErrorResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The system couldn&apos;t locate vouchers for the member criteria provided.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outcome_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vouchers_Awarded</name>
        <label>Vouchers Awarded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DisplayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The voucher has been issued successfully. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Outcome_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Issue_All_Vouchers_Permission</name>
        <label>Check Issue All Vouchers Permission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Products_AvailableForUIIssuance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Issue Vouchers Available For UI Issuance</defaultConnectorLabel>
        <rules>
            <name>Issue_All_Vouchers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.IHG_Voucher_Award_All_Vouchers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Vds</targetReference>
            </connector>
            <label>Issue All Vouchers</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfVoucherExpDateError</name>
        <label>CheckIfVoucherExpDateError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorResponseFromSubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_VoucherExpDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Award_Voucher.LoyaltyMesssage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specify an expiration date that&apos;s between the effective date and the expiration date of the selected voucher definition.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayExpDateErrorFromSubFlowInMainFlow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Voucher_Issued</name>
        <label>Does Voucher Issued?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckIfVoucherExpDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Award_Voucher.AwardedVoucherIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vouchers_Awarded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>US296550 - Issue the Voucher from Loyalty Program Member UI and make sure to run the Eligibility Check.
US302042 - Auto populate the Voucher Audit fields in manual flow from LPM UI, removed DisplayExpError variable</description>
    <dynamicChoiceSets>
        <name>VoucherDefinitionsList</name>
        <collectionReference>Get_Active_Vds</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>VoucherDefinition</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VoucherDefinitionsListRCC</name>
        <collectionReference>Active_Voucher_Definitions_Available_For_UIIssuance</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>VoucherDefinition</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FaceValueFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.FaceValue} &gt; 0, TEXT({!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.CurrencyIsoCode}) &amp; &quot; &quot; &amp; 
TEXT(FLOOR({!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.FaceValue})) &amp;
  &quot;.&quot; &amp;
  RIGHT(
    TEXT(
      FLOOR(
        MOD({!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.FaceValue}, 1) * 100 + 100
      )
    ),
    2
  ) 
 , &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FaceValueFormulaRCC</name>
        <dataType>String</dataType>
        <expression>IF({!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.FaceValue} &gt; 0, TEXT({!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.CurrencyIsoCode}) &amp; &quot; &quot; &amp; 
TEXT(FLOOR({!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.FaceValue})) &amp;
  &quot;.&quot; &amp;
  RIGHT(
    TEXT(
      FLOOR(
        MOD({!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.FaceValue}, 1) * 100 + 100
      )
    ),
    2
  ) 
 , &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>LOY Award Vouch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher - Award Voucher From LPM UI</label>
    <loops>
        <description>This is to loop through the products and add the product into the list of string variable.</description>
        <name>Loop_on_Get_Products_Available_for_Voucher_issuance</name>
        <label>Loop on Get Products Available for Voucher issuance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Products_AvailableForUIIssuance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Product_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Voucher_Definitions_Available_For_UIIssuance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Active Voucher Definitions with AvailableForUIIssuance__c flag enabled</description>
        <name>Active_Voucher_Definitions_Available_For_UIIssuance</name>
        <label>Active Voucher Definitions Available For UIIssuance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Voucher_Screen_RCC</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_Get_Voucher_Definitions</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreProductIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Active Voucher Definitions</description>
        <name>Get_Active_Vds</name>
        <label>Active Voucher Definitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Voucher_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the products with AvailableForUIIssuance__c flag enabled.</description>
        <name>Get_Products_AvailableForUIIssuance</name>
        <label>Get Products AvailableForUIIssuance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Get_Products_Available_for_Voucher_issuance</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_Get_Products</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AvailableForUIIssuance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Outcome_Message</name>
        <label>Display Outcome Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessResponse</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(24, 24, 24);&quot;&gt;{!DisplayMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorRespons</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(241, 5, 5);&quot;&gt;{!ErrorResponse}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayExpDateErrorFromSubFlowFromNainFlowRef</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 11, 11);&quot;&gt;{!DisplayExpDateErrorFromSubFlow}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_While_Retrieving_VD_s</name>
        <label>Error While Retrieving VD&apos;s</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoVoucherDefinitions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 12, 12);&quot;&gt;Error While Retrieving VoucherDefinitions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Voucher_Screen</name>
        <label>Issue Voucher Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>IHG_Get_Voucher_Definition</name>
            <actionName>IHG_Get_Voucher_Definition</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>SelectedVDIDs</name>
                <value>
                    <elementReference>Voucher_Definition</elementReference>
                </value>
            </inputParameters>
            <label>IHG Get Voucher Definition</label>
            <nameSegment>IHG_Get_Voucher_Definition</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Voucher_Definition_ID</targetReference>
        </connector>
        <fields>
            <name>Issue_Voucher_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Issue_Voucher_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Voucher_Definition</name>
                    <choiceReferences>VoucherDefinitionsList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Voucher (Definition)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShortDescriptionDisplayText</name>
                    <fieldText>&lt;p&gt;Short Description&lt;/p&gt;&lt;p&gt;{!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.Guest_Facing_Short_Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FaceValueDisplayText</name>
                    <fieldText>&lt;p&gt;Face Value&lt;/p&gt;&lt;p&gt;{!FaceValueFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExpiredWithInDisplayText</name>
                    <fieldText>&lt;p&gt;Expired Within&lt;/p&gt;&lt;p&gt;{!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.ExpirationPeriod} {!IHG_Get_Voucher_Definition.Results.SelectedVDRecord.ExpirationPeriodUnit}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CommentsText</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please enter comments below 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CommentsText}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Issue Voucher</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Issue_Voucher_Screen</eventSource>
            <handlers>
                <screenActionName>IHG_Get_Voucher_Definition</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Voucher_Definition</eventSource>
            <handlers>
                <screenActionName>IHG_Get_Voucher_Definition</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Issue_Voucher_Screen_RCC</name>
        <label>Issue Voucher Screen RCC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>IHG_Get_Voucher_Definition_RCC</name>
            <actionName>IHG_Get_Voucher_Definition</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>SelectedVDIDs</name>
                <value>
                    <elementReference>Voucher_Definition_RCC</elementReference>
                </value>
            </inputParameters>
            <label>IHG Get Voucher Definition RCC</label>
            <nameSegment>IHG_Get_Voucher_Definition</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Voucher_Definition_ID_RCC</targetReference>
        </connector>
        <fields>
            <name>Issue_Voucher_Screen_RCC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Issue_Voucher_Screen_RCC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Voucher_Definition_RCC</name>
                    <choiceReferences>VoucherDefinitionsListRCC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Voucher (Definition)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ShortDescription</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Short Description&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.Guest_Facing_Short_Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FaceValueDisplayTextRCC</name>
                    <fieldText>&lt;p&gt;Face Value&lt;/p&gt;&lt;p&gt;{!FaceValueFormulaRCC}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExpiredWithInDisplayTextRCC</name>
                    <fieldText>&lt;p&gt;Expired Within&lt;/p&gt;&lt;p&gt;{!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.ExpirationPeriod} {!IHG_Get_Voucher_Definition_RCC.Results.SelectedVDRecord.ExpirationPeriodUnit}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CommentsRCC</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please enter comments below 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!CommentsRCC}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Issue Voucher</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Issue_Voucher_Screen_RCC</eventSource>
            <handlers>
                <screenActionName>IHG_Get_Voucher_Definition_RCC</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Voucher_Definition_RCC</eventSource>
            <handlers>
                <screenActionName>IHG_Get_Voucher_Definition_RCC</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Issue_All_Vouchers_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Award_Voucher</name>
        <label>Award Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Voucher_Issued</targetReference>
        </connector>
        <flowName>LOY_Award_Voucher_Flow</flowName>
        <inputAssignments>
            <name>isManualFlow</name>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MemberNumber</name>
            <value>
                <elementReference>recordId.MembershipNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VoucherDefID</name>
            <value>
                <elementReference>SelectedVoucherDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>To Store Comments from Voucher Issuance</description>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Add_All_AvailableForUI_Issuance_Products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>DisplayExpDateErrorFromSubFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <description>Variable to store selected voucher definition</description>
        <name>SelectedVoucherDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreProductIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
