force-app/main/default/flows/LOY_Voucher_Eligibility_Rules_View_Screens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExcludedBrandCodes</name>
        <label>ExcludedBrandCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExcludedCodeListBrand</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_11_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsExcluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ExcludedBrandCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExcludedChainCodes</name>
        <label>ExcludedChainCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExcludedCodeListChain</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_9_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsExcluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ExcludedChainCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExcludedCountryCodes</name>
        <label>ExcludedCountryCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExcludedListCountry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_7_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesExcluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ExcludedCountryCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExcludedHotelCodes</name>
        <label>ExcludedHotelCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExcludedCodeListHotelProperty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_13_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsExcluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ExcludedHotelCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExcludedSubRegions</name>
        <label>ExcludedSubRegions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetExcludedListSubRegions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsExcluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ExcludedRegionsList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IncludedBrandCodes</name>
        <label>IncludedBrandCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetIncludedCodeListBrand</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_10_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedBrandCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IncludedChainCodes</name>
        <label>IncludedChainCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetIncludedCodeListChain</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_8_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedChainCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IncludedCountryCodes</name>
        <label>IncludedCountryCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetIncludedListCountry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedCountryCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IncludedHotelCodes</name>
        <label>IncludedHotelCodes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetIncludedCodeListHotelProperty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_12_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedHotelCodesList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>IncludedSubRegions</name>
        <label>IncludedSubRegions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetIncludedListSubRegions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedSubRegionsList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>To Convert the selected Voucher Definition Names from Semi colon separated values to List&lt;String&gt;</description>
        <name>SelectedRegionCodeList</name>
        <label>SelectedRegionCodeList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetSelectedRegions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.RegionsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IncludedRegionCodes</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>To Convert the selected Voucher Definition Names from Semi colon separated values to List&lt;String&gt;</description>
        <name>SelectedVoucherDefinitionsNamesList</name>
        <label>SelectedVoucherDefinitionsNamesList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetSelectedVDsHotelProperty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.VoucherDefinitionsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SelectedVDNamesHotelProperty</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>VoucherDefinitions</name>
        <label>VoucherDefinitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOY_MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetSelectedVoucherDefinition</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Voucher_Eligibility_Rule_HotelProperty.VoucherDefinitionsIncluded__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SelectedVoucherDefinitionNames</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Details</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_Voucher_Eligibility_Rule_HotelProperty process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Debug_Details</name>
        <label>Copy 10 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IncludedBrandCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Debug_Details</name>
        <label>Copy 11 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExcludedBrandCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Debug_Details</name>
        <label>Copy 12 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IncludedHotelCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_Debug_Details</name>
        <label>Copy 13 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExcludedHotelCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_14_of_Assign_Debug_Details</name>
        <label>Copy 14 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetSelectedVDsHotelProperty process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_15_of_Assign_Debug_Details</name>
        <label>Copy 15 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetSelectedVoucherDefinition process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_16_of_Assign_Debug_Details</name>
        <label>Copy 16 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetSelectedRegions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Region</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_17_of_Assign_Debug_Details</name>
        <label>Copy 17 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetIncludedListSubRegions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub Region</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_18_of_Assign_Debug_Details</name>
        <label>Copy 18 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetExcludedListSubRegions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub Region</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_19_of_Assign_Debug_Details</name>
        <label>Copy 19 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetIncludedListCountry process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Debug_Details</name>
        <label>Copy 1 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VoucherDefinitions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_20_of_Assign_Debug_Details</name>
        <label>Copy 20 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetExcludedListCountry process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_21_of_Assign_Debug_Details</name>
        <label>Copy 21 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetIncludedCodeListChain process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chain</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_22_of_Assign_Debug_Details</name>
        <label>Copy 22 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetExcludedCodeListChain process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chain</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_23_of_Assign_Debug_Details</name>
        <label>Copy 23 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetIncludedCodeListBrand process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_24_of_Assign_Debug_Details</name>
        <label>Copy 24 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetExcludedCodeListBrand process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brand</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_25_of_Assign_Debug_Details</name>
        <label>Copy 25 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetIncludedCodeListHotelProperty process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_26_of_Assign_Debug_Details</name>
        <label>Copy 26 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GetExcludedCodeListHotelProperty process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Debug_Details</name>
        <label>Copy 2 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SelectedVoucherDefinitionsNamesList process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Debug_Details</name>
        <label>Copy 3 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SelectedRegionCodeList process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Debug_Details</name>
        <label>Copy 4 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExcludedSubRegions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Debug_Details</name>
        <label>Copy 5 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IncludedSubRegions process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Debug_Details</name>
        <label>Copy 6 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IncludedCountryCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Debug_Details</name>
        <label>Copy 7 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExcludedCountryCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Debug_Details</name>
        <label>Copy 8 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IncludedChainCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Debug_Details</name>
        <label>Copy 9 of Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExcludedChainCodes process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APEX ACTION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Exclude_Selection</name>
        <choiceText>Exclude Selection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exclude</stringValue>
        </value>
    </choices>
    <choices>
        <name>Include_Selection</name>
        <choiceText>Include Selection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Include</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Account_Record_Type_Check</name>
        <label>Account Record Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>VoucherDefinitions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IHG Other Locations</defaultConnectorLabel>
        <rules>
            <name>Hotel_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.AccountRecordType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectedVoucherDefinitionsNamesList</targetReference>
            </connector>
            <label>Hotel Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBrandsCodeSelected</name>
        <label>CheckBrandsCodeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckHotelCodeSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BrandCodesIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsIncluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncludedBrandCodes</targetReference>
            </connector>
            <label>BrandCodesIncluded</label>
        </rules>
        <rules>
            <name>BrandCodesExcluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsExcluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludedBrandCodes</targetReference>
            </connector>
            <label>BrandCodesExcluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckChainCodeSelected</name>
        <label>CheckChainCodeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ExcludedChainCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChainCodeIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsIncluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncludedChainCodes</targetReference>
            </connector>
            <label>ChainCodeIncluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckHotelCodeSelected</name>
        <label>CheckHotelCodeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Hotel_Property_Type_Static_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HotelCodesIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsIncluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncludedHotelCodes</targetReference>
            </connector>
            <label>HotelCodesIncluded</label>
        </rules>
        <rules>
            <name>HotelCodesExcluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsExcluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludedHotelCodes</targetReference>
            </connector>
            <label>HotelCodesExcluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWhichCountryCodeSelected</name>
        <label>CheckWhichCountryCodeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckChainCodeSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountryCodeIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesIncluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncludedCountryCodes</targetReference>
            </connector>
            <label>CountryCodeIncluded</label>
        </rules>
        <rules>
            <name>CountryCodeExcluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesExcluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludedCountryCodes</targetReference>
            </connector>
            <label>CountryCodeExcluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWhichSubRegionCodeSelected</name>
        <label>CheckWhichSubRegionCodeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CheckWhichCountryCodeSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsIncluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncludedSubRegions</targetReference>
            </connector>
            <label>Included</label>
        </rules>
        <rules>
            <name>Excluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsExcluded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludedSubRegions</targetReference>
            </connector>
            <label>Excluded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Voucher_Eligibility_Rule_HotelProperty.OrderAccount__r.Name}</expression>
    </formulas>
    <interviewLabel>LOY - Voucher Eligibility Rules - View Screens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher Eligibility Rules - View Screens</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Voucher_Eligibility_Rule_HotelProperty</name>
        <label>Get Voucher Eligibility Rule_HotelProperty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Record_Type_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoucherEligibilityRules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedCodeListBrand</name>
        <label>GetExcludedCodeListBrand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHotelCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_24_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludedBrandCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Brand__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedCodeListChain</name>
        <label>GetExcludedCodeListChain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBrandsCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_22_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludedChainCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedCodeListHotelProperty</name>
        <label>GetExcludedCodeListHotelProperty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hotel_Property_Type_Static_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_26_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludedHotelCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedListCountry</name>
        <label>GetExcludedListCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckChainCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_20_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludedCountryCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExcludedListSubRegions</name>
        <label>GetExcludedListSubRegions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWhichCountryCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_18_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubRegion_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludedRegionsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubRegion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncludedCodeListBrand</name>
        <label>GetIncludedCodeListBrand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHotelCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_23_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedBrandCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Brand__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncludedCodeListChain</name>
        <label>GetIncludedCodeListChain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBrandsCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_21_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedChainCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncludedCodeListHotelProperty</name>
        <label>GetIncludedCodeListHotelProperty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hotel_Property_Type_Static_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_25_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedHotelCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncludedListCountry</name>
        <label>GetIncludedListCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckChainCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_19_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedCountryCodesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIncludedListSubRegions</name>
        <label>GetIncludedListSubRegions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWhichCountryCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_17_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubRegion_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedSubRegionsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubRegion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedRegions</name>
        <label>GetSelectedRegions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWhichSubRegionCodeSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_16_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IncludedRegionCodes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Region__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedVDsHotelProperty</name>
        <label>GetSelectedVDsHotelProperty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectedRegionCodeList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_14_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedVDNamesHotelProperty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedVoucherDefinition</name>
        <label>GetSelectedVoucherDefinition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_IHG_Locations_type_static_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_15_of_Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedVoucherDefinitionNames</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Hotel_Property_Type_Static_Screen</name>
        <label>Hotel Property Type Static screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Voucher_Definitions_For_Ordering_hotel</name>
            <fieldText>Voucher Definitions For Ordering</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Voucher_Definitions_For_Ordering_hotel_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VoucherDefTableV2</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>VoucherDefinition</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Voucher Definitions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetSelectedVDsHotelProperty</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d69e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Description__c&quot;,&quot;guid&quot;:&quot;column-38b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Internal Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Hotel_Locations_For_Ordering</name>
            <fieldText>Hotel Locations For Ordering</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hotel_Locations_For_Ordering_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RegionTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Region__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Regions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetSelectedRegions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Region_Code__c&quot;,&quot;guid&quot;:&quot;column-c184&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Region Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ee9f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Region Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SubRegion_Selection_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Include Selection</stringValue>
                    </defaultValue>
                    <fieldText>SubRegion Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SubRegionIncludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SubRegion__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SubRegions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetIncludedListSubRegions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SubRegion_Code__c&quot;,&quot;guid&quot;:&quot;column-491c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;SubRegion Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c38a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SubRegion Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SubRegion_Selection_MethodExclude</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Exclude Selection</stringValue>
                    </defaultValue>
                    <fieldText>SubRegion Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SubRegionExcludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SubRegion__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SubRegions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetExcludedListSubRegions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;SubRegion_Code__c&quot;,&quot;guid&quot;:&quot;column-920e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;SubRegion Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-678e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SubRegion Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.SubregionsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Selection_MethodInclude</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Include Selection</stringValue>
                    </defaultValue>
                    <fieldText>Country Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryIncludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Country__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Countries</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetIncludedListCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Country_Code__c&quot;,&quot;guid&quot;:&quot;column-b7b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Country Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6883&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Selection_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Exclude Selection</stringValue>
                    </defaultValue>
                    <fieldText>Country Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CountryExcludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Country__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Countries</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetExcludedListCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Country_Code__c&quot;,&quot;guid&quot;:&quot;column-938a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Country Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1637&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.CountriesExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Chains_Brands_Hotel_Properties_For_Ordering</name>
            <fieldText>Chains, Brands &amp; Hotel Properties For Ordering</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Chains_Brands_Hotel_Properties_For_Ordering_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Chain_Selection_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Include Selection</stringValue>
                    </defaultValue>
                    <fieldText>Chain Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ChainIncludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Chain__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Chains</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetIncludedCodeListChain</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8c69&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Chain Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Chain_Name__c&quot;,&quot;guid&quot;:&quot;column-b743&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Chain Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chain_Selection_MethodExclude</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Exclude Selection</stringValue>
                    </defaultValue>
                    <fieldText>Chain Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ChainsExclude</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Chain__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Chains</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetExcludedCodeListChain</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-623a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Chain Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Chain_Name__c&quot;,&quot;guid&quot;:&quot;column-312d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Chain Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.ChainsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Selection_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Include Selection</stringValue>
                    </defaultValue>
                    <fieldText>Brand Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BrandIncludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Brand__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Brands</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetIncludedCodeListBrand</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Brand_Code__c&quot;,&quot;guid&quot;:&quot;column-94ca&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-72e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Selection_MethodExclude</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Exclude Selection</stringValue>
                    </defaultValue>
                    <fieldText>Brand Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BrandsExclude</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Brand__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Brands</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetExcludedCodeListBrand</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Brand_Code__c&quot;,&quot;guid&quot;:&quot;column-0252&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9754&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.BrandsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Hotel_Property_Selection_MethodInclude</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Include Selection</stringValue>
                    </defaultValue>
                    <fieldText>Hotel Property Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HotelPropertiesInclude</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Hotel Properties </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetIncludedCodeListHotelProperty</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Hotel_Code__c&quot;,&quot;guid&quot;:&quot;column-cbbb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Hotel Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e5d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Hotel Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsIncluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Hotel_Property_Selection_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Exclude Selection</stringValue>
                    </defaultValue>
                    <fieldText>Hotel Property Selection Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>HotelPropertyExcludeTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Hotel Properties</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetExcludedCodeListHotelProperty</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Hotel_Code__c&quot;,&quot;guid&quot;:&quot;column-e523&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Hotel Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9040&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Hotel Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Voucher_Eligibility_Rule_HotelProperty.HotelsExcluded__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_IHG_Locations_type_static_screen</name>
        <label>Other IHG Locations type static screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Static_Voucher_Definitions_For_Ordering</name>
            <fieldText>Voucher Definitions For Ordering</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Static_Voucher_Definitions_For_Ordering_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Static_VoucherDefTableV1</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>VoucherDefinition</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Voucher Definitions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetSelectedVoucherDefinition</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6d84&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Internal_Description__c&quot;,&quot;guid&quot;:&quot;column-717f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Internal Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Static_Account_For_Ordering</name>
            <fieldText>Account For Ordering</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Static_Account_For_Ordering_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(79, 79, 79);&quot;&gt;Account Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Get_Voucher_Eligibility_Rule_HotelProperty.OrderAccount__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!accountNameFormula}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Static_Account_For_Ordering_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Previous</pauseButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voucher_Eligibility_Rule_HotelProperty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Voucher_Eligibility_Rules_View_Screens</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>varT_DebugLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <elementReference>varT_DebugOperation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>varT_DebugRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Active</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludedBrandCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludedChainCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludedCountryCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludedHotelCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludedRegionsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HotelPropertiesSelectedExclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HotelPropertiesSelectedInclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedBrandCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedChainCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedCountryCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedHotelCodesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedRegionCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncludedSubRegionsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordPage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RuleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RuleName</elementReference>
        </value>
    </variables>
    <variables>
        <name>RuleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RuleType</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedBrandsExclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBrandsInclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChainsExclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChainsInclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCountiesExclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCountiesInclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedOrderAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRegions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSubRegions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSubRegionsExclude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVDNamesHotelProperty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVoucherDefinitionNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedVoucherDefinitions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedVoucherDefinitions</elementReference>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_DebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Voucher Eligibility Rule</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_DebugOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>APEX ACTION</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_DebugRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
