force-app/main/default/flows/LOY_CTB_Club_Benefit_Assignment_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Member_Benefits_for_Ambassador_Enrollment</name>
        <label>Assign Member Benefits for Ambassador Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LOYCTBClubBenefitAssignmentController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_After_AMB_Benefits_are_created_Successfully</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_while_creating_Benefits</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>membershipNumber</name>
            <value>
                <elementReference>MembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricingOptionKey</name>
            <value>
                <elementReference>PricingOptionKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>qualifyingEvent</name>
            <value>
                <elementReference>QualifyingEvent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOYCTBClubBenefitAssignmentController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Log_After_AMB_Benefits_are_created_Successfully</name>
        <label>Log After AMB Benefits are created Successfully</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Club_Benefit_Assignment_process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Club Member Benefits are created successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Before_AMB_Benefits_assigned</name>
        <label>Log Before AMB Benefits assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Member_Benefits_for_Ambassador_Enrollment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Club_Benefit_Assignment_process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Received a call from IHG Rewards Loyalty Process when Enrollment, Ambassador Tj&apos;s are created successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_while_creating_Benefits</name>
        <label>Log Error while creating Benefits.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_CTB_Club_Benefit_Assignment_process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>US429619 - AMB | Assign Member Benefits for Ambassador Enrollment</description>
    <environments>Default</environments>
    <interviewLabel>Club Benefit Assignment process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY CTB Club Benefit Assignment process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>LoyaltyManagementFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Before_AMB_Benefits_assigned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberTiers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingOptionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualifyingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
