force-app/main/default/flows/LOY_LMLC_Record_Triggered_AfterSave_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_LMLC_Record_Triggered_AfterSave_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Event_Type_and_Subtype</name>
        <label>Check Event Type and Subtype</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Event_type_is_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LOY_Event_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LOY_Event_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One Rewards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Decision_Table_Sub_Flow</targetReference>
            </connector>
            <label>If Event type is Enrollment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LOY_LMLC_Record_Triggered_AfterSave_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_LMLC_Record_Triggered_AfterSave_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Source_Type_on_LMLC</name>
        <label>Update Source Type on LMLC</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LOY_Enrollment_Source_Type__c</field>
            <value>
                <elementReference>Call_Decision_Table_Sub_Flow.DecisionTable_Outcome.LOY_Source_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>LoyaltyMembershipLifecycle</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Event_Type_and_Subtype</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Decision_Table_Sub_Flow</name>
        <label>Call  Decision Table Sub Flow</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Source_Type_on_LMLC</targetReference>
        </connector>
        <flowName>LOY_Enrollment_Rule_Processing</flowName>
        <inputAssignments>
            <name>Channel</name>
            <value>
                <elementReference>$Record.LOY_Channel_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Enrollment_Code</name>
            <value>
                <elementReference>$Record.LOY_Offer_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Location</name>
            <value>
                <elementReference>$Record.LOY_Location_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Requestor_Id</name>
            <value>
                <elementReference>$Record.LOY_Requestor_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Start_Date</name>
            <value>
                <elementReference>$Record.LOY_Enrollment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
