force-app/main/default/flows/LOY_Voucher_Determine_FV_and_Currency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Details</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>getVoucherDefinitionCurrencies process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition Currencies</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inVoucherDefinition.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>getCountry process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_VD_Currency</name>
        <label>Assign Single VD Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleVDCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_filter_VD_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_filter_VD_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Currency_and_Face_Value_to_Matching_VD_Currency_Values</name>
        <label>Set Currency and Face Value to Matching VD Currency Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFaceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingleVDCurrency.Currency_Face_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMemberCurrencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingleVDCurrency.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingleVDCurrency.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_MemberCurrencyCode_0</name>
        <label>Set MemberCurrencyCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMemberCurrencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountry.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_VD_Currency_for_Member_Currency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Num_VD_Currencies</name>
        <label>Set Num VD Currencies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNumVDCurrencies</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getVoucherDefinitionCurrencies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_VD_Currencies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_to_USD_and_Default_Face_Value</name>
        <label>Set Output to USD and Default Face Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFaceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inVoucherDefinition.FaceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inVoucherDefinition.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_VD_Currency_for_Member_Currency</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter VD Currency for Member Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_VD_Currency_for_Member_Currency</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getVoucherDefinitionCurrencies</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_VD_Currency_for_Member_Currency.CurrencyIsoCode</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varMemberCurrencyCode</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_on_filter_VD_Currency</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Country_with_Currency_Found</name>
        <label>Country with Currency Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_MemberCurrencyCode_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Output_to_USD_and_Default_Face_Value</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_VD_Currencies</name>
        <label>How Many VD Currencies</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumVDCurrencies</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_to_USD_and_Default_Face_Value</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>VD_Member_Currency_Match</name>
        <label>VD-Member Currency Match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Currency_and_Face_Value_to_Matching_VD_Currency_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_VD_Currency_for_Member_Currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSingleVDCurrency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Output_to_USD_and_Default_Face_Value</targetReference>
            </connector>
            <label>No VD Currency for Member Currency</label>
        </rules>
    </decisions>
    <description>Determines the Face Value and Currency of a Voucher based on the Member&apos;s Country of Residence matching a non-USD currency offering (matching VoucherDef Currency)</description>
    <environments>Default</environments>
    <interviewLabel>LOY - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - SubFlow - Determine Voucher FaceValue and Currency</label>
    <loops>
        <name>Loop_on_filter_VD_Currency</name>
        <label>Loop on filter VD Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_VD_Currency_for_Member_Currency</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_VD_Currency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VD_Member_Currency_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Return Country record that matches Member&apos;s Country of Residence if it has a Currency Value specified.</description>
        <name>getCountry</name>
        <label>getCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_with_Currency_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inMember.Contact.MailingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inMember.Contact.MailingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVoucherDefinitionCurrencies</name>
        <label>Get VD Currencies for VD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Num_VD_Currencies</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voucher_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inVoucherDefinition.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher_Definition_Currency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getVoucherDefinitionCurrencies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Voucher_Determine_FV_and_Currency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>varT_DebugRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_VD_Currency_for_Member_Currency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher_Definition_Currency__c</objectType>
    </variables>
    <variables>
        <name>inChoiceOption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Choice_Option__c</objectType>
    </variables>
    <variables>
        <name>inMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <description>Stores the VD associated with the Choice Option.</description>
        <name>inVoucherDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>varCurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>inVoucherDefinition.CurrencyIsoCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFaceValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>inVoucherDefinition.FaceValue</elementReference>
        </value>
    </variables>
    <variables>
        <description>Members&apos;s currency based on country of residence</description>
        <name>varMemberCurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumVDCurrencies</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSingleVDCurrency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher_Definition_Currency__c</objectType>
    </variables>
    <variables>
        <name>varT_DebugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
