force-app/main/default/flows/LOY_Account_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Property_Context_Sharing_Invocable_to_Share_Records</name>
        <label>Property Context Sharing Invocable to Share Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PropertyContextSharingInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accessLevel</name>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>$Record.Hotel_Code__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareObjectAPIName</name>
            <value>
                <stringValue>AccountShare</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PropertyContextSharingInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Message</name>
        <label>Assign Custom Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while accessing PropertyContextSharingInvocable apex class. Please reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Custom_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Msg</name>
        <label>Assign Custom Exception Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while creating Public group record in salesforce. Please reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Publish_Custom_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Msg</name>
        <label>Assign Debug Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while fetching existing Public group record in salesforce. Please reach out to System Administrator for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Custom_Exception_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Growth_Status</name>
        <label>Check Account Growth Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Growth_Status_Matched</name>
            <conditionLogic>((5 OR 6) AND (1 OR 2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Growth_Hotel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Accepting Guests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Growth_Hotel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Diminished Capacity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Growth_Hotel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Opening Phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hotel_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Growth_Hotel_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Public_Group</targetReference>
            </connector>
            <label>Growth Status Matched?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Public_Group_Exists</name>
        <label>Public Group Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Public_Group_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Public_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Context_Sharing_Invocable_to_Share_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Account After save record triggered flow which will run on creation and update of the account record and currently we added the record type check for Hotel Property Accounts</description>
    <environments>Default</environments>
    <formulas>
        <name>hotelGroupDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&apos;This is the group for hotel property &apos; &amp; {!$Record.Hotel_Code__c}</expression>
    </formulas>
    <formulas>
        <name>hotelGroupName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Hotel_Code__c}&amp;&apos; - Baseline&apos;</expression>
    </formulas>
    <interviewLabel>LOY - Account After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Account After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Public_Group_Record</name>
        <label>Create Public Group Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Property_Context_Sharing_Invocable_to_Share_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>hotelGroupDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>hotelGroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Public_Group</name>
        <label>Get Existing Public Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Public_Group_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hotelGroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Growth_Status</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Hotel_Property&apos;</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Custom_Exception_Event</name>
        <label>Publish Custom Exception Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>debugMsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Account_After_Save_Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>debugMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
