force-app/main/default/flows/LOY_Post_Choice_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_No_Valid_Benefit</name>
        <label>Response Assignment - No Valid Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_No_Valid_Benefit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Close_Choice</name>
        <label>Close Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Member_Choice.Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Member_Choice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Choice_Update_Close</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Member_Found</name>
        <label>No Member Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Response_Assignment_no_choice_found</name>
        <label>Response Assignment - no choice found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_No_Valid_Benefit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Response_Closed</name>
        <label>Response Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Post_Choice_Selection_Choice_Closed</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the value of the choice pre-close status.</description>
        <name>Set_Choice_Pre_Close_Status</name>
        <label>Set Choice Pre-Close Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_ChoicePreCloseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member_Choice.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Validation_Values</name>
        <label>Set Input Validation Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_ValidIssueQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Input.varB_ValidIssueQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Input_Payload_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Insufficient_Selections_Available</name>
        <label>Set Output - Insufficient Selections Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Insufficient_Choice_Selections</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Invalid_Payload</name>
        <label>Set Output - Invalid Payload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLT_PayloadValidationFeedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Input.varLT_FlowMessages</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Successful_Response</name>
        <label>Successful Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The voucher was awarded successfully and the choice was closed.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Successful_Response_0</name>
        <label>Successful Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error with the voucher award flow.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Now that Choice has been posted (selected) the system needs to decrement the number of available choices.</description>
        <name>Update_Choice_Values</name>
        <label>Update Choice Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Member_Choice.Number_of_Choices__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>forN_ValidIssueQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Choice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Remaining_Choices</name>
        <label>Any Remaining Choices?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Remaining_Choices_to_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Number_of_Choices__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Choice_Pre_Close_Status</targetReference>
            </connector>
            <label>No Remaining Choices to Select</label>
        </rules>
        <rules>
            <name>Additional_Choices_Remain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Number_of_Choices__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Successful_Response</targetReference>
            </connector>
            <label>Additional Choices Remain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_a_member_choice</name>
        <label>Did we find a member choice?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Response_Assignment_no_choice_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_choice_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Choice.Member_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MemberNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Choice_Status</targetReference>
            </connector>
            <label>Yes- choice found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Input_Payload_Valid</name>
        <label>Is Input Payload Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Invalid_Payload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Inputs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_ValidInputPayload</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Found</targetReference>
            </connector>
            <label>Yes - Valid Inputs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Choice_Status</name>
        <label>Member Choice Status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment_No_Valid_Benefit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Open_NewExpiration</name>
            <conditionLogic>(2 AND 4) AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IssueQty</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Member_Choice.Number_of_Choices__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Choice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Choice.Processed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choice_Option</targetReference>
            </connector>
            <label>Status-Open or Newly Expired</label>
        </rules>
        <rules>
            <name>Status_Expired_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Closed</targetReference>
            </connector>
            <label>Status-Expired or Closed</label>
        </rules>
        <rules>
            <name>Insufficient_Selections_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Choice.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Choice.Number_of_Choices__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>IssueQty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Insufficient_Selections_Available</targetReference>
            </connector>
            <label>Insufficient Selections Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Located</name>
        <label>Member Located?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Member_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Member_Found.MemberFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Choice</targetReference>
            </connector>
            <label>Yes Member Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there is a valid choice option record for the given member choice to prevent the issuance of a voucher (def) not associated with the choice.</description>
        <name>Valid_Choice_Option</name>
        <label>Valid Choice Option</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Response_Assignment_no_choice_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Voucher_Def_is_Selectable_per_Member_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidChoiceOptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Award_Voucher</targetReference>
            </connector>
            <label>Yes - Voucher Def is Selectable per Member Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_it_successful</name>
        <label>was it successful</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Successful_Response_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Successfully_awarded_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Award_Voucher.AwardedVoucherIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Choice_Values</targetReference>
            </connector>
            <label>Yes- Successfully awarded Voucher</label>
        </rules>
    </decisions>
    <description>US220900 - SFLC: RolloverMilestone - postChoiceBenefit selection - Include Choice Id instead of Benefit</description>
    <environments>Default</environments>
    <formulas>
        <description>15 char version of the benefit id used for matching</description>
        <name>Benefit_Id_15_Char</name>
        <dataType>String</dataType>
        <expression>LEFT({!ChoiceId}, 15)</expression>
    </formulas>
    <formulas>
        <name>forB_ValidInputPayload</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!varB_ValidIssueQty}, TRUE)</expression>
    </formulas>
    <formulas>
        <name>forB_ValidIssueQuantity</name>
        <dataType>Boolean</dataType>
        <expression>{!IssueQty} &gt; 0</expression>
    </formulas>
    <formulas>
        <description>Issue Qty is defaulted to 1 if an invalid IssueQty is provided as input.</description>
        <name>forN_ValidIssueQty</name>
        <dataType>Number</dataType>
        <expression>IF( {!forB_ValidIssueQuantity}, {!IssueQty}, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Processed or Expired depending on the Choice Pre-Closure status: Open - Processed, Expired then Expired</description>
        <name>forT_MemberBenefitClosureStatus</name>
        <dataType>String</dataType>
        <expression>IF ( {!varT_ChoicePreCloseStatus} == &quot;Expired&quot;, &quot;Expired&quot;, &quot;Processed&quot;)</expression>
    </formulas>
    <interviewLabel>LOY- Post Choice Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Post Choice Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Returns Choice Option that matches the given Member Choice and Voucher Definition.</description>
        <name>Choice_Option</name>
        <label>Choice Option</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Choice_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_Choice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Choice.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Voucher_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoucherDefinitionID</elementReference>
            </value>
        </filters>
        <object>Choice_Option__c</object>
        <outputReference>ValidChoiceOptions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Choice</name>
        <label>Get Member Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_member_choice</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Member_Choice__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_Choice_Update_Close</name>
        <label>Commit Choice Update - Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Member_Benefit</targetReference>
        </connector>
        <inputReference>Get_Member_Choice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Choice</name>
        <label>Commit Choice Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_Remaining_Choices</targetReference>
        </connector>
        <inputReference>Get_Member_Choice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Benefit</name>
        <label>Update Member Benefit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Successful_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Member_Choice.Member_Benefit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>forT_MemberBenefitClosureStatus</elementReference>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Award_Voucher</name>
        <label>Award Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>was_it_successful</targetReference>
        </connector>
        <flowName>LOY_Award_Voucher_Flow</flowName>
        <inputAssignments>
            <name>applicationId</name>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channelId</name>
            <value>
                <elementReference>channelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inVarBenefitId</name>
            <value>
                <elementReference>Get_Member_Choice.Benefit_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IssueQty</name>
            <value>
                <elementReference>IssueQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>location</name>
            <value>
                <elementReference>location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MemberChoiceId</name>
            <value>
                <elementReference>Get_Member_Choice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MemberNumber</name>
            <value>
                <elementReference>Get_Member_Choice.Member_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requestorId</name>
            <value>
                <elementReference>requestorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>user</name>
            <value>
                <elementReference>user</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VoucherDefID</name>
            <value>
                <elementReference>VoucherDefinitionID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Member_Found</name>
        <label>Member Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Member_Located</targetReference>
        </connector>
        <flowName>Member_Found</flowName>
        <inputAssignments>
            <name>MemberNumber</name>
            <value>
                <elementReference>MemberNumber</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validate_Input</name>
        <label>Validate Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Input_Validation_Values</targetReference>
        </connector>
        <flowName>LOY_Utility_Validate_Input</flowName>
        <inputAssignments>
            <name>varN_IssueQty</name>
            <value>
                <elementReference>IssueQty</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LanguageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>en-US</stringValue>
        </value>
    </variables>
    <variables>
        <name>location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidChoiceOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Choice_Option__c</objectType>
    </variables>
    <variables>
        <name>varB_ValidIssueQty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLT_PayloadValidationFeedback</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Represents the status of the choice prior to closing (Open or Expired).  This will determine what the Member Benefit status should up upon Choice closure.</description>
        <name>varT_ChoicePreCloseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>VoucherDefinitionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
