force-app/main/default/flows/LOY_Manage_Club_Membership_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CustomerRequest</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>IHGRequest</name>
        <choiceText>IHG Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IHG Request</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks to see if the expiration date is in the past.</description>
        <name>Check_if_Tier_is_expired</name>
        <label>Check if Tier is expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Member_Tier_Re_open_confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tier_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_Tier_Record.TierExpirationDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Tier</targetReference>
            </connector>
            <label>Tier expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LoyaltyMemberTier_Status</name>
        <label>Check LoyaltyMemberTier Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_LoyaltyMemberTier_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_Tier_Record.ClubMembershipStatusCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Reason_Selection_Screen</targetReference>
            </connector>
            <label>Is LoyaltyMemberTier Open</label>
        </rules>
        <rules>
            <name>Is_LoyaltyMemberTier_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_Tier_Record.ClubMembershipStatusCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_LoyaltyProgramMember_Active</targetReference>
            </connector>
            <label>Is LoyaltyMemberTier Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the current tier is either KIC or RAM we must also close the other one.</description>
        <name>close_KIC_or_RAM_tier</name>
        <label>KIC or RAM tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_close_KICorRAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRAMorKIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_tier_to_close</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Tier</name>
        <label>Close Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Open_tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Open_tiers.LoyaltyTier.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>otherMemberTier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Other_Member_Tier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if related LPM record is Active</description>
        <name>Is_LoyaltyProgramMember_Active</name>
        <label>Is LoyaltyProgramMember Active?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Tier_is_expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loyalty_Member_Tier_Record.LoyaltyMember.MembershipStatusCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPM_Inactive_Screen</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the current tier is either KIC or RAM we must also close the other one.</description>
        <name>open_KIC_or_RAM_tier</name>
        <label>KIC or RAM tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_open_KICorRAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRAMorKIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_tier_to_open</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Tier</name>
        <label>Open Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Closed_tiers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_tiers.LoyaltyTier.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>otherMemberTier</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Open_Other_Member_Tier</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as part of US429630 || AMB | Close membership
Updated as part of US432712 || AMB |  Reopen of the membership
Updated as part of US453607 || AMB| Manage Membership Pop Up
Updated as part of US443317 || AMB | Ambassador membership cannot be reopened if LPM status = Closed</description>
    <environments>Default</environments>
    <formulas>
        <name>isRAMorKIC</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!Get_Loyalty_Member_Tier_Record.LoyaltyTier.Name} == &apos;Royal Ambassador&apos;,
    {!Get_Loyalty_Member_Tier_Record.LoyaltyTier.Name} == &apos;Kimpton Inner Circle&apos;
)</expression>
    </formulas>
    <formulas>
        <description>If the triggering Member Tier is RAM then this will be KIC or vice versa.</description>
        <name>otherMemberTier</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Loyalty_Member_Tier_Record.LoyaltyTier.Name}, 
&apos;Royal Ambassador&apos;, &apos;Kimpton Inner Circle&apos;, 
&apos;Kimpton Inner Circle&apos;, &apos;Royal Ambassador&apos;,
&apos;INVALID&apos;
)</expression>
    </formulas>
    <interviewLabel>LOY Manage Club Membership Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Manage Club Membership Screen Flow</label>
    <loops>
        <name>Closed_tiers</name>
        <label>Closed tiers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Other_tier_to_open</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Open_Tier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_tiers</name>
        <label>Open tiers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Other_tier_to_close</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Close_Tier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Loyalty_Member_Tier_Record</name>
        <label>Get Loyalty Member Tier Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_LoyaltyMemberTier_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Other_tier_to_close</name>
        <label>Other tier to close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_tiers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClubMembershipStatusCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>O</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Other_tier_to_open</name>
        <label>Other tier to open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Closed_tiers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClubMembershipStatusCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loyalty_Member_Tier_Record.LoyaltyMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyMemberTier</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Expired_Tier</name>
        <label>Expired Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExpiredTierText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You cannot reactivate an expired membership.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LPM_Inactive_Screen</name>
        <label>LPM Inactive Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Reason_Selection_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You cannot activate a membership for an inactive Loyalty Program Member.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Reason_Selection_Screen</name>
        <label>Manage Reason Selection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_Member_Tier</targetReference>
        </connector>
        <fields>
            <name>Reason_Selection_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;You are about to close this membership. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>reasonClosure</name>
            <choiceReferences>IHGRequest</choiceReferences>
            <choiceReferences>CustomerRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose the reason for the closure.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Member_Tier_Re_open_confirmation</name>
        <label>Member Tier Re-open confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Member_Tier</targetReference>
        </connector>
        <fields>
            <name>ReactivationConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You are about to reactivate the membership. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_LoyaltyMemberTier_Screen</name>
        <label>Navigate LoyaltyMemberTier Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToSourceRecord</name>
            <extensionName>c:refreshRecordPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loyalty_Member_Tier_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Member_Tier</name>
        <label>Close Member Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>close_KIC_or_RAM_tier</targetReference>
        </connector>
        <flowName>LOY_Update_Member_Tier_Status</flowName>
        <inputAssignments>
            <name>ClosureReason</name>
            <value>
                <elementReference>reasonClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TierStatus</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Other_Member_Tier</name>
        <label>Close Member Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </connector>
        <flowName>LOY_Update_Member_Tier_Status</flowName>
        <inputAssignments>
            <name>ClosureReason</name>
            <value>
                <elementReference>reasonClosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Open_tiers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TierStatus</name>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Open_Member_Tier</name>
        <label>Re-Open Member Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>open_KIC_or_RAM_tier</targetReference>
        </connector>
        <flowName>LOY_Update_Member_Tier_Status</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TierStatus</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Re_Open_Other_Member_Tier</name>
        <label>Re-Open Other Member Tier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_LoyaltyMemberTier_Screen</targetReference>
        </connector>
        <flowName>LOY_Update_Member_Tier_Status</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Closed_tiers.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TierStatus</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
