force-app/main/default/flows/LOY_Create_Voucher_Eligibility_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Variables</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Record Data process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Eligibility Rule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables_2</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Voucher Eligibility Rule Records Clone process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Eligibility Rule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables_3</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clone_Rule_RecordV2 process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Eligibility Rule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Rule_RecordV2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables_4</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clone_Rule_Record process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Eligibility Rule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Rule_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Variables_5</name>
        <label>Assign Debug Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Voucher Eligibiity Rule Records process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Eligibiity Rule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Clone_Rule_RecordV2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hotel_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_Account_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Rule_Record</targetReference>
            </connector>
            <label>Hotel Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entered_Clone_Rule_Rank_is_Unique</name>
        <label>Entered Clone Rule Rank is Unique?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rule_rank_error_display_screen_Clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_Rank_is_Unique_Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibiity_Rule_Records_Clone</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type</targetReference>
            </connector>
            <label>Rule Rank is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entered_Rule_Rank_is_Unique</name>
        <label>Entered Rule Rank is Unique?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rule_rank_error_display_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rule_Rank_is_Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voucher_Eligibiity_Rule_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Voucher_Eligibility_Rule_Screen_2</targetReference>
            </connector>
            <label>Rule Rank is Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cloned</name>
        <label>Is Cloned?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Voucher_Eligibility_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Data</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountRecordType__c</picklistField>
        <picklistObject>VoucherEligibilityRules__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RuleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RuleType__c</picklistField>
        <picklistObject>VoucherEligibilityRules__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>LOY Create Voucher Eligibility Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Create Voucher Eligibility Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Rule_Record</name>
        <label>Clone Rule Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>VoucherEligibilityRuleId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Cloned_Successfully</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountRecordType__c</field>
            <value>
                <elementReference>Clone_Account_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>VoucherEligibilityRuleObject.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.BrandsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.BrandsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChainsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.ChainsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChainsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.ChainsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountriesExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.CountriesExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountriesIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.CountriesIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Record_Data.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartmentsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.DepartmentsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartmentsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.DepartmentsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Clone_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Clone_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotelsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.HotelsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HotelsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.HotelsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegionsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.RegionsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegionsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.RegionsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleName__c</field>
            <value>
                <elementReference>Clone_Rule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleRank__c</field>
            <value>
                <elementReference>Clone_Rule_Rank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleType__c</field>
            <value>
                <elementReference>Clone_Rule_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Clone_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubregionsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.SubregionsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubregionsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.SubregionsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherDefinitionsExcluded__c</field>
            <value>
                <elementReference>Get_Record_Data.VoucherDefinitionsExcluded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherDefinitionsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.VoucherDefinitionsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <object>VoucherEligibilityRules__c</object>
    </recordCreates>
    <recordCreates>
        <name>Clone_Rule_RecordV2</name>
        <label>Clone Rule Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>VoucherEligibilityRuleId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Cloned_Successfully</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountRecordType__c</field>
            <value>
                <elementReference>Clone_Account_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>VoucherEligibilityRuleObject.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Clone_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Clone_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderAccount__c</field>
            <value>
                <elementReference>Get_Record_Data.OrderAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleName__c</field>
            <value>
                <elementReference>Clone_Rule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleRank__c</field>
            <value>
                <elementReference>Clone_Rule_Rank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RuleType__c</field>
            <value>
                <elementReference>Clone_Rule_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Clone_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoucherDefinitionsIncluded__c</field>
            <value>
                <elementReference>Get_Record_Data.VoucherDefinitionsIncluded__c</elementReference>
            </value>
        </inputAssignments>
        <object>VoucherEligibilityRules__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Data</name>
        <label>Get Record Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Voucher_Eligibility_Rule_Clone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoucherEligibilityRules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voucher_Eligibiity_Rule_Records</name>
        <label>Get Voucher Eligibiity Rule Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entered_Rule_Rank_is_Unique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables_5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RuleRank__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rule_Rank</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherEligibilityRules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voucher_Eligibiity_Rule_Records_Clone</name>
        <label>Get Voucher Eligibiity Rule Records Clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entered_Clone_Rule_Rank_is_Unique</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Variables_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RuleRank__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Clone_Rule_Rank</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoucherEligibilityRules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Voucher_Eligibility_Rule</name>
        <label>New Voucher Eligibility Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Voucher_Eligibiity_Rule_Records</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Step 1 of 2 - General Details&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(244, 5, 29);&quot;&gt;*&lt;/span&gt;=Required Information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Voucher_Eligibility_Rule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Voucher_Eligibility_Rule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rule_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Rule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_Record_Type</name>
                    <choiceReferences>AccountRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter description below 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Description}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Voucher_Eligibility_Rule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rule_Rank</name>
                    <dataType>Number</dataType>
                    <fieldText>Rule Rank</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Rule Rank must be greater than zero.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Rule_Rank}&gt;=1</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Rule_Type</name>
                    <choiceReferences>RuleType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rule Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Status</name>
            <fieldText>Date &amp; Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select an End Date that is the same as or later than the Start Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!End_Date}) || {!End_Date} &gt;={!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VoucherEligibilityRuleObject.Active__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Voucher_Eligibility_Rule_Clone</name>
        <label>New Voucher Eligibility Rule Clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Voucher_Eligibiity_Rule_Records_Clone</targetReference>
        </connector>
        <fields>
            <name>New_Voucher_Eligibility_Rule_Clone_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Voucher_Eligibility_Rule_Clone_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_Rule_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Record_Data.RuleName__c</elementReference>
                    </defaultValue>
                    <fieldText>Rule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Clone_Account_Record_Type</name>
                    <choiceReferences>AccountRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Record_Data.AccountRecordType__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Clone_Description</name>
                    <defaultValue>
                        <stringValue>{!Get_Record_Data.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter description below 255 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Description}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Voucher_Eligibility_Rule_Clone_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_Rule_Rank</name>
                    <dataType>Number</dataType>
                    <fieldText>Rule Rank</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Rule Rank must be greater than zero.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Clone_Rule_Rank}&gt;=1</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Clone_Rule_Type</name>
                    <choiceReferences>RuleType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Record_Data.RuleType__c</elementReference>
                    </defaultValue>
                    <fieldText>Rule Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Clone_Date_Status</name>
            <fieldText>Date &amp; Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Date_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Record_Data.StartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Clone_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Record_Data.EndDate__c</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select an End Date that is the same as or later than the Start Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>ISBLANK({!End_Date}) || {!End_Date} &gt;={!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Date_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VoucherEligibilityRuleObject.Active__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Cloned_Successfully</name>
        <label>Record Cloned Successfully</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToRecord</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Voucher Eligibility Rule was cloned successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>VoucherEligibilityRuleId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rule_rank_error_display_screen</name>
        <label>Rule rank error display screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <fields>
            <name>UnabletoCompleteTheActionDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Unable To Complete The Action&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Rule Rank&lt;/strong&gt; Entered must be &lt;strong&gt;unique&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rule_rank_error_display_screen_Clone</name>
        <label>Rule rank error display screen Clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Close</backButtonLabel>
        <fields>
            <name>Copy_2_of_UnabletoCompleteTheActionDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Unable To Complete The Action&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_ErrorMessageDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Rule Rank&lt;/strong&gt; Entered must be &lt;strong&gt;unique&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Cloned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Voucher_Eligibility_Rule_Screen_2</name>
        <label>Call Voucher Eligibility Rule Screen 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>LOY_Voucher_Eligibility_Rules_Screen_2</flowName>
        <inputAssignments>
            <name>AccountRecordType</name>
            <value>
                <elementReference>Account_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Active</name>
            <value>
                <elementReference>VoucherEligibilityRuleObject.Active__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EndDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordPage</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleName</name>
            <value>
                <elementReference>Rule_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleRank</name>
            <value>
                <elementReference>Rule_Rank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RuleType</name>
            <value>
                <elementReference>Rule_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Create_Voucher_Eligibility_Rule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>varT_DebugLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <elementReference>varT_DebugOperation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>varT_DebugRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_DebugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GET</stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_DebugRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>VoucherEligibilityRuleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VoucherEligibilityRuleObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VoucherEligibilityRules__c</objectType>
    </variables>
</Flow>
