force-app/main/default/flows/LOY_Handle_Member_Choice_Expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Decrement_Num_Choices</name>
        <label>Decrement Num Choices</label>
        <locationX>632</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>varN_NumChoices</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Get_Default_Choice_Option.Choice_Definition_Rule__r.Voucher_Choice_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Remaining_Selections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Debug_Message</name>
        <label>Set Debug Message - Member Benefit Update Failure</label>
        <locationX>1307</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>varT_FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to update Member Benefit Status.  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_Meber_Choice_Update_Failed</name>
        <label>Set Message - Meber Choice Update Failed</label>
        <locationX>878</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>varT_FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to update Member Choice record when executing Expiration Handler flow.  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success</name>
        <label>Success</label>
        <locationX>1499</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>varT_FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Success_200</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if there are any remaining selections available.  For instance, for some Member Choice Benefits, the number of selectable choices may be more than one, in which case the system needs to post additional choice selections for the default option.</description>
        <name>Any_Remaining_Selections</name>
        <label>Any Remaining Selections?</label>
        <locationX>867</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_More_Selections_Remain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_NumChoices</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Post_Choice_Selection_Flow</targetReference>
            </connector>
            <label>Yes, More Selections Remain</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did we find a Choice Option for this Member Choice where the Default Selection field is set to True?  If so, then post the selection.</description>
        <name>Default_Choice_Option_Found</name>
        <label>Default Choice Option Found</label>
        <locationX>554</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Update_this_Member_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_matching_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Choice_Option.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Post_Choice_Selection_Flow</targetReference>
            </connector>
            <label>Default Option Found.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Choice_Option_Selection</name>
        <label>Auto Award Default Choice Upon Expiration</label>
        <locationX>395</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Update_this_Member_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disabled (Default Outcome)</defaultConnectorLabel>
        <rules>
            <name>Enabled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Auto_Award_Default_Option_Upon_Choice_Expiration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Choice_Option</targetReference>
            </connector>
            <label>Enabled</label>
        </rules>
    </decisions>
    <description>DE66358 - Issue resolution - account for the status update of member choice and member benefit where no default choice definition rule is present.</description>
    <environments>Default</environments>
    <formulas>
        <description>Protective formula: Returns the Voucher Choice Quantity from the CDR if it is valid (greater than 0), otherwise return 1.</description>
        <name>forN_VoucherChoiceQuantity</name>
        <dataType>Number</dataType>
        <expression>IF ( {!Get_Default_Choice_Option.Choice_Definition_Rule__r.Voucher_Choice_Quantity__c} &gt; 0, {!Get_Default_Choice_Option.Choice_Definition_Rule__r.Voucher_Choice_Quantity__c}, 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LOY - Handle Member Choice Expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Handle Member Choice Expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query for the default Choice Option for this Member Choice record...</description>
        <name>Get_Default_Choice_Option</name>
        <label>Get Default Choice Option</label>
        <locationX>399</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Choice_Option_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Choice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Member_Choice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Choice_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>...likeise the Member Benefit status must be updated to Expired if there is no default selection.</description>
        <name>Set_Member_Benefit_Status_to_Expired</name>
        <label>Set Member Benefit Status to Expired</label>
        <locationX>1500</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Debug_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Benefit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>MemberBenefit</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_this_Member_Choice</name>
        <label>Update this Member Choice</label>
        <locationX>879</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Set_Member_Benefit_Status_to_Expired</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Message_Meber_Choice_Update_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>277</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Default_Choice_Option_Selection</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Member_Choice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Post_Choice_Selection_Flow</name>
        <label>Call Post Choice Selection Flow</label>
        <locationX>668</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>Decrement_Num_Choices</targetReference>
        </connector>
        <flowName>LOY_Post_Choice_Selection</flowName>
        <inputAssignments>
            <name>ChoiceId</name>
            <value>
                <elementReference>$Record.Member_Benefit__r.BenefitId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IssueQty</name>
            <value>
                <elementReference>Get_Default_Choice_Option.Choice_Definition_Rule__r.Voucher_Choice_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MemberNumber</name>
            <value>
                <elementReference>$Record.Member_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VoucherDefinitionID</name>
            <value>
                <elementReference>Get_Default_Choice_Option.Voucher_Definition__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>1094</locationX>
        <locationY>691</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_FlowMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY - Handle Member Choice Expiration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>MemberBenefit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Represents the number of selectable choices</description>
        <name>varN_NumChoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Number_of_Choices__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varR_DefaultOption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Choice_Option__c</objectType>
    </variables>
    <variables>
        <description>This variable will store the debug message of Custom Exception if triggered or Success</description>
        <name>varT_FlowMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
