force-app/main/default/flows/LOY_Validation_Register_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>logentryIfFails</name>
        <label>logentryIfFails</label>
        <locationX>4802</locationX>
        <locationY>2162</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>savelog</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Validation_Register_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>savelog</name>
        <label>savelog</label>
        <locationX>4802</locationX>
        <locationY>2270</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AgentIsRelatedToAnoterTravelAgengy</name>
        <label>AgentIsRelatedToAnoterTravelAgengy</label>
        <locationX>1898</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_If_Travel_Agent_Has_A_Existing_Relation_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_of_Error_While_create_new_Loyalty_Program_Member_Badge</name>
        <label>Copy of Error While create new Loyalty Program Member Badge</label>
        <locationX>2426</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Create_New_LPMB_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_of_Error_While_create_new_relation_Agency_Agent</name>
        <label>Copy of Error While create new relation Agency Agent</label>
        <locationX>2954</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Creating_New_Relationship_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Destined_Agent_Doesn_t_exist</name>
        <label>Error Destined Agent Doesn&apos;t exist</label>
        <locationX>3218</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_Destined_Agent_Doesn_t_exist</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Expire_LPM_Badge</name>
        <label>Error Expire LPM Badge</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_Expire_LPM_Badge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_In_Creating_LPM_Badge_For_Existing_Agent</name>
        <label>Error In Creating LPM Badge For Existing Agent</label>
        <locationX>578</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_In_Creating_LPM_Badge_For_Existing_Agent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>error_message_IATA_Number_is_null</name>
        <label>error message IATA Number is null</label>
        <locationX>7442</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_IATA_Number_Is_Null_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>error_message_record_type_doesn_t_exist</name>
        <label>error message record type doesn&apos;t exist</label>
        <locationX>6914</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agency_Recordtype_fail_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>error_Reward_number_didn_t_exist</name>
        <label>error Reward number didn&apos;t exist</label>
        <locationX>5594</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Reward_Number_Didnt_Exist_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Travel_Agent_Doesn_t_exist</name>
        <label>Error travel Agent Doesn&apos;t exist</label>
        <locationX>4802</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Badge_Not_Found_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>logentryIfFails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_While_create_new_relation_Agency_Agent</name>
        <label>Error While create new relation Agency Agent</label>
        <locationX>4538</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Creating_New_Relationship_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_Agent_Badge</name>
        <label>Error While retrieve Agent Badge</label>
        <locationX>5066</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Retriving_Travel_Agent_Badge_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_Destined_Agent_Badge</name>
        <label>Error While retrieve Destined Agent Badge</label>
        <locationX>3482</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOYErrorRetrieveDestinedLpBadge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_Loyalty_Program_Badge</name>
        <label>Error While retrieve Loyalty Program Badge</label>
        <locationX>1370</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOYErrorRetrieveDestinedLpBadge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_LPM</name>
        <label>Error While retrieve LPM</label>
        <locationX>5858</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Retriving_LPM_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_LPM_Badge</name>
        <label>Error While retrieve LPM Badge</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_Get_Destined_Agent_LPM_Badge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_RecordType</name>
        <label>Error While retrieve RecordType</label>
        <locationX>7178</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Retrieving_Recordtype_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_Relation_Agency_Agent</name>
        <label>Error While retrieve Relation Agency Agent</label>
        <locationX>5330</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Retrieving_Relation_Agency_Agent_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_While_retrieve_Travel_Agency</name>
        <label>Error While retrieve Travel Agency</label>
        <locationX>6650</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Retriving_Agency_Error_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FinalResponse</name>
        <label>FinalResponse</label>
        <locationX>3746</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Register_Successfully_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelAgencyDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response.TravelAgencyforMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FinalResponseDestinedAgent</name>
        <label>FinalResponseDestinedAgent</label>
        <locationX>2162</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Destined_Agent_Register_Successfully_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelAgencyDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_for_Destined_Agent.TravelAgencyforMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>message if IATA number is not associated with an agency</description>
        <name>IATA_Number_is_is_not_associated_with_an_agency</name>
        <label>IATA Number is is not associated with an agency</label>
        <locationX>6386</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_IATA_Number_Is_Not_Associated_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>New_Badge_Creation_Message</name>
        <label>New Badge Creation Message</label>
        <locationX>314</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_New_Badge_Creation_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Relation_Destined_Agent_already_exist</name>
        <label>Relation Destined Agent already exist</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Relation_Destined_Agent_already_exist</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Relation_Travel_Agent_already_exist</name>
        <label>Relation Travel Agent already exist</label>
        <locationX>1634</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Relation_Travel_Agent_already_exist</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reward_Code_null_error_message</name>
        <label>Reward Code null error message</label>
        <locationX>6122</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Reward_Number_Null_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>While_create_new_Loyalty_Program_Member_Badge</name>
        <label>While create new Loyalty Program Member Badge</label>
        <locationX>4010</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Error_While_Create_New_LPMB_Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>DestinedAgentBadgeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Destined Agent</stringValue>
        </value>
    </constants>
    <constants>
        <name>TravelAgentName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel_Agency</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Destined_Agency_Check</name>
        <label>Destined Agency Check</label>
        <locationX>3614</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Get_Travel_Agent_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Destined_Agency_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_by_IATA_Number.DestinedAgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Destined_Agent_Badge_For_New_Relationship</targetReference>
            </connector>
            <label>Destined Agency Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if exist a Agency with a IATA number</description>
        <name>Exist_A_Agency_with_that_IATA_Number</name>
        <label>Exist A Agency with that IATA Number?</label>
        <locationX>5651</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>IATA_Number_is_is_not_associated_with_an_agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agency IATA doesn&apos;t number exist</defaultConnectorLabel>
        <rules>
            <name>Agency_IATA_number_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IATA_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Agency_by_IATA_Number.hapi__IATANumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_RewardCode_Null</targetReference>
            </connector>
            <label>Agency IATA number exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if there is a destined agent badge associated with the loyalty program member badge</description>
        <name>Has_Destined_Agent_Badge</name>
        <label>Has Destined Agent Badge?</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Get_Travel_Agent_Badge_for_Existing_LPM_Badge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Destined_Agent_Badge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LPM_Badge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LPM_Badge.LoyaltyProgramBadgeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Destined_Agent_Badge.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relation_Destined_Agent_already_exist</targetReference>
            </connector>
            <label>Destined Agent Badge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comms_Opt_In_Null</name>
        <label>Is Comms Opt In Null</label>
        <locationX>1832</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_Email_Opt_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>comms opt is not null</defaultConnectorLabel>
        <rules>
            <name>comms_opt_in_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agent_Comms_Opt_In</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNewRelationAgencyAgent</targetReference>
            </connector>
            <label>comms opt in null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Destined_Agency</name>
        <label>Is Destined Agency</label>
        <locationX>908</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Relation_Travel_Agent_already_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Destined_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_by_IATA_Number.DestinedAgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Destined_Agent_Badge</targetReference>
            </connector>
            <label>Destined Agency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RewardCode_Null</name>
        <label>Is RewardCode Null?</label>
        <locationX>4917</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Reward_Code_null_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RewardCode is null</defaultConnectorLabel>
        <rules>
            <name>RewardCode_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reward_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LPM_Membership_Number</targetReference>
            </connector>
            <label>RewardCode is not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if exist a Contact with a Reward number</description>
        <name>Reward_number_exist</name>
        <label>Reward number exist?</label>
        <locationX>3713</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>error_Reward_number_didn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent Reward number doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Agent_Reward_number_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reward_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_LPM_Membership_Number.MembershipNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_From_LPM</targetReference>
            </connector>
            <label>Agent Reward number exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Travel_Agent_RecordType_Exist</name>
        <label>Travel Agent RecordType Exist?</label>
        <locationX>6282</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>error_message_record_type_doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeTravelAgent.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Travel_Agency_API_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agency_by_IATA_Number</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_access_for_LPMB</name>
        <label>Validate access for LPMB</label>
        <locationX>2426</locationX>
        <locationY>2162</locationY>
        <defaultConnectorLabel>Dont Create new LPMB</defaultConnectorLabel>
        <rules>
            <name>all_inputs_for_create_LPMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destined_Agent_Badge_For_New_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LPM_Membership_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LPMB_Destined_Agent</targetReference>
            </connector>
            <label>all inputs for create LPMB?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_access_for_records_LPMB</name>
        <label>Validate access for records LPMB</label>
        <locationX>4010</locationX>
        <locationY>2162</locationY>
        <defaultConnectorLabel>Dont Create new LPMB</defaultConnectorLabel>
        <rules>
            <name>Have_all_inputs_for_create_LPMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Travel_Agent_Badge.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LPM_Membership_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LPMB</targetReference>
            </connector>
            <label>Have all inputs for create LPMB?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_if</name>
        <label>Is IATA Null?</label>
        <locationX>6862</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>error_message_IATA_Number_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IATA is null</defaultConnectorLabel>
        <rules>
            <name>IATA_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IATA_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeTravelAgent</targetReference>
            </connector>
            <label>IATA is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_if_exist_Destined_Agent_badge</name>
        <label>validate if exist Destined agent badge</label>
        <locationX>2822</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Error_Destined_Agent_Doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t exist Destined Agent Badge</defaultConnectorLabel>
        <rules>
            <name>Badge_exist_Destined_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destined_Agent_Badge_For_New_Relationship.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DestinedAgentBadgeName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Destined_Agent_Badge_For_New_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewRealtionDestinedAgencyAgent</targetReference>
            </connector>
            <label>Badge exist Destined Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>validate_if_exist_that_badge</name>
        <label>validate if exist that badge</label>
        <locationX>4406</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Error_Travel_Agent_Doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t exist Destined Agent Badge</defaultConnectorLabel>
        <rules>
            <name>already_exist_Destined_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Travel_Agent_Badge.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewRealtionAgencyAgent</targetReference>
            </connector>
            <label>exist Destined Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateIfContactHasAActiveValidation</name>
        <label>ValidateIfContactHasAActiveValidation</label>
        <locationX>2756</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Destined_Agency_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t has an active relation Destined Agent</defaultConnectorLabel>
        <rules>
            <name>has_a_relation_with_another_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewRelationAgencyAgent.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_LPM_Membership_Number.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetNewRelationAgencyAgent.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgentIsRelatedToAnoterTravelAgengy</targetReference>
            </connector>
            <label>has a relation with another account</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateIfRelationwascreate</name>
        <label>ValidateIfRelationwascreate</label>
        <locationX>1832</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>ValidateIfContactHasAActiveValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Relation Destined Agent already exist</defaultConnectorLabel>
        <rules>
            <name>Relation_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewRelationAgencyAgent.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Agency_by_IATA_Number.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetNewRelationAgencyAgent.Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetNewRelationAgencyAgent.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_LPM_Membership_Number.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Destined_Agency</targetReference>
            </connector>
            <label>Relation exist?</label>
        </rules>
    </decisions>
    <description>Flow that is call by API that validates if Reward Number and IATA number exist</description>
    <environments>Default</environments>
    <interviewLabel>LOY - Register Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Validation Register Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create and associate a new destined agent LPM badge</description>
        <name>Associate_Destined_Agent_Badge</name>
        <label>Associate Destined Agent Badge</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>New_Badge_Creation_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_In_Creating_LPM_Badge_For_Existing_Agent</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LoyaltyProgramBadgeId</field>
            <value>
                <elementReference>Get_Destined_Agent_Badge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMemberId</field>
            <value>
                <elementReference>Get_LPM_Membership_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMemberBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_LPMB</name>
        <label>Create LPMB</label>
        <locationX>3746</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>While_create_new_Loyalty_Program_Member_Badge</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LoyaltyProgramBadgeId</field>
            <value>
                <elementReference>Get_Travel_Agent_Badge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMemberId</field>
            <value>
                <elementReference>Get_LPM_Membership_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMemberBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_LPMB_Destined_Agent</name>
        <label>Create LPMB Destined Agent</label>
        <locationX>2162</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>Response_for_Destined_Agent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_of_Error_While_create_new_Loyalty_Program_Member_Badge</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>LoyaltyProgramBadgeId</field>
            <value>
                <elementReference>Get_Destined_Agent_Badge_For_New_Relationship.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoyaltyProgramMemberId</field>
            <value>
                <elementReference>Get_LPM_Membership_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMemberBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewRealtionAgencyAgent</name>
        <label>CreateNewRealtionAgencyAgent</label>
        <locationX>4010</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Validate_access_for_records_LPMB</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_create_new_relation_Agency_Agent</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Agency_by_IATA_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_LPM_Membership_Number.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewRealtionDestinedAgencyAgent</name>
        <label>CreateNewRealtionDestinedAgencyAgent</label>
        <locationX>2426</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Validate_access_for_LPMB</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_of_Error_While_create_new_relation_Agency_Agent</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Agency_by_IATA_Number.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_LPM_Membership_Number.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agency_by_IATA_Number</name>
        <label>Get Agency by IATA Number</label>
        <locationX>5651</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist_A_Agency_with_that_IATA_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_Travel_Agency</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hapi__IATANumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IATA_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeTravelAgent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch contact from LPM to update the TempTravelAgentCommsOptIn boolean flag</description>
        <name>Get_Contact_From_LPM</name>
        <label>Get Contact From LPM</label>
        <locationX>1832</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Comms_Opt_In_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM_Membership_Number.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Destined_Agent_Badge</name>
        <label>Get Destined Agent Badge</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LPM_Badge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_Loyalty_Program_Badge</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinedAgentBadgeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Destined_Agent_Badge_For_New_Relationship</name>
        <label>Get Destined Agent Badge For New Relationship</label>
        <locationX>2822</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validate_if_exist_Destined_Agent_badge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_Destined_Agent_Badge</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinedAgentBadgeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPM_Badge</name>
        <label>Get LPM Badge</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Destined_Agent_Badge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_LPM_Badge</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM_Membership_Number.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramBadgeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Destined_Agent_Badge.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMemberBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LPM_Membership_Number</name>
        <label>Get LPM Membership Number</label>
        <locationX>3713</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reward_number_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_LPM</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reward_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>MembershipNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Travel_Agent_Badge</name>
        <label>Get Travel Agent Badge</label>
        <locationX>4406</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validate_if_exist_that_badge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_Agent_Badge</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Travel_Agent_Badge_for_Existing_LPM_Badge</name>
        <label>Get Travel Agent Badge for Existing LPM Badge</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expire_Existing_LPM_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramBadge</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewRelationAgencyAgent</name>
        <label>GetNewRelationAgencyAgent</label>
        <locationX>1832</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateIfRelationwascreate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_Relation_Agency_Agent</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM_Membership_Number.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agent_Role</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeTravelAgent</name>
        <label>RecordTypeTravelAgent</label>
        <locationX>6282</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Travel_Agent_RecordType_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_While_retrieve_RecordType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Travel_Agency_API_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Expire the travel agent badge associated with the destined agency relationship</description>
        <name>Expire_Existing_LPM_Badge</name>
        <label>Expire Existing LPM Badge</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Associate_Destined_Agent_Badge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Expire_LPM_Badge</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM_Membership_Number.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramBadgeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Travel_Agent_Badge_for_Existing_LPM_Badge.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <object>LoyaltyProgramMemberBadge</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Opt_In</name>
        <label>Update Email Opt In</label>
        <locationX>1920</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>GetNewRelationAgencyAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LPM_Membership_Number.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TempTravelAgentCommsOptIn__c</field>
            <value>
                <elementReference>Agent_Comms_Opt_In</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>6736</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_if</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Response</name>
        <label>Response</label>
        <locationX>3746</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>FinalResponse</targetReference>
        </connector>
        <flowName>LOY_Subflow_Travel_Agency_Response</flowName>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TranvelAgencyInput</name>
            <value>
                <elementReference>Get_Agency_by_IATA_Number</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Response_for_Destined_Agent</name>
        <label>Response for Destined Agent</label>
        <locationX>2162</locationX>
        <locationY>2378</locationY>
        <connector>
            <targetReference>FinalResponseDestinedAgent</targetReference>
        </connector>
        <flowName>LOY_Subflow_Travel_Agency_Response</flowName>
        <inputAssignments>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TranvelAgencyInput</name>
            <value>
                <elementReference>Get_Agency_by_IATA_Number</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Agent_Comms_Opt_In</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value that Identify an Travel Agency</description>
        <name>IATA_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reward_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelAgencyDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
