force-app/main/default/flows/LOY_Subflow_Handle_Voucher_Redemption_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Details</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Redeem Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugOperation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Publish_Auto_Redeem_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto Redeem Event creation process has failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Details_2</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transaction Journal is not valid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Details_3</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher is not valid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Redeem</name>
        <label>Auto-Redeem?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Hotel_Reimbursement_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Redeem_Voucher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Voucher.VoucherDefinition.Redemption_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-redeem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Auto_Redeem_Event</targetReference>
            </connector>
            <label>Auto Redeem Voucher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hotel_Reimbursement_Decision</name>
        <label>Hotel Reimbursement?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reimbursement_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Voucher.VoucherDefinition.Reimbursable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Voucher.VoucherDefinition.Reimbursement_Recipient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hotel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Voucher.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Voucher_Reimbursement</targetReference>
            </connector>
            <label>Reimbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Transaction_Journal</name>
        <label>Valid Transaction Journal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Debug_Details_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_TJ_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NewTransactionJournal.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_TJ_with_Voucher</targetReference>
            </connector>
            <label>Valid TJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_Decision</name>
        <label>Voucher?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Debug_Details_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_For_Processing_Outcome</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Voucher.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Voucher.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Liability_Transaction_Journal</targetReference>
            </connector>
            <label>Valid for Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Voucher_Status_Decision</name>
        <label>Voucher Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redeemed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Voucher.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redeemed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Redeem</targetReference>
            </connector>
            <label>Redeemed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsEligible</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 
{!var_Voucher.LoyaltyProgramMember.MembershipStatusCode__c} = &quot;O&quot;, ISPICKVAL({!var_Voucher.Status}, &quot;Redeemed&quot;)
)</expression>
    </formulas>
    <interviewLabel>LOY - Subflow - Handle Voucher Redemption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Subflow - Handle Voucher Redemption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Auto_Redeem_Event</name>
        <label>Publish Auto Redeem Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Hotel_Reimbursement_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Details</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Deposit_Id__c</field>
            <value>
                <elementReference>var_Voucher.VoucherDefinition.IHG_Loyalty_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Number__c</field>
            <value>
                <elementReference>var_Voucher.MemberNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redeem_Value__c</field>
            <value>
                <elementReference>var_Voucher.FaceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voucher_Code__c</field>
            <value>
                <elementReference>var_Voucher.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Auto_Redeem_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Voucher_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Associate_TJ_with_Voucher</name>
        <label>Associate TJ with Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Publish_Liability_Event</targetReference>
        </connector>
        <flowName>LOY_Associate_TJ_with_Voucher</flowName>
        <inputAssignments>
            <name>varTJ</name>
            <value>
                <elementReference>var_NewTransactionJournal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVoucher</name>
            <value>
                <elementReference>var_Voucher</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Liability_Transaction_Journal</name>
        <label>Create Liability Transaction Journal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valid_Transaction_Journal</targetReference>
        </connector>
        <flowName>Create_Liability_Transaction_Journal</flowName>
        <inputAssignments>
            <name>var_Voucher</name>
            <value>
                <elementReference>var_Voucher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_CurrencyISOCode</name>
            <value>
                <elementReference>var_Voucher.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_TransactionJournalContext</name>
            <value>
                <stringValue>Liability</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_NewTransactionJournal</assignToReference>
            <name>var_NewTransactionJournal</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>LOY_Subflow_Handle_Voucher_Redemption_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>varT_DebugLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <elementReference>varT_DebugOperation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>varT_DebugRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Voucher_Reimbursement</name>
        <label>Handle Voucher Reimbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>LOY_Subflow_Handle_Voucher_Reimbursement</flowName>
        <inputAssignments>
            <name>var_RedeemedVoucher</name>
            <value>
                <elementReference>var_Voucher</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Publish_Liability_Event</name>
        <label>Publish Liability Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Voucher_Status_Decision</targetReference>
        </connector>
        <flowName>LOY_Subflow_Publish_Liability_Event</flowName>
        <inputAssignments>
            <name>var_TransactionJournal</name>
            <value>
                <elementReference>var_NewTransactionJournal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Voucher</name>
            <value>
                <elementReference>var_Voucher</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_NewTransactionJournal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionJournal</objectType>
    </variables>
    <variables>
        <name>var_Voucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>varT_DebugLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugOperation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
