force-app/main/default/flows/LOY_Utility_Validate_Input.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Invalid_Issue_Qty</name>
        <label>Set Invalid Issue Qty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_InvalidIssueQtyDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Issue_Qty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Invalid_IssueQty</name>
        <label>Set Invalid Issue Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_ValidIssueQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLT_FlowMessages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Label Me: LOY_Invalid_Issue_QTY</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Valid_Issue_Qty</name>
        <label>Set Output - Valid Issue Qty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_ValidIssueQty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Issue_Qty_Collection</name>
        <label>Update Issue Qty Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLN_IssueQtys</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varN_IssueQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Issue_Qty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invalid_Issue_Qty_Detected</name>
        <label>Invalid Issue Qty Detected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Valid_Issue_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Invalid_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_InvalidIssueQtyDetected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Invalid_IssueQty</targetReference>
            </connector>
            <label>Yes Invalid Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Issue_Qty</name>
        <label>Valid Issue Qty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Invalid_Issue_Qty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Issue_Qty_Outcome_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Qty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Qty</targetReference>
            </connector>
            <label>Valid Issue Qty</label>
        </rules>
    </decisions>
    <formulas>
        <name>forB_BenefitIdRequired</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>forB_ChoiceIdRequired</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>forB_IssueQtyRequired</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>forB_MembershipNumberRequired</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>forB_VoucherDefIdRequired</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>LOY - Utility - Validate Input {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Utility - Validate Input</label>
    <loops>
        <name>Issue_Qty</name>
        <label>Issue Qty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varLN_IssueQtys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Issue_Qty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invalid_Issue_Qty_Detected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Issue_Qty_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varB_InvalidIssueQtyDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_ValidInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_ValidIssueQty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLN_IssueQtys</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLT_BenefitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLT_ChoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLT_FlowMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLT_MembershipNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLT_VoucherDefinitionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_IssueQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_FlowMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Represents the request for which the data should be evaluated</description>
        <name>varT_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
