force-app/main/default/flows/LOY_RefDataRefresh_Publish_Event_for_Currency_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>440</locationX>
        <locationY>360</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY - RefDataRefresh Publish Event for Currency Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>DebugNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>LOY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - RefDataRefresh Publish Event for Currency Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_RefDataRefresh_Event</name>
        <label>Publish RefDataRefresh Event</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <elementReference>$Label.LOYCurrencyUpdateMessage</elementReference>
            </value>
        </inputAssignments>
        <object>RefDataRefresh__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Publish_RefDataRefresh_Event</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-26</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DebugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error in publishing RefDataRefresh Event for Currency Update</stringValue>
        </value>
    </variables>
</Flow>
