force-app/main/default/flows/LOY_Enrollment_Rule_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_DecisionTable_Output</name>
        <label>Get DecisionTable Output</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <actionName>LOY_Enrollment_Source_Type_Decision_Table_Default</actionName>
        <actionType>decisionTableAction</actionType>
        <connector>
            <targetReference>Assign_DT_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LOY_Active__c</name>
            <value>
                <elementReference>Is_Active</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Source_Channels_Included__c</name>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Locations_Included__c</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Locations_Excluded__c</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Source_Channels_Excluded__c</name>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Enrollment_Codes_Excluded__c</name>
            <value>
                <elementReference>Enrollment_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Enrollment_Codes_Included__c</name>
            <value>
                <elementReference>Enrollment_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordTypeId</name>
            <value>
                <elementReference>Source_Record_Type_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Start_Date__c</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Location_is_Hotel__c</name>
            <value>
                <elementReference>Location_Is_Hotel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_End_Date__c</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Requestor_Id_Excluded__c</name>
            <value>
                <elementReference>Requestor_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LOY_Requestor_Id_Included__c</name>
            <value>
                <elementReference>Requestor_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LOY_Enrollment_Source_Type_Decision_Table_Default</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_DT_Output</name>
        <label>Assign DT Output</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>DecisionTable_Outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DecisionTable_Output.singleOutcome</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Is_Active</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Location_Id</name>
        <label>Check Location Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_DecisionTable_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Location_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>If Location Is Present</label>
        </rules>
    </decisions>
    <description>US347180 - This flow will receive the input attributes (Channel, Location, Enrollment Code, Requestor Id, Rule Record Type, Enrollment Date), send it to the decision table, receive the single outcome and return output attributes (Source Type, Rule Id, Rule Rank)</description>
    <environments>Default</environments>
    <formulas>
        <name>Location_Is_Hotel</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Account_Record.RecordType.DeveloperName} == &apos;Hotel_Property&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>Source_Record_Type_id</name>
        <dataType>String</dataType>
        <expression>{!Get_Source_Record_Type_Id.Id}</expression>
    </formulas>
    <interviewLabel>LOY_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY_Enrollment_Rule_Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DecisionTable_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Record_Type_Id</name>
        <label>Get Source Record Type Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Source_Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOY_Enrollment_Rule__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Source_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DecisionTable_Outcome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LOY_Enrollment_Rule__c</objectType>
    </variables>
    <variables>
        <name>Enrollment_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requestor_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
