force-app/main/default/flows/LOY_Award_Voucher_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_Log_when_updating_Voucher</name>
        <label>Create a Log when updating Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Voucher_Awarded</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>VoucherDefinition</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>VoucherUpdateLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>get_definition</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Error_log_for_Action</name>
        <label>Create Error log for Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>VoucherDefinition</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>currentItem_Filter_the_Awardable_Voucher</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Log_For_LPM_Query</name>
        <label>Create Log For LPM Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Member_Exist</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyProgramMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LPMFoundLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_program_Member</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Log_For_Voucher_Definition_Records_Query</name>
        <label>Create Log For Voucher Definition Records Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Determine_Face_Value_and_Currency</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>VoucherDefinition</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>FINEST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>VoucherFoundLogMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>get_definition</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Flow_Error_Exception</name>
        <label>Flow Error Exception</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>LOY_Award_Voucher_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>debugNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_awardable_vouchers_for_loyalty_member_New</name>
        <label>Get awardable vouchers for loyalty member(New)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IhgGetVoucherDefinitionsForMember</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Voucher_Definition_in_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_log_for_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactMailingCountry</name>
            <value>
                <elementReference>contactMailingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loyaltyProgMember</name>
            <value>
                <elementReference>varR_ValidatedMember</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherDefinitionId</name>
            <value>
                <elementReference>VoucherDefID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IhgGetVoucherDefinitionsForMember</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAwardableVoucherDefs</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Issue_Voucher</name>
        <label>Issue Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>issueVoucher</actionName>
        <actionType>issueVoucher</actionType>
        <connector>
            <targetReference>update_voucher</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VoucherExpDate_ExpDays_VoucherDefExpDate</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <elementReference>get_definition.LoyaltyProgram.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoyaltyProgramMemberId</name>
            <value>
                <elementReference>memberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherDefinitionName</name>
            <value>
                <elementReference>get_definition.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BenefitId</name>
            <value>
                <elementReference>BenefitIdFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EffectiveDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FaceValue</name>
            <value>
                <elementReference>Determine_Face_Value_and_Currency.varFaceValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VoucherCode</name>
            <value>
                <elementReference>var_voucherCodeFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>issueVoucher</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varVoucherID</assignToReference>
            <name>VoucherId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Msg</name>
        <label>Assign Debug Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while trying to fetch Voucher Definition. Please reach out to System Admin for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Values</name>
        <label>Assign Debug Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is some error while trying to fetch Loyalty Program Member Record. Please reach out to Admin for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Error_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Details</name>
        <label>Assign Member Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>memberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_program_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ValidatedMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_program_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ValidatedMember.Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_awardable_vouchers_for_loyalty_member_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Member_Number</name>
        <label>Assign Member Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MemberNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ValidatedMember.MembershipNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ValidatedMember.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ValidatedMember.Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_awardable_vouchers_for_loyalty_member_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyMesssage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Specify an expiration date that&apos;s between the effective date and the expiration date of the selected voucher definition.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Specify an expiration date that&apos;s between the effective date and the expiration date of the selected voucher definition.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_on_Member_Doesn_t_exist</name>
        <label>Assignment on Member Doesn&apos;t exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyMesssage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Awardable_Voucher</name>
        <label>No Awardable Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoyaltyMesssage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_No_Valid_Vouchers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Voucher_Awarded</name>
        <label>Voucher Awarded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AwardedVoucherIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVoucherID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_Number_of_Vouchers_to_Award</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Determine_how_many_Vouchers_to_Award.NumberofVoucherstoAward</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Issue_Voucher</targetReference>
            </connector>
            <label>Counter &lt; Number of Vouchers to Award</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_ValidatedMember_V1</name>
        <label>Check for ValidatedMember V1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_program_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty_V1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ValidatedMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Member_Number</targetReference>
            </connector>
            <label>Not Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Member_Exist</name>
        <label>Does Member Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment_on_Member_Doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_program_Member.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Member_Details</targetReference>
            </connector>
            <label>Yes, Member exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Voucher_Definition_in_List</name>
        <label>Is Voucher Definition in List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Awardable_Voucher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Awardable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAwardableVoucherDefs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_definition</targetReference>
            </connector>
            <label>Yes- Awardable</label>
        </rules>
    </decisions>
    <decisions>
        <name>VoucherExpDate_ExpDays_VoucherDefExpDate</name>
        <label>VoucherExpDate+ExpDays&gt;VoucherDefExpDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ThrowError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpirationDateFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_definition.ExpirationDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_4</targetReference>
            </connector>
            <label>ThrowError</label>
        </rules>
    </decisions>
    <description>Created from V3, includes the changes for both creating vouchers from UI and defect fix DE96670(as per the fix for defect DE98389), changed the expiration date formula as per DE103213
US400995 || CTB | Add Nebula logging on record creation, deletion and updates - Employee</description>
    <environments>Default</environments>
    <formulas>
        <name>BenefitIdFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!inVarBenefitId} != null, {!inVarBenefitId}, {!$Label.LOY_Default_Good_Will_Benefit_ID})</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISNULL({!get_definition.Booking_Window_Period__c})  &amp;&amp; ISNULL({!get_definition.Booking_Window_End__c})),
IF(ISNULL({!get_definition.Booking_Window_Period__c}), {!get_definition.Booking_Window_End__c}, Today() + {!get_definition.Booking_Window_Period__c}),
IF(ISNULL({!get_definition.ExpirationPeriod}), {!get_definition.ExpirationDate}, Today() + {!get_definition.ExpirationPeriod}))</expression>
    </formulas>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY - Voucher - Award Voucher&apos;</expression>
    </formulas>
    <formulas>
        <name>for_VoucherAudit_ApplicationId</name>
        <dataType>String</dataType>
        <expression>IF({!isManualFlow} == &apos;YES&apos;, {!$Label.LOY_Voucher_Audit_Status_Application}, {!applicationId})</expression>
    </formulas>
    <formulas>
        <name>for_VoucherAudit_Location</name>
        <dataType>String</dataType>
        <expression>IF({!isManualFlow} == &apos;YES&apos;, {!$Label.LOY_Voucher_Audit_Status_Location}, {!location})</expression>
    </formulas>
    <formulas>
        <name>for_VoucherAudit_Requestor</name>
        <dataType>String</dataType>
        <expression>IF({!isManualFlow} == &apos;YES&apos;, {!$Label.LOY_Voucher_Audit_Status_Requestor}, {!requestorId})</expression>
    </formulas>
    <formulas>
        <name>for_VoucherAudit_StatusChannel</name>
        <dataType>String</dataType>
        <expression>IF({!isManualFlow} == &apos;YES&apos;, {!$Label.LOY_Voucher_Audit_Status_Channel}, {!channelId})</expression>
    </formulas>
    <formulas>
        <name>for_VoucherAudit_User</name>
        <dataType>String</dataType>
        <expression>IF({!isManualFlow} == &apos;YES&apos;, {!$User.Username}, {!user})</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <formulas>
        <name>var_voucherCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!var_UVdepositCode} != null, {!var_UVdepositCode}, {!$Flow.InterviewGuid} + TEXT({!Counter}))</expression>
    </formulas>
    <interviewLabel>Award Voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY - Voucher - Award Voucher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_definition</name>
        <label>get definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Log_For_Voucher_Definition_Records_Query</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoucherDefID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoucherDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_program_Member</name>
        <label>Get program Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Log_For_LPM_Query</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Values</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_voucher</name>
        <label>update voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Log_when_updating_Voucher</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varVoucherID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Determine_Face_Value_and_Currency.varCurrencyISOCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>ExpirationDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FaceValue</field>
            <value>
                <elementReference>Determine_Face_Value_and_Currency.varFaceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Application__c</field>
            <value>
                <elementReference>for_VoucherAudit_ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Channel__c</field>
            <value>
                <elementReference>for_VoucherAudit_StatusChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Location__c</field>
            <value>
                <elementReference>for_VoucherAudit_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Requester__c</field>
            <value>
                <elementReference>for_VoucherAudit_Requestor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_User__c</field>
            <value>
                <elementReference>for_VoucherAudit_User</elementReference>
            </value>
        </inputAssignments>
        <object>Voucher</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_ValidatedMember_V1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Determine_Face_Value_and_Currency</name>
        <label>Determine Face Value and Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_how_many_Vouchers_to_Award</targetReference>
        </connector>
        <flowName>LOY_Voucher_Determine_FV_and_Currency</flowName>
        <inputAssignments>
            <name>inMember</name>
            <value>
                <elementReference>varR_ValidatedMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inVoucherDefinition</name>
            <value>
                <elementReference>get_definition</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Determine_how_many_Vouchers_to_Award</name>
        <label>Determine how many Vouchers to Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
        <flowName>LOY_Subflow_Vouchers_Determine_How_Many_to_Award</flowName>
        <inputAssignments>
            <name>EmployeeRecord</name>
            <value>
                <elementReference>EmployeeRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MemberChoiceId</name>
            <value>
                <elementReference>MemberChoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_IssueQuantity</name>
            <value>
                <elementReference>IssueQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VoucherDefinitionId</name>
            <value>
                <elementReference>VoucherDefID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>LPMFoundLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found Loyalty Program Member matching the Membership Number. Record ID (if any): {!Get_program_Member.Id}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>VoucherFoundLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully found Voucher Definition. Record ID (if any): {!get_definition.Id}
Start time: {!StartDateTime}
End time: {!EndDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>VoucherUpdateLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Voucher record is successfully updated by {!$User.Id} with Record ID (if any): {!varVoucherID}
Start Time: {!StartDateTime}
End Time: {!EndDateTime}</text>
    </textTemplates>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AwardedVoucherIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>channelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To Store Comments from Issue Voucher Screen</description>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactMailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_the_Awardable_Voucher</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>debugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <description>Represents the the Benefit for which the Voucher was awarded</description>
        <name>inVarBenefitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isManualFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IssueQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoyaltyMesssage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>will be passed by the Post Choice Selection flow and used to determine how many vouchers to issue....</description>
        <name>MemberChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noVoucherDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UVdepositCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAwardableVoucherDefs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VoucherDefinition</objectType>
    </variables>
    <variables>
        <name>varR_ValidatedMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>varVoucherID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VoucherAwardedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VoucherDefID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
