force-app/main/default/flows/LoyaltyProgramMemberPromotion_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action</name>
        <label>Add IHG Log Entry Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get Include Promotion Relationship Failed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_2</name>
        <label>Add IHG Log Entry Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get Include Promotion Relationship Failed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_4</name>
        <label>Add IHG Log Entry Action 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in creating qualyfing promotion LPMP records</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_5</name>
        <label>Add IHG Log Entry Action 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get Promotion Record Failed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Add_IHG_Log_Entry_Action</name>
        <label>Copy 1 of Add IHG Log Entry Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Create LPMP for related promotion failed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>IHG_Log_Entry_Action_6</name>
        <label>IHG Log Entry Action 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_3</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Get Promotion Failed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Engagement_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_1</name>
        <label>Save Log 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_2</name>
        <label>Save Log 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_3</name>
        <label>Save Log 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Instance_To_List</name>
        <label>Add Instance To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LPMP_instance_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LPMP_instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Promotion_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_instance_of_Promotion_Member_Record</name>
        <label>Create instance of Promotion Member Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LPMP_instance.PromotionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_the_Promotion_Relationship.RelatedPromotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.LoyaltyProgramMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.IsEnrollmentActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.RegistrationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.IsAutoEnrolled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LPMP_instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_the_Promotion_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Loyalty_Program_Member_Promotion_Record_Instance</name>
        <label>Create Loyalty Program Member Promotion Record Instance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LPMP_instance.LoyaltyProgramMemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.PromotionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Promotion_Relationship.RelatedPromotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.IsAutoEnrolled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.RegistrationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LPMP_instance.IsAutoEnrolled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Instance_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Engagement_Status</name>
        <label>Check Engagement Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registered_or_In_Progress_or_Fulfilled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion</targetReference>
            </connector>
            <label>Registered or In Progress or Fulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Engagement_Status_on_Update</name>
        <label>Check Engagement Status on Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Fulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promotion.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion_Relationship_of_Qualifying_Type</targetReference>
            </connector>
            <label>Fulfilled</label>
        </rules>
        <rules>
            <name>Unregistered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EngagementStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unregistered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unregistered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promotion.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion_record</targetReference>
            </connector>
            <label>Unregistered</label>
        </rules>
        <rules>
            <name>Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unregistered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promotion.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion_record_2</targetReference>
            </connector>
            <label>Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_LPMP_Instance_List_Is_Not_Null</name>
        <label>Check If LPMP Instance List Is Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Engagement_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPMP_instance_List</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LPMP_Records_For_Related_Promotions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Promotion_IsActive</name>
        <label>Check if Promotion IsActive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promotion.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Include_Type_Promotion_Relationships</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Promotion_Relationships_Are_Available</name>
        <label>Check if Promotion Relationships Are Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Engagement_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>INCLUDE_AVAILABLE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Include_Type_Promotion_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Promotion_Relationship</targetReference>
            </connector>
            <label>INCLUDE AVAILABLE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_related_promotion_isActive</name>
        <label>Check if related promotion isActive?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Promotion_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InActive</defaultConnectorLabel>
        <rules>
            <name>Active1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Promotion_Relationship.RelatedPromotion__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Loyalty_Program_Member_Promotion_Record_Instance</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_related_promotion_isActive1</name>
        <label>Check if related promotion isActive?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_the_Promotion_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>InActive</defaultConnectorLabel>
        <rules>
            <name>Active2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_the_Promotion_Relationship.RelatedPromotion__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_instance_of_Promotion_Member_Record</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_or_Update</name>
        <label>Insert or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Promotion_IsActive</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Engagement_Status_on_Update</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPMP_instanceList_is_null</name>
        <label>LPMP_instanceList is null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LPMP_instance_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_LPMP_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Promotion_Relationships_of_Qualifying_Type_Exist</name>
        <label>Promotion Relationships of Secondary Type Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Promotion_Relationship_of_Qualifying_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_the_Promotion_Relationship</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddRegisterMemberCountOnCreate</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Promotion.RegisteredMemberCount__c}), 1, {!Get_Promotion.RegisteredMemberCount__c}+ 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AddRegisterMemberCountOnUpdate</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Promotion_record_2.RegisteredMemberCount__c}), 1, {!Get_Promotion_record_2.RegisteredMemberCount__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubstractRegisterMemberCount</name>
        <dataType>Number</dataType>
        <expression>IF(OR(ISBLANK({!Get_Promotion_record.RegisteredMemberCount__c}),{!Get_Promotion_record.RegisteredMemberCount__c} = 0), null , {!Get_Promotion_record.RegisteredMemberCount__c} - 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CreateRecord_MemberPromotion_BS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_LoyaltyProgramMemberPromotion_AS</label>
    <loops>
        <description>Iteration to create instance of Loyalty Program Member Promotion for the child promotions</description>
        <name>Iterate_Over_Promotion_Relationship</name>
        <label>Iterate Over Promotion Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Include_Type_Promotion_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_related_promotion_isActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_LPMP_Instance_List_Is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_the_Promotion_Relationship</name>
        <label>Iterate over the Promotion Relationship</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Promotion_Relationship_of_Qualifying_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_related_promotion_isActive1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LPMP_instanceList_is_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_LPMP_Records_For_Related_Promotions</name>
        <label>Create LPMP Records For Related Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Engagement_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Add_IHG_Log_Entry_Action</targetReference>
        </faultConnector>
        <inputReference>LPMP_instance_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_LPMP_Records</name>
        <label>Insert LPMP Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action_4</targetReference>
        </faultConnector>
        <inputReference>LPMP_instance_List</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Node to query the Promotion Relationships associated to the Promotion in the LPMP which are of Type = Include</description>
        <name>Get_Include_Type_Promotion_Relationships</name>
        <label>Get Include Type Promotion Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Promotion_Relationships_Are_Available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Include Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get promotion record</description>
        <name>Get_Promotion</name>
        <label>Get Promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Promotion_Registered_Member_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>IHG_Log_Entry_Action_6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_record</name>
        <label>Get Promotion record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrement_Promotion_Registered_Member_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action_5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_record_2</name>
        <label>Get Promotion record 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Promotion_Registered_Member_Count_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_IHG_Log_Entry_Action_5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Relationship_of_Qualifying_Type</name>
        <label>Get Promotion Relationship of Secondary Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promotion_Relationships_of_Qualifying_Type_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrement_Promotion_Registered_Member_Count</name>
        <label>Decrement Promotion Registered Member Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RegisteredMemberCount__c</field>
            <value>
                <elementReference>SubstractRegisterMemberCount</elementReference>
            </value>
        </inputAssignments>
        <object>Promotion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Promotion_Registered_Member_Count</name>
        <label>Increment Promotion Registered Member Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RegisteredMemberCount__c</field>
            <value>
                <elementReference>AddRegisterMemberCountOnCreate</elementReference>
            </value>
        </inputAssignments>
        <object>Promotion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Promotion_Registered_Member_Count_2</name>
        <label>Increment Promotion Registered Member Count 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Promotion_record_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RegisteredMemberCount__c</field>
            <value>
                <elementReference>AddRegisterMemberCountOnUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Promotion</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_or_Update</targetReference>
        </connector>
        <object>LoyaltyProgramMbrPromotion</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExcludeRelatedPromotionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPMP_instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMbrPromotion</objectType>
    </variables>
    <variables>
        <name>LPMP_instance_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMbrPromotion</objectType>
    </variables>
    <variables>
        <name>PromoRelList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PromotionRelationship__c</objectType>
    </variables>
    <variables>
        <name>PromoRelRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PromotionRelationship__c</objectType>
    </variables>
</Flow>
