force-app/main/default/flows/Loyalty_Member_Currency_Cleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Which_Is_Earning_Preference</name>
        <label>Which Is Earning Preference?</label>
        <locationX>484</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Loyalty_Program_Currencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Miles_Preference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EarningPreferenceUnits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Miles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Loyalty_Program_Currencies</targetReference>
            </connector>
            <label>Miles Preference</label>
        </rules>
        <rules>
            <name>Points_Preference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EarningPreferenceUnits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Points</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loyalty_Member_Currencies</targetReference>
            </connector>
            <label>Points Preference</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty Member Currency Cleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Member Currency Cleanup</label>
    <loops>
        <name>Loop_Loyalty_Program_Currencies</name>
        <label>Loop Loyalty Program Currencies</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Loyalty_Program_Currencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Is_Earning_Preference</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Loyalty_Member_Currencies</name>
        <label>Delete Loyalty Member Currencies</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_Loyalty_Program_Currencies</targetReference>
        </connector>
        <inputReference>Get_Loyalty_Member_Currencies</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Loyalty_Member_Currencies</name>
        <label>Get Loyalty Member Currencies</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Loyalty_Member_Currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramCurrencyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Loyalty_Program_Currencies.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyMemberCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loyalty_Program_Currencies</name>
        <label>Get Loyalty Program Currencies</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Loyalty_Program_Currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Miles</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgramCurrency</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loyalty_Program_Currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <object>LoyaltyProgramMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
