force-app/main/default/flows/Loyalty_Partner_Process_Configuration_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Overlapping_record_found_error_message_File_record_types</name>
        <label>Overlapping record found error message File record types</label>
        <locationX>775</locationX>
        <locationY>1009</locationY>
        <customErrorMessages>
            <errorMessage>Only one active process configuration can exist for the same Processing Method, Process Category and File Direction within overlapping effective dates</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Overlapping_record_found_error_message_Other_record_types</name>
        <label>Overlapping record found error message Other record types</label>
        <locationX>529</locationX>
        <locationY>1003</locationY>
        <customErrorMessages>
            <errorMessage>Only one active process configuration can exist for the same Processing Method and Process Category within overlapping effective dates.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Processing_Method_should_match_Record_Type</name>
        <label>Processing Method should match Record Type</label>
        <locationX>459</locationX>
        <locationY>528</locationY>
        <customErrorMessages>
            <errorMessage>Processing Method should match Record Type.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Configuration_is_Active</name>
        <label>Check if Configuration is Active</label>
        <locationX>641</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Configuration_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Configuration_Records</targetReference>
            </connector>
            <label>Configuration is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_RecordType_and_Processing_Method_mismatch</name>
        <label>Check if RecordType and Processing Method mismatch</label>
        <locationX>448</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Check_if_Configuration_is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_and_Processing_Method_mismatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ProcessingMethod__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Processing_Method_should_match_Record_Type</targetReference>
            </connector>
            <label>RecordType and Processing Method mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Overlapping_Active_Partner_Process_Configurations_found</name>
        <label>Overlapping Active Partner Process Configurations found</label>
        <locationX>638</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>Iterate_existing_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overlapping_Active_Partner_Process_Configuration_found_Others</name>
            <conditionLogic>((1 AND NOT(2)) OR 2) AND ((3 AND NOT(4)) OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ExistingHasEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_existing_records.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentHasEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_existing_records.EffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>File</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overlapping_record_found_error_message_Other_record_types</targetReference>
            </connector>
            <label>Overlapping Active Partner Process Configuration found Ohers</label>
        </rules>
        <rules>
            <name>Overlapping_Active_Partner_Process_Configuration_found_File</name>
            <conditionLogic>((1 AND NOT(2)) OR 2) AND ((3 AND NOT(4)) OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>ExistingHasEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_existing_records.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentHasEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_existing_records.EffectiveDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FileDirection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_existing_records.FileDirection__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overlapping_record_found_error_message_File_record_types</targetReference>
            </connector>
            <label>Overlapping Active Partner Process Configuration found File</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentHasEndDate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.EndDate__c}))</expression>
    </formulas>
    <formulas>
        <name>ExistingHasEndDate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Iterate_existing_records.EndDate__c}))</expression>
    </formulas>
    <interviewLabel>Loyalty Partner Process Configuration - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Partner Process Configuration - Before Save</label>
    <loops>
        <name>Iterate_existing_records</name>
        <label>Iterate existing records</label>
        <locationX>646</locationX>
        <locationY>690</locationY>
        <collectionReference>Get_Existing_Configuration_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Overlapping_Active_Partner_Process_Configurations_found</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Configuration_Records</name>
        <label>Get Existing Configuration Records</label>
        <locationX>649</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_existing_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessingMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProcessingMethod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProcessCategory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramPartnerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramPartnerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyPartnerProcessConfiguration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EffectiveDate__c</queriedFields>
        <queriedFields>EndDate__c</queriedFields>
        <queriedFields>FileDirection__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_RecordType_and_Processing_Method_mismatch</targetReference>
        </connector>
        <object>LoyaltyPartnerProcessConfiguration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
