force-app/main/default/flows/Loyalty_Member_Partnership_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Existing_Earning_Preference_false</name>
        <label>Set Existing Earning Preference false</label>
        <locationX>460</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Existing_Earning_Preference.IsPreferredEarningPreference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_Earning_Preference</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Loyalty Member Partnership - After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Member Partnership - After</label>
    <loops>
        <name>Iterate_Existing_Earning_Preference</name>
        <label>Iterate Existing Earning Preference</label>
        <locationX>459</locationX>
        <locationY>523</locationY>
        <collectionReference>Get_Existing_Earning_Preference</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Existing_Earning_Preference_false</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Earning_Preference</name>
        <label>Get Existing Earning Preference</label>
        <locationX>459</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Existing_Earning_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPreferredEarningPreference__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramMember__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyMemberPartnership__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPreferredEarningPreference__c</queriedFields>
        <queriedFields>LoyaltyProgramPartner__c</queriedFields>
        <queriedFields>LoyaltyProgramMember__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_Earning_Preference</name>
        <label>Update existing Earning Preference</label>
        <locationX>460</locationX>
        <locationY>822</locationY>
        <inputReference>Iterate_Existing_Earning_Preference</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_Earning_Preference</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPreferredEarningPreference__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LoyaltyMemberPartnership__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EarningPrefecrenceUpdateMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
