force-app/main/default/flows/LoyaltyMemberPartnership_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Duplicate_found_message</name>
        <label>Duplicate found message</label>
        <locationX>459</locationX>
        <locationY>652</locationY>
        <customErrorMessages>
            <errorMessage>A Loyalty Member Partnership already exists for this member and partner. Please update the existing record {!Get_Previous_records.Name}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Partner_Membership_ID_associated_with_selected_Loyalty_Program_Partner</name>
        <label>Partner Membership ID associated with selected Loyalty Program Partner</label>
        <locationX>778</locationX>
        <locationY>557</locationY>
        <customErrorMessages>
            <errorMessage>The Partner Membership ID entered is already associated with the selected Loyalty Program Partner. Please use a unique ID.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_a_record_already_exists</name>
        <label>Check if a record already exists</label>
        <locationX>448</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Member_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_records.LoyaltyProgramMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LoyaltyProgramMember__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_found_message</targetReference>
            </connector>
            <label>Duplicate Member found</label>
        </rules>
        <rules>
            <name>Duplicate_Partner_Membership_Id_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Previous_records.PartnerMembershipId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PartnerMembershipId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PartnerMembershipId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Membership_ID_associated_with_selected_Loyalty_Program_Partner</targetReference>
            </connector>
            <label>Duplicate Partner Membership Id found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LoyaltyMemberPartnership Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoyaltyMemberPartnership Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_records</name>
        <label>Get Previous records</label>
        <locationX>456</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_a_record_already_exists</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>LoyaltyProgramMember__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMember__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramPartner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramPartner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PartnerMembershipId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PartnerMembershipId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyMemberPartnership__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LoyaltyProgramMember__c</queriedFields>
        <queriedFields>PartnerMembershipId__c</queriedFields>
        <queriedFields>LoyaltyProgramPartner__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Previous_records</targetReference>
        </connector>
        <object>LoyaltyMemberPartnership__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
