force-app/main/default/flows/Member_Found.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Member_Count</name>
        <label>Set Member Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MemberCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Member_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Member_Found_False</name>
        <label>Set Member Found - False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MemberFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.LOY_Member_Not_Found</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Member_Found_True</name>
        <label>Set Member Found - True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MemberFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Member_Count</name>
        <label>Member Count?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Member_Found_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Member_Found_True</targetReference>
            </connector>
            <label>Is 1</label>
        </rules>
    </decisions>
    <description>Returns true if Member is found for a given Member Number, otherwise false and error.</description>
    <interviewLabel>Member Found? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Found?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Search for member by member number.</description>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Member_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MembershipNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.LOY_Success_200</elementReference>
        </value>
    </variables>
    <variables>
        <name>MemberCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MemberFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
