force-app/main/default/flows/One_Reward_Enrollment_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_After_One_Reward_Enrollment_Process_Success</name>
        <label>Log After One Reward Enrollment Process Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>One_Reward_Enrollment_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>One Reward Enrollment Process created successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_while_creating_Benefits</name>
        <label>Log Error on One Reward Enrollment Process Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>One_Reward_Enrollment_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_One_Reward_Enrollment_Process</name>
        <label>Log One Reward Enrollment Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>One_Reward_Enrollment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>One_Reward_Enrollment_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Received a call from Enrollment Process when Enrollment for One Reward Tj&apos;s are created successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>One_Reward_Enrollment</name>
        <label>One Reward Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OneRewardEnrollmentRuleAssignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_After_One_Reward_Enrollment_Process_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_while_creating_Benefits</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>enrollmentEventId</name>
            <value>
                <elementReference>EnrollmentEventId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberId</name>
            <value>
                <elementReference>MemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>membershipNumber</name>
            <value>
                <elementReference>MembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registerationDate</name>
            <value>
                <elementReference>RegistrationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionJournalId</name>
            <value>
                <elementReference>TransactionJournalId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OneRewardEnrollmentRuleAssignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>RegistrationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!TJActivityDate})</expression>
    </formulas>
    <interviewLabel>One Reward Enrollment Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One Reward Enrollment Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>LoyaltyManagementFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_One_Reward_Enrollment_Process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrollmentEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembershipNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TJActivityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionJournalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
