force-app/main/default/flows/Reservation_Event_handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>1282</locationX>
        <locationY>818</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>var_FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>FlowResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Output_Insert_Failed</name>
        <label>Set Output - Insert Failed</label>
        <locationX>1282</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create New Reservation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Exception_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Insert_Success</name>
        <label>Set Output - Insert Success</label>
        <locationX>1018</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Inserted Successfully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Audit_StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Inserted Successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Invalid_Sequence_Value</name>
        <label>Set Output - Invalid Sequence Value</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commited Sequence Number is Null or Blank or Non-Digit Value.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Audit_StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commited Sequence Number is Null or Blank or Non-Digit Value.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_No_Reservation_Key_ID</name>
        <label>Set Output - No Reservation Key ID</label>
        <locationX>1546</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Key ID is Null or Blank</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Audit_StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Key ID is Null or Blank</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Reservation_Discarded</name>
        <label>Set Output - Reservation Discarded</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Discarded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Audit_StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Discarded</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Update_Failed</name>
        <label>Set Output - Update Failed</label>
        <locationX>754</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Not Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Exception_Event_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Update_Success</name>
        <label>Set Output - Update Success</label>
        <locationX>336</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>FlowResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Updated Successfully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Audit_StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reservation Updated Successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Reservation_Key_ID</name>
        <label>Check Reservation Key ID</label>
        <locationX>1111</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Set_Output_No_Reservation_Key_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reservation Key ID Not Found</defaultConnectorLabel>
        <rules>
            <name>Reservation_Key_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReservationKeyId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reservation</targetReference>
            </connector>
            <label>Reservation Key ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Sequence</name>
        <label>Event Sequence</label>
        <locationX>94</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Set_Output_Invalid_Sequence_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Seq_LT_Event_Seq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordSeq_LessThan_EventSeq</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reservation</targetReference>
            </connector>
            <label>Record Seq &lt; Event Seq</label>
        </rules>
        <rules>
            <name>Record_Seq_GTE_Event_Seq</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordSeq_GreaterThanEquals_EventSeq</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Reservation_Discarded</targetReference>
            </connector>
            <label>Record Seq &gt;= Event Seq</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Status</name>
        <label>Event Status</label>
        <locationX>336</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancelled</defaultConnectorLabel>
        <rules>
            <name>Not_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.reservationStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Sequence</targetReference>
            </connector>
            <label>Not Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>677</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reservation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is created for US255280 story.
SFLC | Create Reservation Update Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordSeq_GreaterThanEquals_EventSeq</name>
        <dataType>Boolean</dataType>
        <expression>VALUE({!Get_Reservation.committedSequenceNumber__c}) &gt;= VALUE({!$Record.committedSequenceNumber__c})</expression>
    </formulas>
    <formulas>
        <name>RecordSeq_LessThan_EventSeq</name>
        <dataType>Boolean</dataType>
        <expression>VALUE({!Get_Reservation.committedSequenceNumber__c}) &lt; VALUE({!$Record.committedSequenceNumber__c})</expression>
    </formulas>
    <interviewLabel>Reservation Event handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reservation Event handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>1018</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Set_Output_Insert_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Output_Insert_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EmailAddress__c</field>
            <value>
                <elementReference>$Record.EmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReservationKeyId__c</field>
            <value>
                <elementReference>$Record.ReservationKeyId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservation_SubType__c</field>
            <value>
                <elementReference>$Record.Reservation_SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>addressCountry__c</field>
            <value>
                <elementReference>$Record.addressCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agencyId__c</field>
            <value>
                <elementReference>$Record.agencyId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agencyType__c</field>
            <value>
                <elementReference>$Record.agencyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brandCode__c</field>
            <value>
                <elementReference>$Record.brandCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancelPolicyDateTime__c</field>
            <value>
                <elementReference>$Record.cancelPolicyDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDateTime__c</field>
            <value>
                <elementReference>$Record.cancellationDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDeadlineType__c</field>
            <value>
                <elementReference>$Record.cancellationDeadlineType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDeadlineValue__c</field>
            <value>
                <elementReference>$Record.cancellationDeadlineValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationNumber__c</field>
            <value>
                <elementReference>$Record.cancellationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>chainCode__c</field>
            <value>
                <elementReference>$Record.chainCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>channelId__c</field>
            <value>
                <elementReference>$Record.channelId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>checkInDate__c</field>
            <value>
                <elementReference>$Record.checkInDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>checkOutDate__c</field>
            <value>
                <elementReference>$Record.checkOutDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>committedSequenceNumber__c</field>
            <value>
                <elementReference>$Record.committedSequenceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>confirmationNumber__c</field>
            <value>
                <elementReference>$Record.confirmationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>createDateTime__c</field>
            <value>
                <elementReference>$Record.reservationCreateDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditCardType__c</field>
            <value>
                <elementReference>$Record.creditCardType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>definitionRatePlanCode__c</field>
            <value>
                <elementReference>$Record.definitionRatePlanCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>frst_nm__c</field>
            <value>
                <elementReference>$Record.frst_nm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelMnemonic__c</field>
            <value>
                <elementReference>$Record.hotelMnemonic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelName__c</field>
            <value>
                <elementReference>$Record.hotelName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelRegionCode__c</field>
            <value>
                <elementReference>$Record.hotelRegionCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isFreeNight__c</field>
            <value>
                <elementReference>$Record.isFreeNight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isPaidByPoints__c</field>
            <value>
                <elementReference>$Record.isPaidByPoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isRewardNight__c</field>
            <value>
                <elementReference>$Record.isRewardNight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>language__c</field>
            <value>
                <elementReference>$Record.language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lastUpdateddateTime__c</field>
            <value>
                <elementReference>$Record.lastUpdatedDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lst_nm__c</field>
            <value>
                <elementReference>$Record.lst_nm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_nights__c</field>
            <value>
                <elementReference>$Record.number_nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_of_rooms__c</field>
            <value>
                <elementReference>$Record.number_of_rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>propertyCurrency__c</field>
            <value>
                <elementReference>$Record.propertyCurrency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ratePlanCode__c</field>
            <value>
                <elementReference>$Record.ratePlanCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationCurrencyCode__c</field>
            <value>
                <elementReference>$Record.reservationCurrencyCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationFinalPriceAmt__c</field>
            <value>
                <elementReference>$Record.reservationFinalPriceAmt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationPurchaseMethod__c</field>
            <value>
                <elementReference>$Record.reservationPurchaseMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationStatus__c</field>
            <value>
                <elementReference>$Record.reservationStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rewardsNumber__c</field>
            <value>
                <elementReference>$Record.rewardsNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>room_type__c</field>
            <value>
                <elementReference>$Record.room_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>segmentId__c</field>
            <value>
                <elementReference>$Record.segmentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>synchroNumber__c</field>
            <value>
                <elementReference>$Record.synchroNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reservations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Exception_Event</name>
        <label>Publish Exception Event</label>
        <locationX>1282</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Error_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Debug_Notes__c</field>
            <value>
                <stringValue>Reservation creation failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>var_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Create Reservation</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Exception_Event_2</name>
        <label>Publish Exception Event</label>
        <locationX>754</locationX>
        <locationY>1310</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Debug_Notes__c</field>
            <value>
                <stringValue>Reservation update failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>var_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Update Reservation</stringValue>
            </value>
        </inputAssignments>
        <object>Exception_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Reservation</name>
        <label>Get Reservation</label>
        <locationX>677</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReservationKeyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReservationKeyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reservation</name>
        <label>Update Reservation</label>
        <locationX>336</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Set_Output_Update_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Output_Update_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reservation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EmailAddress__c</field>
            <value>
                <elementReference>$Record.EmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReservationKeyId__c</field>
            <value>
                <elementReference>$Record.ReservationKeyId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reservation_SubType__c</field>
            <value>
                <elementReference>$Record.Reservation_SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>addressCountry__c</field>
            <value>
                <elementReference>$Record.addressCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agencyId__c</field>
            <value>
                <elementReference>$Record.agencyId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>agencyType__c</field>
            <value>
                <elementReference>$Record.agencyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>brandCode__c</field>
            <value>
                <elementReference>$Record.brandCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancelPolicyDateTime__c</field>
            <value>
                <elementReference>$Record.cancelPolicyDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDateTime__c</field>
            <value>
                <elementReference>$Record.cancellationDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDeadlineType__c</field>
            <value>
                <elementReference>$Record.cancellationDeadlineType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationDeadlineValue__c</field>
            <value>
                <elementReference>$Record.cancellationDeadlineValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cancellationNumber__c</field>
            <value>
                <elementReference>$Record.cancellationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>chainCode__c</field>
            <value>
                <elementReference>$Record.chainCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>channelId__c</field>
            <value>
                <elementReference>$Record.channelId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>checkInDate__c</field>
            <value>
                <elementReference>$Record.checkInDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>checkOutDate__c</field>
            <value>
                <elementReference>$Record.checkOutDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>committedSequenceNumber__c</field>
            <value>
                <elementReference>$Record.committedSequenceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>confirmationNumber__c</field>
            <value>
                <elementReference>$Record.confirmationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>createDateTime__c</field>
            <value>
                <elementReference>$Record.reservationCreateDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditCardType__c</field>
            <value>
                <elementReference>$Record.creditCardType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>definitionRatePlanCode__c</field>
            <value>
                <elementReference>$Record.definitionRatePlanCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>frst_nm__c</field>
            <value>
                <elementReference>$Record.frst_nm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelMnemonic__c</field>
            <value>
                <elementReference>$Record.hotelMnemonic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelName__c</field>
            <value>
                <elementReference>$Record.hotelName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hotelRegionCode__c</field>
            <value>
                <elementReference>$Record.hotelRegionCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isFreeNight__c</field>
            <value>
                <elementReference>$Record.isFreeNight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isPaidByPoints__c</field>
            <value>
                <elementReference>$Record.isPaidByPoints__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isRewardNight__c</field>
            <value>
                <elementReference>$Record.isRewardNight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>language__c</field>
            <value>
                <elementReference>$Record.language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lastUpdateddateTime__c</field>
            <value>
                <elementReference>$Record.lastUpdatedDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lst_nm__c</field>
            <value>
                <elementReference>$Record.lst_nm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_nights__c</field>
            <value>
                <elementReference>$Record.number_nights__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number_of_rooms__c</field>
            <value>
                <elementReference>$Record.number_of_rooms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>propertyCurrency__c</field>
            <value>
                <elementReference>$Record.propertyCurrency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ratePlanCode__c</field>
            <value>
                <elementReference>$Record.ratePlanCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationCurrencyCode__c</field>
            <value>
                <elementReference>$Record.reservationCurrencyCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationFinalPriceAmt__c</field>
            <value>
                <elementReference>$Record.reservationFinalPriceAmt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationPurchaseMethod__c</field>
            <value>
                <elementReference>$Record.reservationPurchaseMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reservationStatus__c</field>
            <value>
                <elementReference>$Record.reservationStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rewardsNumber__c</field>
            <value>
                <elementReference>$Record.rewardsNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>room_type__c</field>
            <value>
                <elementReference>$Record.room_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>segmentId__c</field>
            <value>
                <elementReference>$Record.segmentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>synchroNumber__c</field>
            <value>
                <elementReference>$Record.synchroNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>Reservations__c</object>
    </recordUpdates>
    <start>
        <locationX>985</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Reservation_Key_ID</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Reservation_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Audit_StatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Reservation_Event_handler</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Reservation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservations__c</objectType>
    </variables>
</Flow>
