force-app/main/default/flows/RTF_LoyaltyProgramMemberPromotion_BeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Engagement_Status</name>
        <label>Add Engagement Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.EngagementStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_promotion_is_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Registration Date as Current Date</description>
        <name>Add_Registration_Date</name>
        <label>Add Registration Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RegistrationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Engagement_Status_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Promotion_Name</name>
        <label>Assign Promotion Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExcludePromotionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_Already_Enrolled_for_any_Exclude_promotion.Promotion.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_secondary_promotion_name</name>
        <label>Assign the secondary promotion name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SecondaryPromotionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Secondary_Promotion_Relationships.ParentPromotion__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_secondary_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Related_Promotion_Ids</name>
        <label>Collect Related Promotion Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExcludeRelatedPromotionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Exclude_Promotions.RelatedPromotion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Exclude_Promotions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_field_values</name>
        <label>Set field values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Day_To_Play__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastDaytoPlay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Exclude_Type_Promotion_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Promotion_Parent_Name</name>
        <label>Set Related Promotion Parent Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedPromoParentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_And_Secondary_Promo_Relationships.RelatedPromotion__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error_For_Related_Promotion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Secondary_Promo_Name</name>
        <label>Set Secondary Promo Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedPromoParentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_And_Secondary_Promo_Relationships.ParentPromotion__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Secondary_Promo_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign last day to play as Min(Max days to play + current date, Promotion end date)</description>
        <name>Var1_Assign_last_day_to_play</name>
        <label>Var1 Assign last day to play</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lastDaytoPlay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastDayToPlay_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_field_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign last day to play as promotion end date</description>
        <name>Var2_Assign_last_day_to_play</name>
        <label>Var2 Assign last day to play</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lastDaytoPlay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Promotion.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_field_values</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Registration is not available for this promotion due to the member already being registered for a conflicting promotion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Display_Error_For_Related_Promotion</name>
        <label>Display Error For Related Promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Registration for this promotion is only available through the {!RelatedPromoParentName} promotion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>display_secondary_error</name>
        <label>display secondary error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Registration for this promotion is only available through fulfilling the requirements of the {!SecondaryPromotionName} promotion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Display_Secondary_Promo_error</name>
        <label>Display Secondary Promo error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Registration for this promotion is only available through fulfilling the requirements of the {!RelatedPromoParentName} promotion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Inactive_Error_Message</name>
        <label>Inactive Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Registration is closed for this promotion. This promotion has expired.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>By_Pass_Validation</name>
        <label>By Pass Validation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Related_And_Secondary_Promo_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsAutoEnrolled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_or_Inactive</name>
        <label>Check Active or Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DML_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Active?</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Promotions.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPermissionSetAssignment</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactive_Error_Message</targetReference>
            </connector>
            <label>Is Inactive?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Engagement_Status_is_empty</name>
        <label>Check if Engagement Status is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_promotion_is_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engagement_Status_Is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Engagement_Status</targetReference>
            </connector>
            <label>Engagement Status Is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Exclude_Related_Promotion_Id_is_Not_Null</name>
        <label>Check If Exclude Related Promotion Id is Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>By_Pass_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExcludeRelatedPromotionIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Already_Enrolled_for_any_Exclude_promotion</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_promotion_is_available</name>
        <label>Check if promotion is available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Exclude_Type_Promotion_Relationships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Promotion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Max_days_to_play</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Registration_Date_is_empty</name>
        <label>Check if Registration Date is empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Engagement_Status_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RegistrationDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Registration_Date</targetReference>
            </connector>
            <label>Is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Related_Promotion_Exists</name>
        <label>Check if Related Promotion Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RELATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_And_Secondary_Promo_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_And_Secondary_Promo_Relationships.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Required Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Related_Promotion_Parent_Name</targetReference>
            </connector>
            <label>RELATED</label>
        </rules>
        <rules>
            <name>SECONDARY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_And_Secondary_Promo_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_And_Secondary_Promo_Relationships.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Secondary_Promo_Name</targetReference>
            </connector>
            <label>SECONDARY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Status_is_changed_to_Fulfilled</name>
        <label>Check if Status is changed to Fulfilled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EngagementStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Promotion_Relationships</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Max_days_to_play</name>
        <label>Check Max days to play</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Var2_Assign_last_day_to_play</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Promotion.MaxDaystoPlay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var1_Assign_last_day_to_play</targetReference>
            </connector>
            <label>Is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Display_Secondary_Promotion_Error</name>
        <label>Display Secondary Promotion Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Promotion_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_secondary_promotion_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DML_Type</name>
        <label>DML Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Status_is_changed_to_Fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPDATE</defaultConnectorLabel>
        <rules>
            <name>CREATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Promotion</targetReference>
            </connector>
            <label>CREATE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclude_Promotion_Is_Null</name>
        <label>Exclude Promotion Is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>By_Pass_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exclude_Type_Promotion_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Exclude_Promotions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrolled_in_any_Exclude_Promotions</name>
        <label>Is Enrolled in any Exclude Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>By_Pass_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Already_Enrolled_for_any_Exclude_promotion</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Promotion_Name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Executes before a Loyalty program member promotion record is saved.</description>
    <environments>Default</environments>
    <formulas>
        <name>findRegistrationDate_Formula</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.RegistrationDate__c}), TODAY(), {!$Record.RegistrationDate__c})</expression>
    </formulas>
    <formulas>
        <name>lastDayToPlay_Formula</name>
        <dataType>Date</dataType>
        <expression>IF(({!findRegistrationDate_Formula}+{!Get_Promotion.MaxDaystoPlay__c}) &lt; {!Get_Promotion.EndDate}, {!findRegistrationDate_Formula}+{!Get_Promotion.MaxDaystoPlay__c}, {!Get_Promotion.EndDate})</expression>
    </formulas>
    <interviewLabel>RTF_LoyaltyProgramMemberPromotion_BeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_LoyaltyProgramMemberPromotion_BeforeSave</label>
    <loops>
        <name>Iterate_Over_Exclude_Promotions</name>
        <label>Iterate Over Exclude Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Exclude_Type_Promotion_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Related_Promotion_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Exclude_Related_Promotion_Id_is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_if_Already_Enrolled_for_any_Exclude_promotion</name>
        <label>Check if Already Enrolled for any Exclude promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Enrolled_in_any_Exclude_Promotions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PromotionId</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludeRelatedPromotionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMbrPromotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exclude_Type_Promotion_Relationships</name>
        <label>Get Exclude Type Promotion Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exclude_Promotion_Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclude Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion</name>
        <label>Get Promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Registration_Date_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_And_Secondary_Promo_Relationships</name>
        <label>Get Related And Secondary Promo Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Related_Promotion_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) AND 5</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Promotion_Relationships</name>
        <label>Get Secondary Promotion Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Secondary_Promotion_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Secondary Promotion</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLoyaltyCompliancePG</name>
        <label>GetLoyaltyCompliancePG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLoyaltyFinancialOpsPG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loyalty_Compliance_Persona</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLoyaltyFinancialOpsPG</name>
        <label>GetLoyaltyFinancialOpsPG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPermissionSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loyalty_Financial_Ops_Persona</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLoyaltyOperationsPG</name>
        <label>GetLoyaltyOperationsPG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLoyaltyCompliancePG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loyalty_Operations_Persona</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPermissionSetAssignment</name>
        <label>GetPermissionSetAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_or_Inactive</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoyaltyOperationsPG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoyaltyFinancialOpsPG.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoyaltyCompliancePG.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Promotions</name>
        <label>Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLoyaltyOperationsPG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Promotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Promotions</targetReference>
        </connector>
        <object>LoyaltyProgramMbrPromotion</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExcludePromotionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludeRelatedPromotionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastDaytoPlay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedPromoParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondaryPromotionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
