force-app/main/default/flows/RTF_LoyaltyProgramMemberPromotion_Validation_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_1</name>
        <label>Add IHG Log Entry Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_Validation_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in getting Exclude Type Promotion Relationships</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_IHG_Log_Entry_Action_2</name>
        <label>Add IHG Log Entry Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>RTF_LoyaltyProgramMemberPromotion_Validation_AS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in getting already enrolled Exclude promotions</stringValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Promotion_Name</name>
        <label>Assign Promotion Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExcludePromotionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_Already_Enrolled_for_any_Exclude_promotion.Promotion.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Related_Promotion_Ids</name>
        <label>Collect Related Promotion Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExcludeRelatedPromotionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Exclude_Promotions.RelatedPromotion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Exclude_Promotions</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The Program Member is already registered in an Exclusion Promotion labelled {!ExcludePromotionName} and hence cannot be enrolled for this Promotion.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_If_Exclude_Related_Promotion_Id_is_Not_Null</name>
        <label>Check If Exclude Related Promotion Id is Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExcludeRelatedPromotionIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Already_Enrolled_for_any_Exclude_promotion</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclude_Promotion_Is_Null</name>
        <label>Exclude Promotion Is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exclude_Type_Promotion_Relationships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Exclude_Promotions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Or_Update</name>
        <label>Insert Or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Exclude_Type_Promotion_Relationships</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Enrolled_in_any_Exclude_Promotions</name>
        <label>Is Enrolled in any Exclude Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_Already_Enrolled_for_any_Exclude_promotion</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Promotion_Name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_LoyaltyProgramMemberPromotion_Validation_AS</label>
    <loops>
        <name>Iterate_Over_Exclude_Promotions</name>
        <label>Iterate Over Exclude Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Exclude_Type_Promotion_Relationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Related_Promotion_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Exclude_Related_Promotion_Id_is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_if_Already_Enrolled_for_any_Exclude_promotion</name>
        <label>Check if Already Enrolled for any Exclude promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Enrolled_in_any_Exclude_Promotions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PromotionId</field>
            <operator>In</operator>
            <value>
                <elementReference>ExcludeRelatedPromotionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsEnrollmentActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoyaltyProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LoyaltyProgramMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMbrPromotion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Node to query the Promotion Relationships associated to the Promotion in the LPMP which are of Type = Exclude</description>
        <name>Get_Exclude_Type_Promotion_Relationships</name>
        <label>Get Exclude Type Promotion Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exclude_Promotion_Is_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_IHG_Log_Entry_Action_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentPromotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PromotionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclude Promotion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PromotionRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Or_Update</targetReference>
        </connector>
        <object>LoyaltyProgramMbrPromotion</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ExcludePromotionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExcludeRelatedPromotionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LPMP_Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMbrPromotion</objectType>
    </variables>
    <variables>
        <name>LPMP_InstanceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMbrPromotion</objectType>
    </variables>
</Flow>
