force-app/main/default/flows/Run_Program_Process_for_Transaction_Journal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_after_LoyaltyProcess_and_Apex_Benefits_executed</name>
        <label>Log after LoyaltyProcess and Apex Benefits executed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_TransactionJournal_of_Ambassador</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Run_Program_Process_for_Transaction_Journal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Finest</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Log after LoyaltyProcess and Apex Benefits executed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Log_Error_when_Creating_Transaction_Journal_for_Ambassador_Enrollment</name>
        <label>Log Error when Creating Transaction Journal for Ambassador Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowLogEntryV2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Run_Program_Process_for_Transaction_Journal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowLogEntryV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_TJ</name>
        <label>Process TJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>runProgramProcessForTransactionJournal</actionName>
        <actionType>runProgramProcessForTransactionJournal</actionType>
        <connector>
            <targetReference>Log_after_LoyaltyProcess_and_Apex_Benefits_executed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_when_Creating_Transaction_Journal_for_Ambassador_Enrollment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>transactionJournalId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>runProgramProcessForTransactionJournal</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_LoyaltyMemberTier_Exception_Log</name>
        <label>Update LoyaltyMemberTier Exception Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_LoyaltyMemberTier_Success_Log</name>
        <label>Update LoyaltyMemberTier Success Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>LoyaltyMemberTier</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>Debug</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>LogLoyaltyMemberTierUpdateMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_TransactionJournal_of_Ambassador</name>
        <label>Is TransactionJournal of Ambassador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JournalSubType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ancillary Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JournalType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LoyaltyTier_Ambassador</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DE112767 - Add Error Flow Path
US442366 || AMB| Renew membership
US434958 - RAM | Rename benefit assignment flow and merge club journal subtypes
US460572 - Clubs| Transactional Journal Processing</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowName</name>
        <dataType>String</dataType>
        <expression>&apos;LOY CTB Run Program Process for Transaction Journal&apos;</expression>
    </formulas>
    <interviewLabel>Run Program Process for Transaction Journal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOY Run Program Process for Transaction Journal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LoyaltyTier_Ambassador</name>
        <label>Get LoyaltyTier Ambassador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_LoyaltyMemberTier_Renew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.LOY_Ambassador_Text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyTier</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LoyaltyMemberTier_Renew</name>
        <label>Update LoyaltyMemberTier Renew</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_LoyaltyMemberTier_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_LoyaltyMemberTier_Exception_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoyaltyMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MemberId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoyaltyTierId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LoyaltyTier_Ambassador.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DateRenewed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>LoyaltyMemberTier</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_TJ</targetReference>
        </connector>
        <filterFormula>AND(
    OR( 
        {!$Record.JournalSubType.Name} == &apos;Ancillary Program&apos;
    ),
    OR(
        {!$Record.JournalType.Name} == &apos;Enrollment&apos;,
        {!$Record.JournalType.Name} == &apos;Renewal&apos;
    )
)</filterFormula>
        <object>TransactionJournal</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LogLoyaltyMemberTierUpdateMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Loyalty Member Tier record DateRenewed was successfully updated by {!$User.Id}. Record Id: {!$Record.Id}.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
