force-app/main/default/flows/Unassigned_Voucher_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_Flow_Exceptions</name>
        <label>Handle Flow Exceptions</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>IHGFlowRecordLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>UnassignedVouchers__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Unassigned_Voucher_After_Save_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>var_Exception_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentTransactionId</name>
            <value>
                <elementReference>LogTransactionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IHGFlowRecordLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>IHGFlowSaveLog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>IHGFlowSaveLog</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception</name>
        <label>Assign Custom Exception</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Voucher and Loyalty Program Member record found for the current unassigned Voucher.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exceptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value</name>
        <label>Assign Custom Exception Value</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Points Deposit Code field on Voucher object update failed. Please contact administrator for further issues. Error While updating the Unassigned Voucher record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exceptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Points_Deposit_and_Status_Logic</name>
        <label>Points Deposit and Status Logic</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Voucher_Definition_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VoucherDefinitionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VoucherDefinitionId__r.Voucher_Type2__r.Category_Indicator_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unassigned_Voucher_Points_Deposit_Field</targetReference>
            </connector>
            <label>Check for Voucher Definition Empty</label>
        </rules>
        <rules>
            <name>UV_Status_is_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Voucher_and_Members</targetReference>
            </connector>
            <label>UV Status is Applied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>depositCodeFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.VoucherDefinitionId__r.Voucher_Type2__r.Category_Indicator_Code__c}+&apos;-&apos;+{!$Record.Name}+&apos;-&apos;+{!$Record.DepositCode__c}</expression>
    </formulas>
    <interviewLabel>Unassigned Voucher - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unassigned Voucher - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Voucher_and_Members</name>
        <label>Get Related Voucher and Members</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Publish_Voucher_Deposit_Platform_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnassignedVoucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Voucher</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Unassigned_Voucher_Points_Deposit_Field</name>
        <label>Update Unassigned Voucher Points Deposit Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DepositCode__c</field>
            <value>
                <elementReference>depositCodeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Points_Deposit_and_Status_Logic</targetReference>
        </connector>
        <object>UnassignedVouchers__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Publish_Voucher_Deposit_Platform_Event</name>
        <label>Publish Voucher Deposit Platform Event</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <flowName>LOY_Subflow_Publish_Voucher_Deposit_Event</flowName>
        <inputAssignments>
            <name>var_UnassignedVoucherRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_VoucherRecord</name>
            <value>
                <elementReference>Get_Related_Voucher_and_Members</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>LogTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Exception_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
