force-app/main/default/flows/Update_Contact_Point_Email_on_Email_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Checks if the Contact is a member record</description>
        <name>Is_Member</name>
        <label>Is Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Member_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Point_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the Contact Point Email record when a Contact&apos;s email changes.</description>
    <environments>Default</environments>
    <interviewLabel>Update Contact Point Email on Email Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Point Email on Email Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Member</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Consent_Contact_Point_Emails</name>
        <label>Update Consent Contact Point Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Consent_Contact_Point_Emails</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPointEmailId</name>
            <value>
                <elementReference>Update_Contact_Point_Email.OutputContactPointEmailId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Updates the Contact Point Email record for the Contact</description>
        <name>Update_Contact_Point_Email</name>
        <label>Update Contact Point Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Consent_Contact_Point_Emails</targetReference>
        </connector>
        <flowName>Create_Update_Contact_Point_Email</flowName>
        <inputAssignments>
            <name>InputContact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
