force-app/main/default/flows/Voucher_Redemption_Eligibility_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Voucher_Brand_Eligibility_Check</name>
        <label>Voucher Brand Eligibility Check</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <actionName>VoucherRedemptionBrandContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Hotel_Paticipation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>voucherHotelCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionBrandContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>brandCodeEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>brandCodeEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Folio_Status_Eligibility_Check</name>
        <label>Voucher Folio Status Eligibility Check</label>
        <locationX>842</locationX>
        <locationY>2942</locationY>
        <actionName>VoucherRedemptionFolioStatusContainer</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>voucherHotelCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pmsConfirmationNumber</name>
            <value>
                <elementReference>voucherPmsConfirmationNum</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionFolioStatusContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>folioStatusEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>folioStatusEligibleMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityVoucherFolioWrapper</assignToReference>
            <name>folioVoucherWrapper</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Geographic_Eligibility_Check</name>
        <label>Voucher Geographic Eligibility Check</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>VoucherRedemptionGeographicContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Brand_Eligible</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>voucherHotelCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionGeographicContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>geographicLocationEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>geographicLocationEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Hotel_Participation_Eligibility_Check</name>
        <label>Voucher Hotel Participation Eligibility Check</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <actionName>VoucherRedemptionHotelPartyContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Member_Checked_in</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>hotelCode</name>
            <value>
                <elementReference>voucherHotelCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionHotelPartyContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>hotelParticipationEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>hotelParticipationEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Member_Checked_In_Eligibility_Check</name>
        <label>Voucher Member Checked In Eligibility Check</label>
        <locationX>842</locationX>
        <locationY>2402</locationY>
        <actionName>VoucherRedemptionMemberCheckInContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Folio_Status_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value6</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>memberNumber</name>
            <value>
                <elementReference>voucherMemberNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reservationId</name>
            <value>
                <elementReference>voucherPmsConfirmationNum</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionMemberCheckInContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>memberCheckInEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>memberCheckInEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Member_Status_Eligibility_Check</name>
        <label>Voucher Member Status Eligibility Check</label>
        <locationX>1139</locationX>
        <locationY>242</locationY>
        <actionName>VoucherRedemptionMemberStatusContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Another_Member_Status_Condition</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>membershipStatusCode</name>
            <value>
                <elementReference>voucherRecord.LoyaltyProgramMember.MembershipStatusCode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionMemberStatusContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>memberStatusEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>memberStatusEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Member_Tier_Eligibility_Check</name>
        <label>Voucher Member Tier Eligibility Check</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <actionName>VoucherRedemptionMemberTierContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Geographic_Eligibility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionMemberTierContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>memberTierEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>memberTierEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voucher_Redemption_Eligibility_Check</name>
        <label>Voucher Redemption Eligibility Check</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <actionName>VoucherRedemptionEligibilityContainer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Member_Tier_Eligible</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Custom_Exception_Value</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>membershipNumber</name>
            <value>
                <elementReference>voucherRecord.LoyaltyProgramMember.MembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voucherRecord</name>
            <value>
                <elementReference>voucherRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoucherRedemptionEligibilityContainer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>eligiblityFlag</assignToReference>
            <name>voucherEligible</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>eligibilityMessage</assignToReference>
            <name>voucherEligibleMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Custom_Exception_Value</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Voucher Redemption Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value1</name>
        <label>Assign Custom Exception Value</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Member Status Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Handle_Flow_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value2</name>
        <label>Assign Custom Exception Value</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Member Tier Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value3</name>
        <label>Assign Custom Exception Value</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Geographic Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value4</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Brand Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value5</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1106</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Hotel Participation Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value6</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1106</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Member Checked In Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Custom_Exception_Value7</name>
        <label>Assign Custom Exception Value</label>
        <locationX>1106</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>var_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exception in Folio Status Eligibility Container Invocable Apex</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Apex_Actions_based_on_Automation_API_Name</name>
        <label>Apex Actions based on Automation API Name</label>
        <locationX>1782</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Status_Eligibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherMemberStatusEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Member_Status_Eligibility_Check</targetReference>
            </connector>
            <label>Member Status Eligibility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Brand_Eligible</name>
        <label>Brand Eligible?</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Hotel_Paticipation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Brnad_Eligibility_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherBrandEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Brand_Eligibility_Check</targetReference>
            </connector>
            <label>Brnad Eligibility Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Another_Member_Status_Condition</name>
        <label>Check for Another Member Status Condition</label>
        <locationX>1139</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eligibilityFlag_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Redemption_Eligibility_Check</targetReference>
            </connector>
            <label>eligibilityFlag is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Folio_Status_Eligibility</name>
        <label>Folio Status Eligibility</label>
        <locationX>974</locationX>
        <locationY>2834</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Folio_Status_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherFolioStatusEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Folio_Status_Eligibility_Check</targetReference>
            </connector>
            <label>Folio Status Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Geographic_Eligibility</name>
        <label>Geographic Eligibility</label>
        <locationX>380</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Brand_Eligible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Geographic_Eligibility_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherGeographicEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Geographic_Eligibility_Check</targetReference>
            </connector>
            <label>Geographic Eligibility Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hotel_Paticipation</name>
        <label>Hotel Paticipation?</label>
        <locationX>974</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Member_Checked_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Hotel_Participation_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherHotelParticipatingEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Hotel_Participation_Eligibility_Check</targetReference>
            </connector>
            <label>Hotel Participation Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Checked_in</name>
        <label>Member Checked-in?</label>
        <locationX>974</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Folio_Status_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Member_Checked_in_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherMemberCheckInEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Member_Checked_In_Eligibility_Check</targetReference>
            </connector>
            <label>Member Checked-in check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Tier_Eligible</name>
        <label>Member Tier Eligible?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Geographic_Eligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_eligible_returnV1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not eligible - return</label>
        </rules>
        <rules>
            <name>Tier_Eligibility_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eligiblityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>automationApiName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VoucherMemberTierEligibilityFlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voucher_Member_Tier_Eligibility_Check</targetReference>
            </connector>
            <label>Tier Eligibility Check</label>
        </rules>
    </decisions>
    <description>Voucher Redemption Eligibility Flow which fetches the specific container values based on given criteria.</description>
    <environments>Default</environments>
    <interviewLabel>Voucher Redemption Eligibility Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voucher Redemption Eligibility Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1656</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex_Actions_based_on_Automation_API_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Flow_Exception</name>
        <label>Handle Flow Exception</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>var_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <elementReference>var_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>voucherRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>automationApiName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>automationApiNameList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eligibilityMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eligibilityVoucherFolioWrapper</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eligiblityFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Exception_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Voucher_Redemption_Eligibility_Flow</stringValue>
        </value>
    </variables>
    <variables>
        <name>voucherHotelCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voucherMemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voucherPmsConfirmationNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voucherRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
</Flow>
