force-app/main/default/flows/Voucher_is_brand_eligible.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Debug_Details</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get Respective Voucher process has failed.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Debug_Details_2</name>
        <label>Assign Debug Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varT_DebugNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>get voucher definition brands process has failed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_DebugObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voucher Definition Brand</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Nebula_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response</name>
        <label>Assign Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Not_valid</name>
        <label>Not valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isEligible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Did_we_find_a_voucher</name>
        <label>Did we find a voucher?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_voucher_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_respective_Voucher.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_voucher_definition_brands</targetReference>
            </connector>
            <label>Yes, voucher found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_the_brand_provider_in_the_list_of_voucher_definition_brand</name>
        <label>is the brand provider in the list of voucher definition brand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_over_to_store_voucher_definition_brand_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_to_store_voucher_definition_brand_ID.Brand__r.Brand_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BrandCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Response</targetReference>
            </connector>
            <label>Yes, it is</label>
        </rules>
    </decisions>
    <description>Takes a voucher id and a brand, and determines if the brand/voucher combination provider are eligible.</description>
    <environments>Default</environments>
    <interviewLabel>Voucher- is brand eligible {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voucher- is brand eligible</label>
    <loops>
        <name>Loop_over_to_store_voucher_definition_brand_ID</name>
        <label>Loop over to store voucher definition brand ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_voucher_definition_brands</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_the_brand_provider_in_the_list_of_voucher_definition_brand</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Not_valid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_respective_Voucher</name>
        <label>get respective Voucher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_a_voucher</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VoucherID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Voucher</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VoucherDefinitionId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_voucher_definition_brands</name>
        <label>get voucher definition brands</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_to_store_voucher_definition_brand_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Debug_Details_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voucher_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_respective_Voucher.VoucherDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voucher_Definition_Brand__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_respective_Voucher</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Nebula_Logging</name>
        <label>Nebula Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Utility_Publish_Exception_Event</flowName>
        <inputAssignments>
            <name>DebugNotes</name>
            <value>
                <elementReference>varT_DebugNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExceptionDetails</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowName</name>
            <value>
                <stringValue>Voucher_is_brand_eligible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <elementReference>varT_DebugObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>VoucherID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BrandCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEligible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varT_DebugNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_DebugObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Voucher</stringValue>
        </value>
    </variables>
    <variables>
        <name>voucherdefinitionbrandids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VoucherID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
